Repository space-syndicate/space-station-14, pull requests merged in 2022-08, with the labels that each got.

#335 Перевод последнего обновления
  Resources/Locale/ru-RU/advertisements/vending/donut.ftl
  Resources/Locale/ru-RU/atmos/gas-passive-gate-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/light/components/expendable-light-component.ftl
  Resources/Locale/ru-RU/lobby/lobby-state.ftl
  Resources/Locale/ru-RU/nutrition/components/drink-component.ftl
  Resources/Locale/ru-RU/nutrition/components/food-component.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/tin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/wands.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/magic.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#337 Фикс комнатных растений
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
Labels: No C#, Changes: Localization

#336 Update humanoid-character-profile.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/preferences/humanoid-character-profile.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#338 Update drink-component.ftl
  Resources/Locale/ru-RU/nutrition/components/drink-component.ftl
Labels: No C#, Changes: Localization

#339 Две новые цели станции
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Objectives/goals.yml
Labels: No C#, Changes: Localization

#341 Janitor Trolley (Cart) Resprite
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_garbage.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_mop.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_replacer.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_sign1.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_sign2.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_sign3.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_sign4.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_spray.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_1.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_2.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_3.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
Labels: No C#, Changes: Sprites

#340 Operating Table Resprite
  Resources/Textures/Structures/Furniture/Tables/optable.rsi/meta.json
  Resources/Textures/Structures/Furniture/Tables/optable.rsi/operating_table.png
Labels: No C#, Changes: Sprites

#346 Перевод последнего обновления
  Resources/Locale/ru-RU/job/department.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/job/role-timers.ftl
  Resources/Locale/ru-RU/late-join/late-join-gui.ftl
  Resources/Locale/ru-RU/players/play-time/play-time-commands.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#347 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/wands.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#348 Upstream sync
  Content.Server/Access/Components/IdCardConsoleComponent.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Administration/Commands/PlayTimeCommands.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionTransferSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/Components/HandcuffComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/players/play-time/play-time-commands.ftl
  Resources/Locale/ru-RU/players/play-time/play-time-commands.ftl
Labels: Changes: Localization

#358 Перевод Upstream#352
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/access/components/id-card-console-component.ftl
  Resources/Locale/ru-RU/actions/actions/dragon.ftl
  Resources/Locale/ru-RU/anchorable/anchorable-component.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/crew-manifest/crew-manifest.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/info/rules.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-condition.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-shuttle.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/botany-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/emergency-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engines-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/materials-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/salvage-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/security-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/syndicate-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/specific/xenoarchaelogy/artifact-equipment.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/canisters/gas-canisters.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/shuttles/iff.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/base_instruments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_brass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_percussion.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_string.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_structures.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_wind.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/trinary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/dragon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/bar_sign.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/station-records/general-station-records.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#359 Перевод Upstream#357
  Resources/Locale/ru-RU/actions/actions/combat-mode.ftl
  Resources/Locale/ru-RU/construction/construction-categories.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/examine/examine-system.ftl
  Resources/Locale/ru-RU/job/role-timers.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/revenant/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/base_clothinguniforms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/rolling_paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/disposal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/units.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
  Resources/Prototypes/Datasets/Names/regalrat.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#361 Перевод Upstream#360
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#363 Перевод Upstream#362
  Resources/Locale/ru-RU/access/components/id-card-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/dispensers/base_structuredispensers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/pipes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/solar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/store/store.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#364 Перевод новых настенных табличек
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_bar.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_chemistry.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_food.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_hop.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_janitor.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_library.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#365 Фикс перевода шляпы чумного доктора
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#367 Перевод Upstream#366
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/construction/construction-categories.ftl
  Resources/Locale/ru-RU/guardian/guardian.ftl
  Resources/Locale/ru-RU/reagents/meta/elements.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/pipes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/metamap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/tools/components/welder-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#368 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/puddle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#372 Перевод Upstream#371
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/soft.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#374 Перевод Upstream#373
  Resources/Locale/ru-RU/ensnare/ensnare-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/botparts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wall_lockers.ftl
  Resources/Locale/ru-RU/strip/strippable-component.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#375 Микропатч перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
