Repository space-syndicate/space-station-14, pull requests merged in 2022-01, with the labels that each got.

#69 add: переводы от Lekar, ga, 3RMc, Morty
  Resources/Locale/ru-RU/prototypes/emitter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigars/case.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/radio.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/guardian_activators.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/dice.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/kudzu.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/atmos.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/tools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/cable_coils.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/baseball_bat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/spear.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/firelocks/frame.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/cloning_machine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: No C#, Status: Needs Review

#70 add: добавлены переводы от Lekar, ga
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/inventory/components/inventory-component.ftl
  Resources/Locale/ru-RU/prototypes/emitter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/joints.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/radio.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/machine_parts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/srifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/reinforced.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/virtual/virtual_item.ftl
Labels: No C#, Status: Needs Review

#71 add: Актуализированы ключи переводов
  Resources/Locale/ru-RU/administration/commands/set-looc-command.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/server-tab.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
Labels: No C#, Status: Needs Review

#74 Small fixes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/publish.yml
  Resources/Maps/constructionstation.yml
  Resources/Maps/syndieshuttle.yml
Labels: No C#, Status: Needs Review, Changes: Map

#77 add: Добавлены русские переводы
  Resources/Locale/ru-RU/_units.ftl
  Resources/Locale/ru-RU/guardian/guardian.ftl
  Resources/Locale/ru-RU/inventory/components/inventory-component.ftl
  Resources/Locale/ru-RU/kitchen/components/microwave-component.ftl
  Resources/Locale/ru-RU/reagents/buzzochloricbees.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/pizza.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/antimatter_jar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/trashbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/welders.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/meteors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/fireaxe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/units.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/singularity/generator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/closets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/fire_alarm.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/mirror.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
Labels: No C#, Status: Needs Review

#75 Add only russian speakers rule & typo
  Resources/Server Info/Rules.txt
Labels: No C#, Status: Needs Review

#79 Update Syndie shuttle & add Syndie operative base
  Resources/Maps/infiltrator.yml
  Resources/Maps/syndiebase.yml
  Resources/Maps/syndieshuttle.yml
  Resources/Prototypes/Maps/game.yml
Labels: No C#, Status: Needs Review, Changes: Map

#80 Update wiki url for GitHub action
  .github/workflows/update-wiki.yml
Labels: No C#, Status: Needs Review

#83 add: Добавлены русские переводы
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
  Resources/Locale/ru-RU/guardian/guardian.ftl
  Resources/Locale/ru-RU/kitchen/components/kitchen-spike-component.ftl
  Resources/Locale/ru-RU/kitchen/components/microwave-component.ftl
  Resources/Locale/ru-RU/reagents/buzzochloricbees.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/rolling_paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/dice.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/utensils.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/antimatter_jar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/pipes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/girder.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/reinforced.ftl
Labels: No C#, Status: Needs Review

#85 Decrease default interaction range to 1.2
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review
