Repository space-syndicate/space-station-14, pull requests merged in 2022-11, with the labels that each got.

#504 Перевод Upstream #503
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/tencodes.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/job/job.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/ru-RU/reagents/generic.ftl
  Resources/Locale/ru-RU/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/reagents/norepinephricacid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/tencodes.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Misc/tencodes.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#508 Increase Delta roles count
  Resources/Prototypes/Maps/delta.yml
Labels: No C#, Changes: Map

#511 Upstream sync
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Server/Entry/EntryPoint.cs
  Resources/Changelog/Changelog.yml
  Resources/Maps/marathon.yml
Labels: Changes: Map

#514 Replace Patreon with Boosty
  Content.Client/Links/UILinks.cs
  Resources/Locale/ru-RU/credits/credits-window.ftl
Labels: Changes: Localization

#515 Change windows size
  Content.Client/Administration/UI/AdminMenuWindow.xaml.cs
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml
  Content.Client/Kitchen/UI/GrinderMenu.xaml
  Content.Client/Nuke/NukeMenu.xaml
  Content.Client/PDA/PDAMenu.xaml
  Content.Client/Power/PowerMonitoringWindow.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
Labels: Changes: UI

#517 Перевод Upstream #516
  Resources/Locale/ru-RU/atmos/portable-scrubber.ftl
  Resources/Locale/ru-RU/botany/components/seed-extractor-component.ftl
  Resources/Locale/ru-RU/components/gas-filter-component.ftl
  Resources/Locale/ru-RU/components/gas-thermomachine-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/kitchen/components/microwave-component.ftl
  Resources/Locale/ru-RU/lathe/components/lathe-component.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/medical/components/biomass-reclaimer-component.ftl
  Resources/Locale/ru-RU/medical/components/cloning-pod-component.ftl
  Resources/Locale/ru-RU/medical/components/stasis-bed-component.ftl
  Resources/Locale/ru-RU/singularity/components/emitter-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigars/cigar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/present.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/matches.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/rollerbeds.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#519 [Resprite] Stamps
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-approve.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-cap.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-ce.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-cent.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-chaplain.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-clown.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-cmo.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-deny.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-hop.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-hos.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-mime.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-qm.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-rd.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-syndicate.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-approve.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cap.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-ce.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cent.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-chaplain.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-clown.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cmo.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-deny.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-hop.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-hos.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-iaa.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-mime.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-qm.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-rd.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-syndicate.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-warden.png
Labels: No C#, Changes: Sprites

#522 Перевод Upstream #520
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/security/target.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/artifacts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/artifact_analyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/station-events/events/bluespace-artifact.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#524 Перевод Upstream #520 Part 2
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#525 Перевод Upstream #523
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Locale/ru-RU/voting/managers/vote-manager.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#527 Перевод Upstream #526
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-atmospherics.ftl
  Resources/Locale/ru-RU/actions/actions/disarm-action.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridge-loader-component.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/crew-manifest/crew-manifest.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/eye/blindness.ftl
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/kitchen/components/reagent-grinder-component.ftl
  Resources/Locale/ru-RU/markings/diona.ftl
  Resources/Locale/ru-RU/markings/tattoos.ftl
  Resources/Locale/ru-RU/medical/components/cloning-console-component.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-atmospherics.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/botany-crates.ftl
  Resources/Locale/ru-RU/species/namepreset.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/botany.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Locale/ru-RU/store/categories.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Prototypes/Datasets/Names/diona.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#530 Upstream sync
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Content.Server/Atmos/Piping/Binary/Components/GasRecyclerComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasRecyclerSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Content.Server/CartridgeLoader/CartridgeLoaderSystem.cs
  Content.Server/Chemistry/Components/InjectorComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Hands/HandEvents.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/atmos/gas-recycler-system.ftl
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/round-end/round-end-system.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/atmos/gas-recycler-system.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Maps/kettle.yml
  Resources/Maps/lighthouse.yml
  Resources/Maps/nukieplanet.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: Changes: Map, Changes: Localization

#529 Peaceful dionas
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
Labels: No C#

#531 Перевод Upstream #530
  Resources/Locale/ru-RU/atmos/gas-recycler-system.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#533 Fix Diona lastnames generation
  Resources/Prototypes/Species/diona.yml
Labels: No C#

#532 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/artifacts.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#535 Upstream sync
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Map.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactAnalyzer.cs
  Resources/Audio/Effects/Diseases/cough1.ogg
  Resources/Audio/Effects/Diseases/cough2.ogg
  Resources/Audio/Effects/Diseases/license.txt
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Maps/cluster.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifacts.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/extinguisher_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/XenoArch/artifact_effects.yml
Labels: Changes: Map, Changes: UI, Changes: Localization

#536 Перевод Upstream #535
  Resources/Locale/ru-RU/strip/strippable-component.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#539 Emergency shuttle upgrade
  Resources/Maps/Shuttles/emergency.yml
Labels: No C#, Status: Needs Review

#541 Increase role required time
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#542 Increase newbie roles time
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#

#545 Increase IAA role time
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: No C#

#546 Update chat-manager.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#547 Remove diona combat action
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
Labels: No C#

#549 Patch emergency shuttle
  Resources/Maps/Shuttles/emergency.yml
Labels: No C#, Status: Needs Review

#550 Grenades resprite
  Resources/Textures/Objects/Weapons/Grenades/flashbang.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/flashbang.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/flashbang.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/grenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/grenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/grenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/complete.png
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/empty.png
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/no-payload.png
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/wired.png
  Resources/Textures/Objects/Weapons/Grenades/nukenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/nukenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/nukenade.rsi/primed.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#552 Sponsors markings
  Content.Client/Corvax/Sponsors/ClientSponsorsManager.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Preferences/ClientPreferencesManager.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Shared/Corvax/Sponsors/MsgSponsorInfo.cs
  Content.Shared/Corvax/Sponsors/SponsorInfo.cs
  Content.Shared/Corvax/Sponsors/SponsorsManager.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Species/human.yml
Labels: Changes: UI

#553 ExGrenade pin removal sound add
  Resources/Audio/Effects/grenade_pin.ogg
  Resources/Audio/Effects/licenses.txt
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#, Status: Needs Review

#555 Перевод Upstream #554
  Resources/Locale/ru-RU/administration/ui/actions.ftl
  Resources/Locale/ru-RU/administration/ui/ban-list.ftl
  Resources/Locale/ru-RU/atmos/gas-tank-component.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/rped.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/cable_terminal.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#558 Revert "ExGrenade pin removal sound add"
  Resources/Audio/Effects/grenade_pin.ogg
  Resources/Audio/Effects/licenses.txt
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#

#560 Перевод Upstream #559
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/medical/components/medical-scanner-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speedloaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#563 Перевод Upstream #562
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/item_artifacts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/structure_artifacts.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#566 Перевод Upstream #564
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/artifact_analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/traversal-distorter.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#572 Fix/box min population
  Resources/Prototypes/Corvax/Maps/box.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
Labels: No C#

#567 [Resprite] Syndicate Hardsuits
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/combat-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/on-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/meta.json
Labels: No C#, Changes: Sprites

#568 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/structure_artifacts.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#574 Перевод Upstream #571
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/suicide/suicide.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#576 [Resprite] Cybersun hardsuit
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/meta.json
Labels: No C#, Changes: Sprites

#573 Правки перевода ящиков #2
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/botany.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/syndicate.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#581 Перевод Upstream #580
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/maps/planet.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#584 Исправление спрайта шлема командира Синдиката
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-equipped-HELMET.png
Labels: No C#, Changes: Sprites

#583 Очередь подключения на заполненный сервер
  Content.Client/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Content.Client/Corvax/JoinQueue/QueueState.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Corvax/JoinQueue/MsgQueueUpdate.cs
  Resources/Locale/ru-RU/corvax/join-queue/queue-screen.ftl
Labels: Changes: UI, Changes: Localization

#587 Перевод Upstream #585
  Resources/Locale/ru-RU/verbs/verb-system.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#590 Revert "Server join queue"
  Content.Client/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Content.Client/Corvax/JoinQueue/QueueState.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Corvax/JoinQueue/MsgQueueUpdate.cs
  Resources/Locale/ru-RU/corvax/join-queue/queue-screen.ftl
Labels: Changes: UI, Changes: Localization

#591 Upstream sync
  Content.Client/Explosion/ExplosionOverlay.cs
  Content.Client/Explosion/ExplosionOverlaySystem.cs
  Content.Client/Explosion/ExplosionVisualsComponent.cs
  Content.Client/Tabletop/TabletopSystem.cs
  Content.Server/Explosion/Components/ExplosionVisualsComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Visuals.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Voice.cs
  Content.Server/StationEvents/Events/VentClog.cs
  Content.Server/Tabletop/TabletopSystem.Draggable.cs
  Content.Server/Tabletop/TabletopSystem.cs
  Content.Shared/Administration/SpawnExplosionEuiMsg.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Explosion/ExplosionEvents.cs
  Content.Shared/Explosion/SharedExplosionVisualsComponent.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Tabletop/SharedTabletopSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/en-US/weapons/grenades/voice-trigger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/weapons/grenades/voice-trigger.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
  Resources/Textures/Structures/Machines/exosuit_fabricator.rsi/fab-active.png
  Resources/Textures/Structures/Machines/exosuit_fabricator.rsi/fab-idle.png
  Resources/Textures/Structures/Machines/exosuit_fabricator.rsi/fab-load.png
  Resources/Textures/Structures/Machines/exosuit_fabricator.rsi/fab-o.png
  Resources/Textures/Structures/Machines/exosuit_fabricator.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#592 Перевод Upstream #591
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/weapons/grenades/voice-trigger.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#593 Rework sponsor markings
  Content.Client/Corvax/Sponsors/ClientSponsorsManager.cs
  Content.Client/Corvax/Sponsors/SponsorsManager.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Preferences/ClientPreferencesManager.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Corvax/Sponsors/SponsorsManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Shared/Corvax/Sponsors/MsgSponsorInfo.cs
  Content.Shared/Corvax/Sponsors/SponsorInfo.cs
  Content.Shared/Corvax/Sponsors/SponsorsManager.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Preferences/ICharacterProfile.cs
Labels: Changes: UI

#596 Шаттл эвакуации для дельты
  Resources/Maps/Shuttles/delta_shuttle.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
Labels: No C#, Status: Needs Review

#589 Add handlebar moustaches
  Resources/Locale/ru-RU/corvax/accessories/human-facial-hair.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/human_facial_hair.yml
  Resources/Textures/Corvax/Mobs/Customization/human_facial_hair.rsi/handlebar.png
  Resources/Textures/Corvax/Mobs/Customization/human_facial_hair.rsi/handlebar2.png
  Resources/Textures/Corvax/Mobs/Customization/human_facial_hair.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Localization

#548 Additional sponsor character slots
  Content.Client/Preferences/UI/CharacterSetupGui.xaml.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Shared/Corvax/Sponsors/MsgSponsorInfo.cs
Labels: Changes: UI

#598 Перевод новых причёсок
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/corvax/accessories/human-hair.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#602 Revert "Revert "Server join queue (#583)""
  Content.Client/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Content.Client/Corvax/JoinQueue/QueueState.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Corvax/JoinQueue/MsgQueueUpdate.cs
  Resources/Locale/ru-RU/corvax/join-queue/queue-screen.ftl
Labels: Changes: UI, Changes: Localization

#600 [Resprite] Hydroponics production
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Textures/Objects/Specific/Hydroponics/aloe.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/aloe.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/apple.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/apple.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/cannabis.rsi/dried.png
  Resources/Textures/Objects/Specific/Hydroponics/cannabis.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/cannabis.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/carrot.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/carrot.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/chanterelle.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/chanterelle.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/chili.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/chili.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/corn.rsi/cob.png
  Resources/Textures/Objects/Specific/Hydroponics/corn.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/corn.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/corn.rsi/produce_big.png
  Resources/Textures/Objects/Specific/Hydroponics/eggplant.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/eggplant.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/eggy.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/eggy.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/lemon.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/lemon.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/onion_red.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/onion_red.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/potato.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/potato.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/stobacco.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/stobacco.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/sugarcane.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/sugarcane.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/tobacco.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/tobacco.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/tomato.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/tomato.rsi/produce.png
Labels: No C#, Changes: Sprites

#604 Join min playtime
  Content.Server/Corvax/JoinPlayTime/JoinPlayTimeManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/ru-RU/corvax/join-playtime/join-playtime-reason.ftl
Labels: Changes: Localization
