Repository space-syndicate/space-station-14, pull requests merged in 2022-09, with the labels that each got.

#380 Перевод Upstream#379
  Resources/Locale/ru-RU/access/components/id-card-component.ftl
  Resources/Locale/ru-RU/construction/components/machine-frame-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/medical/components/cloning-console-component.ftl
  Resources/Locale/ru-RU/medical/components/cloning-pod-component.ftl
  Resources/Locale/ru-RU/movement/eye.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/shuttle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/medical/biomass_reclaimer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/medical/disease_diagnoser.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/medical/vaccinator.ftl
  Resources/Locale/ru-RU/tools/components/lattice-cutting-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#384 Перевод Upstream#383
  Resources/Locale/ru-RU/atmos/air-alarm-ui.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/devices/network-configurator.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/salvage/salvage-ruler-command.ftl
  Resources/Locale/ru-RU/sandbox/sandbox-manager.ftl
  Resources/Locale/ru-RU/shell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/turrets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/shutter/blast_door_autolink.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/atmospherics/sensor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch_autolink.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/girders.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/npcs/test.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#387 Перевод датасета имён волшебников
  Resources/Prototypes/Datasets/Names/wizard_first.yml
  Resources/Prototypes/Datasets/Names/wizard_last.yml
Labels: No C#, Status: Needs Review

#386 Правки перевода
  Resources/Locale/ru-RU/access/components/id-card-component.ftl
  Resources/Locale/ru-RU/chat/sanitizer-replacements.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/gas_tanks.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#377 1984: Время для ролей
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#, Status: Needs Review

#389 Использовать время за департамент вместо обучающих ролей
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: No C#

#390 Обучающие роли доступны пока недоступна основная
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#

#392 Перевод Upstream#391
  Resources/Locale/ru-RU/apc/components/apc-component.ftl
  Resources/Locale/ru-RU/armor/armor-examine.ftl
  Resources/Locale/ru-RU/atmos/gas-analyzer-component.ftl
  Resources/Locale/ru-RU/clothing/clothing-speed.ftl
  Resources/Locale/ru-RU/construction/conditions/apc-open-condition.ftl
  Resources/Locale/ru-RU/damage/damage-examine.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/job/role-ban-command.ftl
  Resources/Locale/ru-RU/nutrition/components/drink-component.ftl
  Resources/Locale/ru-RU/nutrition/components/food-component.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/reagents/meta/elements.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/condiments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/apc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/paintings.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#393 Откат увеличения времени для ролей
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#395 Агент внутренних дел Nanotrasen
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/catalog/fills/items/briefcases.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/identification_cards.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/paper/stamp-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/stamps.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/play_time_trackers.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/nss_pillar.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packedstation.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/splitstation.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/IAA.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-approve.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-iaa.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idiaa.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map, Changes: Localization

#385 robust-toolbox locale
  Resources/Locale/ru-RU/robust-toolbox/client-state-commands.ftl
  Resources/Locale/ru-RU/robust-toolbox/commands.ftl
  Resources/Locale/ru-RU/robust-toolbox/controls.ftl
  Resources/Locale/ru-RU/robust-toolbox/defaultwindow.ftl
  Resources/Locale/ru-RU/robust-toolbox/input.ftl
  Resources/Locale/ru-RU/robust-toolbox/view-variables.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#396 Гарнитура АВД
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/ears/headsets.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: No C#, Changes: Localization

#397 Перевод artifacts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/artifacts.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#398 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#400 Перевод Upstream#399 Ч.1
  Resources/Locale/ru-RU/atmos/gas-canister-component.ftl
  Resources/Locale/ru-RU/atmos/gas-recycler-system.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-order-component.ftl
  Resources/Locale/ru-RU/cargo/price-gun-component.ftl
  Resources/Locale/ru-RU/chapel/bible.ftl
  Resources/Locale/ru-RU/character-appearance/components/humanoid-appearance-component.ftl
  Resources/Locale/ru-RU/character-info/components/character-info-component.ftl
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
  Resources/Locale/ru-RU/clothing/components/chameleon-component.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/forensics/fibers.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/hand-labeler/hand-labeler.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/npc/medibot.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/lightning.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/base.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/skeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/binary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/virtual/beam.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Prototypes/Datasets/Names/regalrat.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#401 Перевод Upstream#399 Ч.2
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engineering-crates.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#403 Правка акцента болезни спутанного сознания
  Resources/Locale/ru-RU/accent/scrambled.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#405 Плакат с призывом в дедсквад теперь контрабанда
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
Labels: No C#, Status: Needs Review

#409 Перевод Upstream #408
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/gases/gases.ftl
  Resources/Locale/ru-RU/misc-computers.ftl
  Resources/Locale/ru-RU/preferences/ui/markings-picker.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_special.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/pipes/pipe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/base_electronics.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/pa/control_box.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/smes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/substation.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/base_structureclosets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/closets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wall_lockers.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#411 Суффиксы для оружия
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/hmgs/hmgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/lmgs/lmgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/snipers/snipers.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#422 [Resprite] Hypospray & Antique gun
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/combat_hypo.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/meta.json
Labels: No C#, Changes: Sprites

#421 [Resprite] Books
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookfireball.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookforcewall.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/bookknock.png
  Resources/Textures/Objects/Magic/spellbooks.rsi/meta.json
  Resources/Textures/Objects/Magic/spellbooks.rsi/spellbook.png
  Resources/Textures/Objects/Misc/books.rsi/book0.png
  Resources/Textures/Objects/Misc/books.rsi/book1.png
  Resources/Textures/Objects/Misc/books.rsi/book2.png
  Resources/Textures/Objects/Misc/books.rsi/book3.png
  Resources/Textures/Objects/Misc/books.rsi/book4.png
  Resources/Textures/Objects/Misc/books.rsi/book5.png
  Resources/Textures/Objects/Misc/books.rsi/book6.png
  Resources/Textures/Objects/Misc/books.rsi/book7.png
  Resources/Textures/Objects/Misc/books.rsi/book8.png
  Resources/Textures/Objects/Misc/books.rsi/book_bar.png
  Resources/Textures/Objects/Misc/books.rsi/book_boneworking.png
  Resources/Textures/Objects/Misc/books.rsi/book_borg.png
  Resources/Textures/Objects/Misc/books.rsi/book_chemistry.png
  Resources/Textures/Objects/Misc/books.rsi/book_cooking.png
  Resources/Textures/Objects/Misc/books.rsi/book_demonomicon.png
  Resources/Textures/Objects/Misc/books.rsi/book_detective.png
  Resources/Textures/Objects/Misc/books.rsi/book_engineering.png
  Resources/Textures/Objects/Misc/books.rsi/book_engineering2.png
  Resources/Textures/Objects/Misc/books.rsi/book_fish.png
  Resources/Textures/Objects/Misc/books.rsi/book_hacking.png
  Resources/Textures/Objects/Misc/books.rsi/book_hydroponics_pod_people.png
  Resources/Textures/Objects/Misc/books.rsi/book_infections.png
  Resources/Textures/Objects/Misc/books.rsi/book_nuclear.png
  Resources/Textures/Objects/Misc/books.rsi/book_origami.png
  Resources/Textures/Objects/Misc/books.rsi/book_particle_accelerator.png
  Resources/Textures/Objects/Misc/books.rsi/book_space_law.png
  Resources/Textures/Objects/Misc/books.rsi/meta.json
Labels: No C#, Changes: Sprites

#420 Update hop direction sign sprite
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_hop.png
Labels: No C#, Changes: Sprites

#419 [Resprite] Shoes
  Resources/Textures/Clothing/Shoes/Boots/jackboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/jackboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/jackboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/icon-on.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/on-equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/icon-on.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/on-equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/icon-on.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/on-equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/workboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/workboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/workboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Specific/galoshes.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Specific/galoshes.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Specific/galoshes.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Specific/swat.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Specific/swat.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Specific/swat.rsi/meta.json
Labels: No C#, Changes: Sprites

#416 [Resprite] Cloaks
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/capcloakformal.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/ce.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/hos.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/rd.rsi/meta.json
Labels: No C#, Changes: Sprites

#410 [Resprite] Backpacks
  Resources/Textures/Clothing/Back/Backpacks/backpack.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/backpack.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/backpack.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/botany.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/botany.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/botany.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/chemistry.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/chemistry.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/chemistry.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/engineering.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/engineering.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/engineering.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/medical.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/medical.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/medical.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/mime.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/mime.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/science.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/science.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/science.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/virology.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/virology.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/virology.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/chemistry.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/chemistry.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/science.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/science.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/chemistry.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/chemistry.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/chemistry.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/engineering.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/engineering.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/engineering.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/hydroponics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/hydroponics.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/hydroponics.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/medical.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/medical.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/medical.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/satchel.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/science.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/science.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/science.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/meta.json
Labels: No C#, Changes: Sprites

#417 Update nitrile box icon
  Resources/Textures/Objects/Storage/boxes.rsi/nitrile.png
Labels: No C#, Changes: Sprites

#424 Микрофикс пробела в humanoid-appearance-component.ftl
  Resources/Locale/ru-RU/character-appearance/components/humanoid-appearance-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#423 Use new security helmet
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: No C#

#426 Микрофикс перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#427 Remove lawyer from select in lobby
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#

#429 BRB sign retexture
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/brb_sign.ftl
  Resources/Textures/Objects/Misc/brbsign.rsi/icon.png
  Resources/Textures/Objects/Misc/brbsign.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#430 Refactor Discord round notifications
  Content.Server/Corvax/RoundNotifications/RoundNotificationsSystem.cs
  Content.Server/GameTicking/GameTicker.CVars.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicket.Discord.cs
  Content.Shared/GameTicking/RoundStartedEvent.cs
  Resources/Locale/en-US/corvax/round-notifications/notifications.ftl
  Resources/Locale/ru-RU/corvax/round-notifications/notifications.ftl
Labels: Changes: Localization

#433 Add 3.9 rule & update Discord link
  Resources/Server Info/RulesCorvax.txt
Labels: No C#

#434 Перевод Upstream #432
  Resources/Locale/ru-RU/actions/actions/combat-mode.ftl
  Resources/Locale/ru-RU/actions/actions/disarm-action.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/botany/components/seed-component.ftl
  Resources/Locale/ru-RU/commands/stat-values-command.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-broken.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/doors/door.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/shuttles/thruster.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/lightning.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/hmgs/hmgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/lmgs/lmgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/voice-mask.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
