Repository space-syndicate/space-station-14, pull requests merged in 2022-12, with the labels that each got.

#608 Перевод Upstream #605
  Resources/Locale/ru-RU/afk/afk.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/canisters/gas_canisters.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#611 Upstream sync
  Content.Client/CartridgeLoader/CartridgeLoaderBoundUserInterface.cs
  Content.Client/CartridgeLoader/CartridgeUiComponent.cs
  Content.Client/CartridgeLoader/Cartridges/NetProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/NotekeeperUi.cs
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Client/Info/DevInfoBanner.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/Info/ServerInfo.cs
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Links/UILinks.cs
  Content.Client/NetworkConfigurator/NetworkConfiguratorLinkOverlay.cs
  Content.Client/UserInterface/Fragments/UIFragment.cs
  Content.Client/UserInterface/Fragments/UiFragmentComponent.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Server/Body/Commands/AddHandCommand.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/ServerInfo/ServerInfoManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Locale/en-US/info/server-info.ftl
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-engineering.ftl
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-medical.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/en-US/server-info/info-links.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/info/server-info.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-engineering.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-medical.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/ru-RU/server-info/info-links.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Maps/bagel.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/modular_grenade.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/modular_mine.yml
Labels: Changes: Map, Changes: UI, Changes: Localization

#610 Добавил рп-строчку в окно клонёрки
  Resources/Locale/ru-RU/cloning/accept-cloning-window.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#613 Перевод Upstream #611
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/info/server-info.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/ru-RU/server-info/info-links.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/medkits.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#612 Update rules
  Resources/Server Info/RulesCorvax.txt
Labels: No C#

#614 Update rules
  Resources/Server Info/RulesCorvax.txt
Labels: No C#

#615 Revert "Join min playtime (#604)"
  Content.Server/Corvax/JoinPlayTime/JoinPlayTimeManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/ru-RU/corvax/join-playtime/join-playtime-reason.ftl
Labels: Changes: Localization

#616 [Sponsor] Purple pulsing marking
  Resources/Locale/ru-RU/corvax/accessories/sponsor.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/sponsor.yml
  Resources/Textures/Corvax/Mobs/Customization/sponsor.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/sponsor.rsi/purplepulsing.png
Labels: No C#, Changes: Sprites, Changes: Localization

#621 Правки перевода
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/tools/components/welder-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#622 [Resprite] Deathsquad hardsuit
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/deathsquad.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/deathsquad.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/deathsquad.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/deathsquad.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/deathsquad.rsi/meta.json
Labels: No C#, Changes: Sprites

#620 Доступ в космос для АВД
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: No C#, Status: Needs Review

#603 Animated cat tail
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Textures/Mobs/Customization/cat_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/cat_parts.rsi/tail_cat_wag.png
Labels: No C#, Changes: Sprites

#625 [Hotfix] Deathsquad
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/Clothing/Head/Hardsuits/deathsquad.rsi/on-equipped-HELMET.png
Labels: No C#, Changes: Sprites

#626 Перевод Upstream #623
  Resources/Locale/ru-RU/atmos/air-alarm-ui.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/preferences/ui/character-setup-gui.ftl
  Resources/Locale/ru-RU/radiation/geiger-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/shuttle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/geiger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speedloaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/visual_effects.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#538 Добавление декалей кириллических букв
  Resources/Prototypes/Corvax/Decals/crayons.yml
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_b.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_c.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_ch.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_d.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_eh.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_f.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_g.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_hard_sign.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_i.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_l.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_p.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_sh.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_shh.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_soft_sign.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_u.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_y.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_ya.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_z.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/cyr_zh.png
  Resources/Textures/Corvax/Effects/crayondecals.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#630 Перевод Upstream #628
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#629 Правки перевода
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#632 Classic traitor alert
  Resources/Audio/Misc/tatoralert.ogg
Labels: No C#

#633 GitHub files update
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/no-submodule-update.yml
Labels: No C#

#635 Перевод Upstream #634
  Resources/Locale/ru-RU/actions/actions/mech.ftl
  Resources/Locale/ru-RU/mech/mech.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/mech.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mech_construction.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mecha_equipment.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mechs.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#637 Перевод Upstream #636
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/fax/fax.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/fax_machine.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/xenoarchaeology/traversal-distorter.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#643 Remove priority join button
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Resources/Locale/ru-RU/corvax/join-queue/queue-screen.ftl
Labels: No C#, Changes: UI, Changes: Localization

#644 Disable priority join button
  Content.Client/Corvax/JoinQueue/QueueGui.xaml
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Resources/Locale/ru-RU/corvax/join-queue/queue-screen.ftl
Labels: Changes: UI, Changes: Localization

#646 Hotfix Inject DI to queue GUI
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
Labels: Changes: UI

#648 Перевод Upstream #647
  Resources/Locale/ru-RU/radio/components/handheld-radio-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/intercom.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#654 Перевод Upstream #649
  Resources/Locale/ru-RU/shuttles/thruster.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#650 [Resprite] Hydroponics & mining bags
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/icon.png
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/icon.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
Labels: No C#, Changes: Sprites

#652 New sponsor markings
  Resources/Locale/ru-RU/markings/cat.ftl
  Resources/Locale/ru-RU/markings/fox.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/fox_parts.yml
  Resources/Prototypes/Corvax/Mobs/Customization/Markings/cat_parts.yml
  Resources/Textures/Corvax/Mobs/Customization/cat_parts.rsi/ears_curled_inner.png
  Resources/Textures/Corvax/Mobs/Customization/cat_parts.rsi/ears_curled_outer.png
  Resources/Textures/Corvax/Mobs/Customization/cat_parts.rsi/ears_stubby_inner.png
  Resources/Textures/Corvax/Mobs/Customization/cat_parts.rsi/ears_stubby_outer.png
  Resources/Textures/Corvax/Mobs/Customization/cat_parts.rsi/ears_torn_inner.png
  Resources/Textures/Corvax/Mobs/Customization/cat_parts.rsi/ears_torn_outer.png
  Resources/Textures/Corvax/Mobs/Customization/cat_parts.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/cat_parts.rsi/tail_cat_wag_stripes_prime.png
  Resources/Textures/Corvax/Mobs/Customization/cat_parts.rsi/tail_cat_wag_stripes_second.png
  Resources/Textures/Corvax/Mobs/Customization/fox_parts.rsi/ears_fox_inner.png
  Resources/Textures/Corvax/Mobs/Customization/fox_parts.rsi/ears_fox_outer.png
  Resources/Textures/Corvax/Mobs/Customization/fox_parts.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Localization

#651 Правки перевода
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/medical-crates.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#655 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#660 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/high_pressure_machine_frame.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#663 Перевод Upstream #658
  Resources/Locale/en-US/chemistry/components/mixing-component.ftl
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/administration/commands/osay-command.ftl
  Resources/Locale/ru-RU/advertisements/vending/chefvend.ftl
  Resources/Locale/ru-RU/advertisements/vending/nutrimax.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/chemistry/components/mixing-component.ftl
  Resources/Locale/ru-RU/holiday/gifts.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/items/components/multi-handed-item-component.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/mind/components/mind-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Locale/ru-RU/research/components/technology-disk.ftl
  Resources/Locale/ru-RU/robust-toolbox/_engine_lib.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/frozen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/present.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/librarian/books_bag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/disk.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/node_scanner.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/tools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/techdiskterminal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/fax_machine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/store/categories.ftl
  Resources/Locale/ru-RU/xenoarchaeology/node-scanner.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#664 Add missing rule
  Resources/Server Info/RulesCorvax.txt
Labels: No C#

#659 Fax and can resprites
  Resources/Textures/Structures/Machines/fax_machine.rsi/icon.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/idle.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/meta.json
  Resources/Textures/Structures/Machines/fax_machine.rsi/printing.png
  Resources/Textures/Structures/Storage/canister.rsi/black-1.png
  Resources/Textures/Structures/Storage/canister.rsi/black.png
  Resources/Textures/Structures/Storage/canister.rsi/blue-1.png
  Resources/Textures/Structures/Storage/canister.rsi/blue.png
  Resources/Textures/Structures/Storage/canister.rsi/can-connector.png
  Resources/Textures/Structures/Storage/canister.rsi/can-locked.png
  Resources/Textures/Structures/Storage/canister.rsi/can-o0.png
  Resources/Textures/Structures/Storage/canister.rsi/can-o1.png
  Resources/Textures/Structures/Storage/canister.rsi/can-o2.png
  Resources/Textures/Structures/Storage/canister.rsi/can-o3.png
  Resources/Textures/Structures/Storage/canister.rsi/can-open.png
  Resources/Textures/Structures/Storage/canister.rsi/can-unlocked.png
  Resources/Textures/Structures/Storage/canister.rsi/darkblue-1.png
  Resources/Textures/Structures/Storage/canister.rsi/darkblue.png
  Resources/Textures/Structures/Storage/canister.rsi/frezon-1.png
  Resources/Textures/Structures/Storage/canister.rsi/frezon.png
  Resources/Textures/Structures/Storage/canister.rsi/green-1.png
  Resources/Textures/Structures/Storage/canister.rsi/green.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys-1.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys.png
  Resources/Textures/Structures/Storage/canister.rsi/grey-1.png
  Resources/Textures/Structures/Storage/canister.rsi/grey.png
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/orange-1.png
  Resources/Textures/Structures/Storage/canister.rsi/orange.png
  Resources/Textures/Structures/Storage/canister.rsi/red-1.png
  Resources/Textures/Structures/Storage/canister.rsi/red.png
  Resources/Textures/Structures/Storage/canister.rsi/redws-1.png
  Resources/Textures/Structures/Storage/canister.rsi/redws.png
  Resources/Textures/Structures/Storage/canister.rsi/water_vapor-1.png
  Resources/Textures/Structures/Storage/canister.rsi/water_vapor.png
  Resources/Textures/Structures/Storage/canister.rsi/yellow-1.png
  Resources/Textures/Structures/Storage/canister.rsi/yellow.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#665 [Sponsor] Atmosian
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Locale/ru-RU/corvax/accessories/sponsor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Prototypes/Corvax/Catalog/Loadout/sponsor.yml
  Resources/Prototypes/Corvax/sponsor.yml
  Resources/Textures/Corvax/Sponsor/Clothing/Mask/atmosian.rsi/equipped-MASK.png
  Resources/Textures/Corvax/Sponsor/Clothing/Mask/atmosian.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/Clothing/Mask/atmosian.rsi/inhand-left.png
  Resources/Textures/Corvax/Sponsor/Clothing/Mask/atmosian.rsi/inhand-right.png
  Resources/Textures/Corvax/Sponsor/Clothing/Mask/atmosian.rsi/meta.json
  Resources/Textures/Corvax/Sponsor/Clothing/Neck/Cloaks/atmosian.rsi/equipped-NECK.png
  Resources/Textures/Corvax/Sponsor/Clothing/Neck/Cloaks/atmosian.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/Clothing/Neck/Cloaks/atmosian.rsi/meta.json
  Resources/Textures/Corvax/Sponsor/Clothing/OuterClothing/Coats/atmosian.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Sponsor/Clothing/OuterClothing/Coats/atmosian.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/Clothing/OuterClothing/Coats/atmosian.rsi/inhand-left.png
  Resources/Textures/Corvax/Sponsor/Clothing/OuterClothing/Coats/atmosian.rsi/inhand-right.png
  Resources/Textures/Corvax/Sponsor/Clothing/OuterClothing/Coats/atmosian.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Localization

#670 [Sponsor] Skeleton outfit + Gamer cloack
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Prototypes/Corvax/Catalog/Loadout/sponsor.yml
  Resources/Prototypes/Corvax/sponsor.yml
  Resources/Textures/Corvax/Sponsor/Clothing/Mask/death.rsi/equipped-MASK.png
  Resources/Textures/Corvax/Sponsor/Clothing/Mask/death.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/Clothing/Mask/death.rsi/meta.json
  Resources/Textures/Corvax/Sponsor/Clothing/Neck/Cloaks/gamer.rsi/equipped-NECK.png
  Resources/Textures/Corvax/Sponsor/Clothing/Neck/Cloaks/gamer.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/Clothing/Neck/Cloaks/gamer.rsi/meta.json
  Resources/Textures/Corvax/Sponsor/Clothing/Uniforms/Jumpsuit/skeleton.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Corvax/Sponsor/Clothing/Uniforms/Jumpsuit/skeleton.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/Clothing/Uniforms/Jumpsuit/skeleton.rsi/inhand-left.png
  Resources/Textures/Corvax/Sponsor/Clothing/Uniforms/Jumpsuit/skeleton.rsi/inhand-right.png
  Resources/Textures/Corvax/Sponsor/Clothing/Uniforms/Jumpsuit/skeleton.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Localization

#669 [Sponsor] Remove Pulsing (Purple)
  Resources/Locale/ru-RU/corvax/accessories/sponsor.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/sponsor.yml
  Resources/Textures/Corvax/Mobs/Customization/sponsor.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/sponsor.rsi/purplepulsing.png
Labels: No C#, Changes: Sprites, Changes: Localization

#671 Atmosian sponsor set visual adjusts
  Resources/Textures/Corvax/Sponsor/Clothing/Mask/atmosian.rsi/equipped-MASK.png
  Resources/Textures/Corvax/Sponsor/Clothing/Mask/atmosian.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/Clothing/Neck/Cloaks/atmosian.rsi/equipped-NECK.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#675 Перевод Upstream #674 часть 1
  Resources/Locale/ru-RU/chemistry/components/solution-heater-component.ftl
  Resources/Locale/ru-RU/mech/mech.ftl
  Resources/Locale/ru-RU/medical/components/cryo-pod-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/hotplate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/medical/cryo_pod.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#677 Fix nuke codes locale
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
Labels: No C#, Changes: Localization

#676 Renamed sandwich back to burger in ru version
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#678 Fix alcoholic bar sign random spawn icon
  Resources/Prototypes/Corvax/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/Corvax/bar_signs.yml
  Resources/Textures/Corvax/Structures/Wallmounts/barsign.rsi/empty.png
  Resources/Textures/Corvax/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/barsign.rsi/corvax_alcoholic.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
Labels: No C#, Changes: Sprites

#679 Правки перевода
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/canisters/gas-canisters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#601 [Resprite] Health status
  Resources/Textures/Interface/Alerts/human_health.rsi/health6.png
  Resources/Textures/Interface/Alerts/human_health.rsi/health7.png
  Resources/Textures/Interface/Alerts/human_health.rsi/meta.json
Labels: No C#, Changes: Sprites
