Repository space-syndicate/space-station-14, pull requests merged in 2022-07, with the labels that each got.

#284 Фикс перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#287 Ящеролюды переименованы в Унатхов
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: No C#, Changes: Localization

#288 Перевод двух последних обновлений
  Resources/Locale/ru-RU/actions/actions/mask.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-spike-component.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/forensics/fibers.ftl
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-supervisors.ftl
  Resources/Locale/ru-RU/movement/jetpacks.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/research/components/research-disk.ftl
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/mechanisms/rat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/forensic_scanner.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/forensics/forensics.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/disk.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/jetpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
Labels: No C#, Changes: Localization

#290 Локализация кейкодов радиоканалов
  Resources/Prototypes/radio_channels.yml
Labels: No C#

#292 Update hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
Labels: No C#, Changes: Localization

#294 Перевод последнего обновления
  Resources/Locale/ru-RU/accent/scrambled.ftl
  Resources/Locale/ru-RU/access/components/id-examinable-component.ftl
  Resources/Locale/ru-RU/actions/actions/blocking.ftl
  Resources/Locale/ru-RU/actions/actions/zombie.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/adminbus-tab/adminbus-tab.ftl
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
  Resources/Locale/ru-RU/components/storage-component.ftl
  Resources/Locale/ru-RU/damage/stamina.ftl
  Resources/Locale/ru-RU/disease/disease.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/ru-RU/instruments/instruments-component.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/lathe/lathesystem.ftl
  Resources/Locale/ru-RU/light/components/emergency-light-component.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/shields/shields.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/firelocks/frame.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/sink.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting/base_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/special.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/monitors_televisions.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/shuttle.ftl
  Resources/Locale/ru-RU/stunnable/components/stunbaton-component.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: No C#, Changes: Localization

#295 Различные правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/atmos_alarms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/fire_alarm.ftl
Labels: No C#, Changes: Localization

#299 Поправлен перевод шлюзов
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/base_structureairlocks.ftl
Labels: No C#, Changes: Localization

#296 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ui/verbs.ftl
Labels: No C#, Changes: Localization

#298 Update console.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
Labels: No C#, Changes: Localization

#301 Перевод последнего обновления
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/actions/actions/egg-lay.ftl
  Resources/Locale/ru-RU/advertisements/vending/magivend.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/movement/jetpacks.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/mousetrap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/shards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/step-trigger/shoes-required.ftl
Labels: No C#, Changes: Localization

#302 Update gas-canister-component.ftl
  Resources/Locale/ru-RU/components/gas-canister-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#304 Перевод действий емага.
  Resources/Locale/ru-RU/emag/emag.ftl
Labels: No C#, Changes: Localization

#303 [Resprite] Firelocks
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/deny.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/locked.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/deny.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/frame1.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/frame2.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/frame3.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/frame4.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/locked.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/opening.png
Labels: No C#, Changes: Sprites

#306 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cups.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Locale/ru-RU/xenoarchaeology/badfeeling-artifact.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#308 Поправил перевод манифеста заказа
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#309 Перевод последнего обновления
  Resources/Locale/ru-RU/accent/mobster.ftl
  Resources/Locale/ru-RU/actions/actions/blocking.ftl
  Resources/Locale/ru-RU/actions/actions/disarm-action.ftl
  Resources/Locale/ru-RU/administration/commands/add-uplink-command.ftl
  Resources/Locale/ru-RU/animals/rat-king/rat-king.ftl
  Resources/Locale/ru-RU/atmos/portable-scrubber.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/chapel/bible.ftl
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
  Resources/Locale/ru-RU/chemistry/components/injector-component.ftl
  Resources/Locale/ru-RU/commands/zoom-command.ftl
  Resources/Locale/ru-RU/components/gas-canister-component.ftl
  Resources/Locale/ru-RU/disease/disease.ftl
  Resources/Locale/ru-RU/entity-systems/pointing/pointing-system.ftl
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/hands/components/hands-component.ftl
  Resources/Locale/ru-RU/identity/identity-system.ftl
  Resources/Locale/ru-RU/lobby/lobby-state.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-condition.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/forensic_scanner.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/botparts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/forensics/forensics.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/pka.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/staves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/wands.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/magic.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/curtains.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/showcase.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/altar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/tables/operating_table.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/portable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/station-events/station-event-system.ftl
  Resources/Locale/ru-RU/storage/components/entity-storage-component.ftl
  Resources/Locale/ru-RU/stunnable/components/stunnable-component.ftl
  Resources/Locale/ru-RU/stunnable/stun-system.ftl
  Resources/Locale/ru-RU/tools/tool-qualities.ftl
  Resources/Locale/ru-RU/ui/verbs.ftl
  Resources/Locale/ru-RU/weapons/ranged/recharge-basic-entity-ammo.ftl
Labels: No C#, Changes: Localization

#315 Localization fixes
  Resources/Locale/ru-RU/administration/ui/admin-menu-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/call-shuttle-window.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/fireaxe_cabinet.ftl
Labels: No C#, Changes: Localization

#316 Locale patch
  Resources/Locale/ru-RU/access/components/id-card-component.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#318 Корректное отображения огней питания внешних шлюзов
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
Labels: No C#

#268 Добавление простой системы целей станции
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Corvax/StationGoal/StationGoalCommand.cs
  Content.Server/Corvax/StationGoal/StationGoalPaperComponent.cs
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Content.Server/Corvax/StationGoal/StationGoalPrototype.cs
  Content.Server/Corvax/StationGoal/StationGoalSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/GameTicking/RoundStartedEvent.cs
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/en-US/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Corvax/Objectives/goals.yml
Labels: Changes: Localization

#319 Vox appearance translation
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/accessories/vox-facial-hair.ftl
  Resources/Locale/ru-RU/accessories/vox-hair.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#321 [Resprite] Stock parts
  Resources/Textures/Objects/Misc/stock_parts.rsi/adv_capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/adv_scan_module.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/advanced_matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/bluespace_matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/femto_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/high_micro_laser.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/meta.json
  Resources/Textures/Objects/Misc/stock_parts.rsi/micro_laser.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/micro_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/nano_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/pico_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/quadratic_capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/quadultra_micro_laser.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/scan_module.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/super_capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/super_matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/super_scan_module.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/triphasic_scan_module.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/ultra_high_micro_laser.png
Labels: No C#, Changes: Sprites

#322 [Resprite] Boxes
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Textures/Objects/Storage/boxes.rsi/beaker.png
  Resources/Textures/Objects/Storage/boxes.rsi/bodybags.png
  Resources/Textures/Objects/Storage/boxes.rsi/box.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_hug.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_id.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_medical.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_of_doom.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_of_doom_big.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_olive.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_security.png
  Resources/Textures/Objects/Storage/boxes.rsi/boxwide.png
  Resources/Textures/Objects/Storage/boxes.rsi/circuit.png
  Resources/Textures/Objects/Storage/boxes.rsi/clown.png
  Resources/Textures/Objects/Storage/boxes.rsi/disk.png
  Resources/Textures/Objects/Storage/boxes.rsi/emergencytank.png
  Resources/Textures/Objects/Storage/boxes.rsi/extendedtank.png
  Resources/Textures/Objects/Storage/boxes.rsi/flashbang.png
  Resources/Textures/Objects/Storage/boxes.rsi/glasses.png
  Resources/Textures/Objects/Storage/boxes.rsi/handcuff.png
  Resources/Textures/Objects/Storage/boxes.rsi/heart.png
  Resources/Textures/Objects/Storage/boxes.rsi/id.png
  Resources/Textures/Objects/Storage/boxes.rsi/implant.png
  Resources/Textures/Objects/Storage/boxes.rsi/internals.png
  Resources/Textures/Objects/Storage/boxes.rsi/latex.png
  Resources/Textures/Objects/Storage/boxes.rsi/light.png
  Resources/Textures/Objects/Storage/boxes.rsi/lightmixed.png
  Resources/Textures/Objects/Storage/boxes.rsi/lighttube.png
  Resources/Textures/Objects/Storage/boxes.rsi/meson.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/mousetraps.png
  Resources/Textures/Objects/Storage/boxes.rsi/nitrile.png
  Resources/Textures/Objects/Storage/boxes.rsi/pda.png
  Resources/Textures/Objects/Storage/boxes.rsi/pillbox.png
  Resources/Textures/Objects/Storage/boxes.rsi/sechud.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellbeanbag.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellflare.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellflash.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellincendiary.png
  Resources/Textures/Objects/Storage/boxes.rsi/shelllethal.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellpractice.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellslug.png
  Resources/Textures/Objects/Storage/boxes.rsi/solution_trays.png
  Resources/Textures/Objects/Storage/boxes.rsi/sterile.png
  Resources/Textures/Objects/Storage/boxes.rsi/syringe.png
  Resources/Textures/Objects/Storage/boxes.rsi/writing.png
  Resources/Textures/Objects/Storage/boxes.rsi/writing_of_doom.png
  Resources/Textures/Objects/Storage/boxes.rsi/ziptie.png
Labels: No C#, Changes: Sprites

#324 Исправление локализации бумаги с целью станции
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/paper.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Misc/paper.yml
Labels: No C#, Changes: Localization

#326 Перевод последнего обновления
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/administration/ui/admin-menu-window.ftl
  Resources/Locale/ru-RU/alert-levels/alert-level-command.ftl
  Resources/Locale/ru-RU/atmos/gas-vent-pump.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/botany.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/spacetick.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/error.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/bedsheets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
Labels: No C#, Changes: Localization

#325 Smites locale
  Resources/Locale/ru-RU/administration/smites.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#328 Locale typo fix
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
Labels: No C#, Changes: Localization

#320 [Resprite] Singularity stuff
  Content.Client/Singularity/Visualizers/EmitterVisualizer.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca_active.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca_deactive.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca_off.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca_on.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/cu.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/icon.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/containment.rsi/on.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment_field.rsi/field.png
  Resources/Textures/Structures/Power/Generation/Singularity/containment_field.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/emitter.rsi/beam.png
  Resources/Textures/Structures/Power/Generation/Singularity/emitter.rsi/emitter.png
  Resources/Textures/Structures/Power/Generation/Singularity/emitter.rsi/emitter0.png
  Resources/Textures/Structures/Power/Generation/Singularity/emitter.rsi/emitter1.png
  Resources/Textures/Structures/Power/Generation/Singularity/emitter.rsi/emitter2.png
  Resources/Textures/Structures/Power/Generation/Singularity/emitter.rsi/lock.png
  Resources/Textures/Structures/Power/Generation/Singularity/emitter.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/emitter.rsi/projectile.png
  Resources/Textures/Structures/Power/Generation/Singularity/emitter.rsi/underpowered.png
  Resources/Textures/Structures/Power/Generation/Singularity/emitter.rsi/unlock.png
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_1.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_1.rsi/singularity_1.png
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_2.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_2.rsi/singularity_2.png
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_3.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_3.rsi/singularity_3.png
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_4.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_4.rsi/singularity_4.png
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_5.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_5.rsi/singularity_5.png
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_6.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Singularity/singularity_6.rsi/singularity_6.png
Labels: Changes: Sprites

#329 Фикс перевода одежды священника
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wardrobe.ftl
Labels: No C#, Changes: Localization

#331 Перевод последнего обновления
  Resources/Locale/ru-RU/actions/actions/blocking.ftl
  Resources/Locale/ru-RU/actions/actions/internals.ftl
  Resources/Locale/ru-RU/actions/actions/sleep.ftl
  Resources/Locale/ru-RU/administration/ui/admin-announce-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/ru-RU/ai/medibot.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/chemistry/reagent-effects.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/disease/diagnoser.ftl
  Resources/Locale/ru-RU/disease/disease.ftl
  Resources/Locale/ru-RU/job/job-supervisors.ftl
  Resources/Locale/ru-RU/machine-linking/port-selector.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/reagents/frezon.ftl
  Resources/Locale/ru-RU/reagents/meta/gases.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/salvage/salvage-system.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/base_clothinghead.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/misc_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/bots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/dummy_npcs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/base.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/skeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/miners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Locale/ru-RU/wires/components/wires-component.ftl
Labels: No C#, Changes: Localization
