Repository space-syndicate/space-station-14, pull requests merged in 2022-06, with the labels that each got.

#237 Перевод последнего обновления
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/job/job.ftl
  Resources/Locale/ru-RU/mousetraps/mousetraps.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/mousetrap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/brb_sign.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/gravity_generator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
Labels: No C#, Status: Needs Review

#239 Перевод последнего обновления
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
  Resources/Locale/ru-RU/anchorable/anchorable-component.ftl
  Resources/Locale/ru-RU/cargo/components/price-gun-component.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/examine/examine-system.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-pirates.ftl
  Resources/Locale/ru-RU/health-examinable/stethoscope.ftl
  Resources/Locale/ru-RU/magic/spells-actions.ftl
  Resources/Locale/ru-RU/payload/payload-case.ftl
  Resources/Locale/ru-RU/power/components/charger.ftl
  Resources/Locale/ru-RU/server-updates/server-updates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/land_mine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/appraisal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/hmgs/hmgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/holographic/projections.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/surveillance_camera_routers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/wireless_surveillance_camera.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/surveillance_camera.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/magic/fixtures/runes.ftl
  Resources/Locale/ru-RU/surveillance-camera/surveillance-camera-ui.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: No C#, Status: Needs Review

#240 Цвет технической панели при осмотре аирлока теперь красный, а не зеленый
  Resources/Locale/ru-RU/wires/components/wires-component.ftl
Labels: No C#, Status: Needs Review

#241 Перевод последних реагентов
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/juice.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/soda.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
Labels: No C#, Status: Needs Review

#243 Фикс перевода патронов
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/caseless_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/clrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/srifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/BaseCartridge.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/caseless_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/clrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/heavy_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/srifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/caseless_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/clrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/heavy_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/srifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/caseless_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/clrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/heavy_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/srifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speedloaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speedloaders/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speedloaders/rifle_light.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speedloaders/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
Labels: No C#

#244 Мелкие правки README.md
  README.md
Labels: No C#

#248 [Resprite] Material sheets
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel_3.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma_3.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic_3.png
Labels: No C#, Changes: Sprites

#251 Фикс опечатки
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
Labels: No C#

#252 Фикс локализации
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
Labels: No C#

#250 Переводы супов
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/soup.ftl
Labels: No C#

#255 Фикс локализации
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: No C#

#256 Микрофикс окна согласия с правилами
  Resources/Locale/ru-RU/info/rules.ftl
Labels: No C#

#249 Перевод последнего обновления и устройств атмоса
  Resources/Locale/ru-RU/devices/network-configurator.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/mapping/mapping-command.ftl
  Resources/Locale/ru-RU/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/speech/speech-effects.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mining/ore_bag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/binary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/miners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/trinary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/unary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/apc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/stunnable/components/stunbaton-component.ftl
  Resources/Locale/ru-RU/voting/vote-commands.ftl
  Resources/Locale/ru-RU/zombies/zombie.ftl
Labels: No C#

#257 Различные переводы
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/present.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/bookshelf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/carpets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/dresser.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/memorial.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/rollerbeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/sink.ftl
Labels: No C#

#253 [Resprite] Tools
  Resources/Textures/Objects/Tools/crowbar.rsi/icon.png
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/red-icon.png
  Resources/Textures/Objects/Tools/drill.rsi/drill_bolt.png
  Resources/Textures/Objects/Tools/drill.rsi/drill_screw.png
  Resources/Textures/Objects/Tools/drill.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/drill.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/drill.rsi/meta.json
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/jaws_cutter.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/jaws_pry.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/meta.json
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/syn_inhand-left.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/syn_inhand-right.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/syn_jaws_cutter.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/syn_jaws_pry.png
  Resources/Textures/Objects/Tools/multitool.rsi/green-unlit.png
  Resources/Textures/Objects/Tools/multitool.rsi/icon.png
  Resources/Textures/Objects/Tools/multitool.rsi/meta.json
  Resources/Textures/Objects/Tools/multitool.rsi/red-unlit.png
  Resources/Textures/Objects/Tools/multitool.rsi/yellow-unlit.png
  Resources/Textures/Objects/Tools/rcd.rsi/icon.png
  Resources/Textures/Objects/Tools/rcd.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/rcd.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/rcd.rsi/meta.json
  Resources/Textures/Objects/Tools/screwdriver.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/screwdriver.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/screwdriver.rsi/meta.json
  Resources/Textures/Objects/Tools/screwdriver.rsi/screwdriver-map.png
  Resources/Textures/Objects/Tools/screwdriver.rsi/screwdriver-screwybits.png
  Resources/Textures/Objects/Tools/screwdriver.rsi/screwdriver.png
  Resources/Textures/Objects/Tools/t-ray.rsi/meta.json
  Resources/Textures/Objects/Tools/t-ray.rsi/tray-off.png
  Resources/Textures/Objects/Tools/t-ray.rsi/tray-on.png
  Resources/Textures/Objects/Tools/welder.rsi/icon.png
  Resources/Textures/Objects/Tools/welder.rsi/meta.json
  Resources/Textures/Objects/Tools/welder.rsi/welder_flame.png
  Resources/Textures/Objects/Tools/welder_experimental.rsi/icon.png
  Resources/Textures/Objects/Tools/welder_experimental.rsi/meta.json
  Resources/Textures/Objects/Tools/welder_experimental.rsi/welder_flame.png
  Resources/Textures/Objects/Tools/welder_industrial.rsi/icon.png
  Resources/Textures/Objects/Tools/welder_industrial.rsi/meta.json
  Resources/Textures/Objects/Tools/welder_industrial.rsi/welder_flame.png
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/icon.png
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/meta.json
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/welder_flame.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/icon.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/meta.json
  Resources/Textures/Objects/Tools/welder_mini.rsi/welder_flame.png
  Resources/Textures/Objects/Tools/wirecutters.rsi/cutters-cutty-thingy.png
  Resources/Textures/Objects/Tools/wirecutters.rsi/cutters-map.png
  Resources/Textures/Objects/Tools/wirecutters.rsi/cutters.png
  Resources/Textures/Objects/Tools/wirecutters.rsi/meta.json
  Resources/Textures/Objects/Tools/wrench.rsi/icon.png
  Resources/Textures/Objects/Tools/wrench.rsi/meta.json
Labels: No C#, Changes: Sprites

#260 Перевод спрайтов настенных табличек
  Resources/Textures/Structures/Wallmounts/signs.rsi/atmos_air.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/atmos_plasma.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/atmos_waste.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/chemistry1.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/chemistry2.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/deathsposal.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_brig.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_chapel.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_cryo.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_dorms.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_gravity.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_hydro.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_salvage.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_solar.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_wash.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/doors.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/examroom.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/hydro1.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/hydro2.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/hydro3.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/pods.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/science1.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/science2.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/space.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/xenobio.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/xenobio2.png
Labels: No C#, Changes: Sprites

#258 Различные переводы
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/bedsheets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/cowtools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/tools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Prototypes/Datasets/Names/syndicate.yml
Labels: No C#

#267 Перевод последнего обновления
  Resources/Locale/ru-RU/accent/mobster.ftl
  Resources/Locale/ru-RU/actions/actions/disarm-action.ftl
  Resources/Locale/ru-RU/actions/actions/dragon.ftl
  Resources/Locale/ru-RU/animals/rat-king/rat-king.ftl
  Resources/Locale/ru-RU/door-remote/door-remote.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/reagents/meta/gases.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/regalrat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/xeno.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/dragon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/powercells.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/bar_sign.ftl
  Resources/Locale/ru-RU/station-events/events/mouse-migration.ftl
Labels: No C#

#271 Переводы файлов локализации
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting/base_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/lighting.ftl
Labels: No C#, Status: Needs Review

#273 Различные переводы
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/metal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/other.ftl
Labels: No C#, Changes: Localization

#269 Убрать доступ к техам у пассажиров
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
Labels: No C#, Size: Very Small

#275 Небольшая правка перевода
  Resources/Locale/ru-RU/disease/diagnoser.ftl
Labels: No C#, Changes: Localization

#277 Обновление оставшихся спрайтов полов
  Resources/Textures/Tiles/bar.png
  Resources/Textures/Tiles/clown.png
  Resources/Textures/Tiles/copyright.txt
  Resources/Textures/Tiles/hydro.png
  Resources/Textures/Tiles/kitchen.png
  Resources/Textures/Tiles/laundry.png
  Resources/Textures/Tiles/plating.png
  Resources/Textures/Tiles/reinforced.png
Labels: No C#

#280 Фикс цветов разных каналов
  Resources/Locale/ru-RU/headset/headset-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#279 Перевод последнего обновления
  Resources/Locale/ru-RU/administration/commands/throw-scoreboard-command.ftl
  Resources/Locale/ru-RU/animals/rat-king/rat-king.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-order-component.ftl
  Resources/Locale/ru-RU/cargo/cargo-order-database-component.ftl
  Resources/Locale/ru-RU/cargo/price-gun-component.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/magic/spells-actions.ftl
  Resources/Locale/ru-RU/nutrition/components/drink-component.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/singularity/components/containment-component.ftl
  Resources/Locale/ru-RU/slur/slurring.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/mechanisms/rat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/mechanisms/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/animal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/rat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/cargo/cargo_pallet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/magic.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/fireaxe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/cargo_console.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Locale/ru-RU/strip/strippable-component.ftl
  Resources/Locale/ru-RU/vending-machines/vending-machine-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#281 [Resprite] Direct windows/doors
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/assembly.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/closed.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/closing.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/meta.json
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/open.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/opening.png
  Resources/Textures/Structures/Windows/directional.rsi/frosted_window.png
  Resources/Textures/Structures/Windows/directional.rsi/meta.json
  Resources/Textures/Structures/Windows/directional.rsi/plasma_reinforced_window.png
  Resources/Textures/Structures/Windows/directional.rsi/plasma_window.png
  Resources/Textures/Structures/Windows/directional.rsi/reinforced_window.png
  Resources/Textures/Structures/Windows/directional.rsi/tinted_window.png
  Resources/Textures/Structures/Windows/directional.rsi/window.png
Labels: No C#, Changes: Sprites
