Repository space-syndicate/space-station-14, pull requests merged in 2022-02, with the labels that each got.

#92 Update locale keys
  Resources/Locale/ru-RU/advertisements/vending/games.ftl
  Resources/Locale/ru-RU/atmos/plaque-component.ftl
  Resources/Locale/ru-RU/chapel/bible.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/climbing/glass-table-component.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/decals/decal-window.ftl
  Resources/Locale/ru-RU/door-remote/door-remote.ftl
  Resources/Locale/ru-RU/doors/components/door-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/fire-extinguisher/fire-extinguisher-component.ftl
  Resources/Locale/ru-RU/fluids/components/bucket-component.ftl
  Resources/Locale/ru-RU/fluids/components/mop-component.ftl
  Resources/Locale/ru-RU/info/server-info.ftl
  Resources/Locale/ru-RU/misc-computers.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-alive-condition.ftl
  Resources/Locale/ru-RU/pda/Ringer/ringer-component.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/sandbox/sandbox-manager.ftl
  Resources/Locale/ru-RU/species/slime.ftl
  Resources/Locale/ru-RU/station-events/events/gas-leak.ftl
  Resources/Locale/ru-RU/station-events/events/meteor-swarm.ftl
  Resources/Locale/ru-RU/structure/disassemble-system.ftl
  Resources/Locale/ru-RU/tabletop/tabletop.ftl
  Resources/Locale/ru-RU/ui/verbs.ftl
  Resources/Locale/ru-RU/weapons/ranged/barrels/components/revolver-barrel-component.ftl
  Resources/Locale/ru-RU/xenoarchaeology/badfeeling-artifact.ftl
  Resources/Locale/ru-RU/xenoarchaeology/goodfeeling-artifact.ftl
  Tools/ss14_ru/file.py
  Tools/ss14_ru/keyfinder.py
Labels: No C#, Status: Needs Review

#96 translation(directory signs)
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_bridge.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_eng.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_evac.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_med.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_sci.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_sec.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_supply.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#97 Discord round end notification & refactoring
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicket.Discord.cs
  Resources/Locale/en-US/game-ticking/discord-round.ftl
  Resources/Locale/ru-RU/game-ticking/discord-round.ftl
Labels: Status: Needs Review

#100 fix(direction_bridge.png)
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_bridge.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#101 fix(defaultWindowTitle)
  Resources/manifest.yml
Labels: No C#, Status: Needs Review

#105 Partial russian translation
  Resources/Locale/ru-RU/administration/bwoink.ftl
  Resources/Locale/ru-RU/administration/commands/set-looc-command.ftl
  Resources/Locale/ru-RU/administration/ui/manage-solutions/manage-solutions.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/server-tab.ftl
  Resources/Locale/ru-RU/advertisements/vending/games.ftl
  Resources/Locale/ru-RU/chapel/bible.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/chat/sanitizer-replacements.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/climbing/climbable-component.ftl
  Resources/Locale/ru-RU/climbing/glass-table-component.ftl
  Resources/Locale/ru-RU/doors/components/door-component.ftl
  Resources/Locale/ru-RU/fire-extinguisher/fire-extinguisher-component.ftl
  Resources/Locale/ru-RU/fluids/components/bucket-component.ftl
  Resources/Locale/ru-RU/fluids/components/mop-component.ftl
  Resources/Locale/ru-RU/follower/follow-verb.ftl
Labels: No C#, Status: Needs Review

#107 Partial translation & actualising keys
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/access/components/id-card-component.ftl
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/administration/bwoink.ftl
  Resources/Locale/ru-RU/advertisements/chemdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/clothes.ftl
  Resources/Locale/ru-RU/botany/components/plant-holder-component.ftl
  Resources/Locale/ru-RU/botany/components/seed-component.ftl
  Resources/Locale/ru-RU/buckle/components/buckle-component.ftl
  Resources/Locale/ru-RU/components/base-computer-ui-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/fluids/components/bucket-component.ftl
  Resources/Locale/ru-RU/kitchen/components/microwave-component.ftl
  Resources/Locale/ru-RU/power-cell/components/power-cell-slot-component.ftl
  Resources/Locale/ru-RU/power/components/base-charger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/apc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/debug_power.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/saltern_power.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/smes.ftl
  Resources/Locale/ru-RU/ui/actionmenu.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/weapons/ranged/barrels/components/revolver-barrel-component.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-component.ftl
  Resources/Locale/ru-RU/xenoarchaeology/badfeeling-artifact.ftl
  Resources/Locale/ru-RU/xenoarchaeology/goodfeeling-artifact.ftl
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
Labels: No C#, Status: Needs Review

#104 Add round id & round start alert for Discord
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicket.Discord.cs
  Resources/Locale/en-US/game-ticking/discord-round.ftl
  Resources/Locale/ru-RU/game-ticking/discord-round.ftl
Labels: Status: Needs Review

#108 Centcom Special Operations Officer clothes
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Head/Hats/centcom_officer_black.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/centcom_officer_black.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/centcom_officer_black.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/centcom_officer_black.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/centcom_officer_black.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/centcom_officer_black.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/centcom_officer_black.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/centcom_officer_black.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Specific/centcom_officer_black.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Specific/centcom_officer_black.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Specific/centcom_officer_black.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Specific/centcom_officer_black.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Specific/centcom_officer_black.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer_black.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer_black.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer_black.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer_black.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer_black.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#109 Update health-examinable-carbon.ftl
  Resources/Locale/ru-RU/health-examinable/health-examinable-carbon.ftl
Labels: No C#, Status: Needs Review

#113 Make centcom black clothes names shorter
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: No C#, Status: Needs Review

#114 Update butcherable-component.ftl
  Resources/Locale/ru-RU/kitchen/components/butcherable-component.ftl
Labels: No C#, Status: Needs Review

#115 Translation (accessories, human-hair, human-facial-hair)
  Resources/Locale/ru-RU/accessories/accesory.ftl
  Resources/Locale/ru-RU/accessories/human-facial-hair.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
Labels: No C#, Status: Needs Review

#116 Update shared-solution-container-component.ftl
  Resources/Locale/ru-RU/chemistry/solution/components/shared-solution-container-component.ftl
Labels: No C#, Status: Needs Review

#118 Перевод hydro_tray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/hydro_tray.ftl
Labels: No C#, Status: Needs Review

#120 Небольшой перевод гидропоники
  Resources/Locale/ru-RU/botany/components/plant-holder-component.ftl
Labels: No C#, Status: Needs Review

#126 fix(rules)
  Resources/Server Info/Rules.txt
Labels: No C#, Status: Needs Review

#124 Перевод семян
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
Labels: No C#, Status: Needs Review

#125 Перевод seed-component.ftl
  Resources/Locale/ru-RU/botany/components/seed-component.ftl
Labels: No C#, Status: Needs Review

#123 Перевод нового ивента
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
Labels: No C#, Status: Needs Review

#122 Перевод ивента с пауками из вентиляции
  Resources/Locale/ru-RU/station-events/events/vent-critters.ftl
Labels: No C#, Status: Needs Review
