Repository space-syndicate/space-station-14, pull requests merged in 2022-10, with the labels that each got.

#413 Перевод озвучки анонсов ИИ
  Resources/Audio/Announcements/aliens.ogg
  Resources/Audio/Announcements/attention.ogg
  Resources/Audio/Announcements/ert_no.ogg
  Resources/Audio/Announcements/ert_yes.ogg
  Resources/Audio/Announcements/gasleak_end.ogg
  Resources/Audio/Announcements/gasleak_start.ogg
  Resources/Audio/Announcements/license.txt
  Resources/Audio/Announcements/meteors.ogg
  Resources/Audio/Announcements/outbreak7.ogg
  Resources/Audio/Announcements/power_off.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Announcements/radiation.ogg
  Resources/Audio/Announcements/sentience.ogg
  Resources/Audio/Announcements/shuttle_dock.ogg
  Resources/Audio/Announcements/shuttlecalled.ogg
  Resources/Audio/Announcements/shuttlerecalled.ogg
  Resources/Audio/Announcements/ventclog.ogg
  Resources/Audio/Announcements/welcome.ogg
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Locale/ru-RU/station-events/events/disease-outbreak.ftl
  Resources/Locale/ru-RU/station-events/events/gas-leak.ftl
  Resources/Locale/ru-RU/station-events/events/meteor-swarm.ftl
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Locale/ru-RU/station-events/events/vent-clog.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: No C#, Changes: Localization

#435 Update goals & add new one
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Objectives/goals.yml
Labels: No C#, Changes: Localization

#436 Remove en-US locale for unique content
  Resources/Locale/en-US/corvax/round-notifications/notifications.ftl
  Resources/Locale/en-US/corvax/station-goal/station-goal-component.ftl
  Tools/ss14_ru/keyfinder.py
Labels: No C#, Changes: Localization

#438 Правки перевода
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/preferences/ui/markings-picker.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#439 Перевод датасетов имён ревенанта
  Resources/Prototypes/Datasets/Names/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: No C#, Status: Needs Review

#440 Update meteor announce
  Resources/Audio/Announcements/meteors.ogg
  Resources/Audio/Announcements/meteors_end.ogg
  Resources/Audio/Announcements/meteors_start.ogg
  Resources/Locale/ru-RU/station-events/events/meteor-swarm.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: No C#, Changes: Localization

#441 Правки перевода
  Resources/Locale/ru-RU/administration/commands/call-shuttle-command.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/chemistry/components/hypospray-component.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/components/power-monitoring-component.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/station-records/general-station-records.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#442 Update end event sound alert type
  Resources/Audio/Announcements/gasleak_end.ogg
  Resources/Audio/Announcements/power_on.ogg
Labels: No C#

#446 Add "space" word to welcome AI announce
  Resources/Audio/Announcements/welcome.ogg
Labels: No C#

#448 Update artifact goal document fields
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: No C#, Changes: Localization

#449 Перевод Upstream #447
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/kitchen/components/butcherable-component.ftl
  Resources/Locale/ru-RU/medical/components/biomass-reclaimer-component.ftl
  Resources/Locale/ru-RU/objectives/conditions/escape-shuttle-condition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/memorial.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/smes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/substation.ftl
  Resources/Prototypes/Datasets/Names/cargo_shuttle.yml
  Resources/Prototypes/Datasets/Names/revenant.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#450 Upstream sync
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/Chemistry/EntitySystems/TransformableContainerSystem.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Damage/Systems/DamageOnToolInteractSystem.cs
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Server/Damage/Systems/DamageUserOnTriggerSystem.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Electrocution/Components/ElectrocutionComponent.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Content.Server/Guardian/GuardianSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Server/Projectiles/SharedProjectileSystem.cs
  Content.Server/Repairable/RepairableSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/StationRecords/Components/StationRecordsComponent.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Blocking/BlockingUserSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.cs
  Content.Shared/MobState/MobStateChangedEvent.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/chemistry/components/transformable-container-component.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/ru-RU/chemistry/components/transformable-container-component.ftl
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Labels: Changes: Localization

#451 Increase newbie role lock up to 4 hours
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#

#452 Fix gas analyzer locale
  Resources/Locale/ru-RU/atmos/gas-analyzer-component.ftl
Labels: No C#, Changes: Localization

#453 Правки перевода
  Resources/Locale/ru-RU/robust-toolbox/client-state-commands.ftl
  Resources/Locale/ru-RU/robust-toolbox/custom-controls.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#454 Микрофикс перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#455 blind person examine fix
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#456 Fix empty rules window
  Resources/Server Info/RulesCorvax.txt
Labels: No C#

#457 Revert "Fix empty rules window"
  Resources/Server Info/RulesCorvax.txt
Labels: No C#, Status: Frozen

#459 Перевод Upstream #458
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-alive-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-progress-condition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/big_boxes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/mountain.ftl
  Resources/Locale/ru-RU/storage/components/secret-stash-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#462 Перевод Upstream #461
  Resources/Locale/ru-RU/administration/commands/add-uplink-command.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
  Resources/Locale/ru-RU/radiation/radiation-command.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#465 Decrease singularity required level to 3 for station goal
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: No C#, Changes: Localization

#464 Zoo station goal
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Objectives/goals.yml
Labels: No C#, Changes: Localization

#467 Move rule 5 to 3.3
  Resources/Server Info/RulesCorvax.txt
Labels: No C#

#466 Crates locale fix
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#468 Перевод Upstream #463
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/disease/disease-proto.ftl
  Resources/Locale/ru-RU/instruments/instruments-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/skeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/buckleable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/big_boxes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/virtual/stripping_hidden.ftl
  Resources/Prototypes/Datasets/Names/skeleton_first.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#472 Перевод Upstream #471
  Resources/Locale/ru-RU/botany/components/seed-extractor-component.ftl
  Resources/Locale/ru-RU/disease/swab.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/triggers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/disease.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/firelocks/firelock.ftl
  Resources/Locale/ru-RU/weapons/grenades/voice-trigger.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#473 [Resprite] Kitchen
  Resources/Textures/Structures/Machines/microwave.rsi/meta.json
  Resources/Textures/Structures/Machines/microwave.rsi/mw-o.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw0.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw1.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw_running_unlit.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw_unlit.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwb.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloody.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloody1.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloodyo.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwo.png
  Resources/Textures/Structures/meat_spike.rsi/meta.json
  Resources/Textures/Structures/meat_spike.rsi/spike.png
  Resources/Textures/Structures/meat_spike.rsi/spikebloody.png
  Resources/Textures/Structures/meat_spike.rsi/spikebloodygreen.png
Labels: No C#, Changes: Sprites

#469 Centcom admiral outfit
  Resources/Prototypes/Corvax/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/centcom_admiral.yml
  Resources/Textures/Corvax/Clothing/Hands/Gloves/centcom_naval.rsi/equipped-HAND.png
  Resources/Textures/Corvax/Clothing/Hands/Gloves/centcom_naval.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Hands/Gloves/centcom_naval.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Hands/Gloves/centcom_naval.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Hands/Gloves/centcom_naval.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/Hats/centcom_naval_beret.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/Hats/centcom_naval_beret.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/Hats/centcom_naval_beret.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Head/Hats/centcom_naval_beret.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Head/Hats/centcom_naval_beret.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/Hats/centcom_naval_cap.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/Hats/centcom_naval_cap.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/Hats/centcom_naval_cap.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Head/Hats/centcom_naval_cap.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Head/Hats/centcom_naval_cap.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Neck/Cloaks/admiral.rsi/equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Cloaks/admiral.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Neck/Cloaks/admiral.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Armor/centcom_naval_carapace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Armor/centcom_naval_carapace.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Armor/centcom_naval_carapace.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Armor/centcom_naval_carapace.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Armor/centcom_naval_carapace.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/centcom_admiral.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/centcom_admiral.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/centcom_admiral.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/centcom_admiral.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/centcom_admiral.rsi/meta.json
Labels: No C#, Changes: Sprites

#476 Перевод Upstream #475
  Resources/Locale/ru-RU/actions/actions/dragon.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-extended.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-survival.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#478 [Resprite] Airlock painter
  Resources/Textures/Objects/Tools/airlock_painter.rsi/airlock_painter.png
  Resources/Textures/Objects/Tools/airlock_painter.rsi/meta.json
Labels: No C#, Changes: Sprites

#481 Перевод Upstream #477
  Resources/Locale/ru-RU/advertisements/vending/clothesmate.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/job/job.ftl
  Resources/Locale/ru-RU/lobby/lobby-state.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/speech/accent-systems.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/rat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/base_structurecrates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#482 Update snipers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/snipers/snipers.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#484 Фикс таймера лобби
  Resources/Locale/ru-RU/lobby/lobby-state.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#489 [Resprite] Pattern floors
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/dark_diagonal.png
  Resources/Textures/Tiles/dark_mini.png
  Resources/Textures/Tiles/dark_offset.png
  Resources/Textures/Tiles/dark_pavement.png
  Resources/Textures/Tiles/dark_plastic.png
  Resources/Textures/Tiles/plastic.png
  Resources/Textures/Tiles/steel_diagonal.png
  Resources/Textures/Tiles/steel_mini.png
  Resources/Textures/Tiles/steel_offset.png
  Resources/Textures/Tiles/steel_pavement.png
  Resources/Textures/Tiles/white_diagonal.png
  Resources/Textures/Tiles/white_mini.png
  Resources/Textures/Tiles/white_offset.png
  Resources/Textures/Tiles/white_pavement.png
  Resources/Textures/Tiles/white_plastic.png
Labels: No C#

#488 Перевод Upstream #486
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/kitchen/components/reagent-grinder-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#490 Upstream sync fix
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Administration/Commands/AGhost.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/robust-toolbox/_engine_lib.ftl
Labels: Changes: UI, Changes: Localization

#470 [Repsrite] Mantles
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/neck/mantles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/neck/mantles.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Entities/Clothing/Neck/mantles.yml
  Resources/Textures/Clothing/Neck/mantles/capmantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/capmantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/capmantle.rsi/meta.json
  Resources/Textures/Clothing/Neck/mantles/cemantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/cemantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/cemantle.rsi/meta.json
  Resources/Textures/Clothing/Neck/mantles/cmomantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/cmomantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/cmomantle.rsi/meta.json
  Resources/Textures/Clothing/Neck/mantles/hopmantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/hopmantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/hopmantle.rsi/meta.json
  Resources/Textures/Clothing/Neck/mantles/hosmantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/hosmantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/hosmantle.rsi/meta.json
  Resources/Textures/Clothing/Neck/mantles/rdmantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/rdmantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/rdmantle.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Neck/Mantles/qm.rsi/equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Mantles/qm.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Neck/Mantles/qm.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Localization

#493 Return HoS shoulder mantle
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Prototypes/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Clothing/Neck/mantles/hosmantle_shoulder.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/hosmantle_shoulder.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/hosmantle_shoulder.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Localization

#496 Различные переводы
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/bots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/conditional/nukies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/conditional/pirates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/conditional/timed.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/food_drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/food_drinks/drinks_glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/food_drinks/food_baked_single.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/food_drinks/food_baked_whole.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/food_drinks/food_meal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/food_drinks/food_single.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/food_drinks/food_snacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/altars.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/arcade.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/artifacts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/bedsheet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/donkpocketbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/food_drinks/donkpocketbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/food_drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/food_drinks/drinks_glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/food_drinks/food_baked_single.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/food_drinks/food_baked_whole.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/food_drinks/food_meal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/food_drinks/food_single.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/food_drinks/food_snacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/instruments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/maintenance.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/paintings.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/posters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/pottedplants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/salvage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/soap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/trash.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/vehicles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#501 Микрофикс перевода
  Resources/Locale/ru-RU/reagents/meta/fun.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#497 Add security tencodes paper
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/tencodes.yml
Labels: No C#, Status: Needs Review

#502 Mantles locale update
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
