Repository space-syndicate/space-station-14, pull requests merged in 2023-07, with the labels that each got.

#1185 локализация ящика руководств
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1117 Mailing resprite
  Resources/Textures/Structures/Piping/disposal.rsi/conmailing.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailing-charging.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailing-flush.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailing.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailover-handle.png
  Resources/Textures/Structures/Piping/disposal.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1181 aghost icons resprite
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Textures/Corvax/Interface/AdminActions/attributions.yml
  Resources/Textures/Corvax/Interface/AdminActions/cargo.png
  Resources/Textures/Corvax/Interface/AdminActions/communications.png
  Resources/Textures/Corvax/Interface/AdminActions/monitoring.png
  Resources/Textures/Corvax/Interface/AdminActions/radar.png
  Resources/Textures/Corvax/Interface/AdminActions/records.png
  Resources/Textures/Corvax/Interface/AdminActions/solar.png
Labels: No C#, Status: Needs Review

#1183 strange kvass translate fix
  Resources/Locale/ru-RU/corvax/prototypes/structures/storage/tanks/tanks.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1188 Перевод Upstream #1186, Upstream #1187
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/lrifle.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/magnum.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/pistol.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/toy.ftl
  Resources/Locale/ru-RU/construction/conditions/no-unstackable-in-tile.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Locale/ru-RU/fluids/components/drain-component.ftl
  Resources/Locale/ru-RU/glue/glue.ftl
  Resources/Locale/ru-RU/objectives/commands/lsobjectives.ftl
  Resources/Locale/ru-RU/reagents/meta/elements.ftl
  Resources/Locale/ru-RU/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardhats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/ship_vs_ship.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/immovable_rod.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/janitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speed loaders/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/station-events/events/immovable-rod.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1168 Janitorial guidebook locale
  Resources/ServerInfo/Guidebook/Service/Janitorial.xml
Labels: No C#, Status: Needs Review

#1205 Disable Discord changelog
  .github/workflows/publish.yml
Labels: No C#

#1211 Респрайт иконки спикера интеркома
  Resources/Textures/Structures/Wallmounts/intercom.rsi/speaker.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1160 New lobby music
  Resources/Audio/Corvax/Lobby/attributions.yml
  Resources/Audio/Corvax/Lobby/title2.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#, Status: Awaiting Changes

#1193 Перевод Upstream #1191
  Resources/Locale/ru-RU/atmos/air-alarm-ui.ftl
  Resources/Locale/ru-RU/cuffs/components/cuffable-component.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/nutrition/components/animal-husbandry.ftl
  Resources/Locale/ru-RU/objectives/conditions/escape-shuttle-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-head-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-person-condition.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/radio/components/encryption-key-component.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/vests.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/fluff_lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/monkeycube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/banners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/paintings.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1208 Добавить отсутствующие карты в дефолтный пул мап корвакса
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review

#1212 Correct kvass translation
  Resources/Locale/ru-RU/corvax/prototypes/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/storage/tanks/tanks.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1214 офицер безопасности ОБР и РХБЗЗ не могут быть дионами
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#, Status: Needs Review

#1210 Перевод Upstream #1206
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/radio/components/intercom.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/toolboxes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/disk.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/turrets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/fireaxe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1215 Изменен спрайт брони СБ
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/icon.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1196 Добавить аврит в пул карт корвакса
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
Labels: No C#, Status: Needs Review

#1219 Перевод новых ТТС войсов
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1220 Update tips.yml (Скрыт совет ведущий к бану, орфография)
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#, Status: Needs Review

#1222 Добавить сокращения ЦК в tts sanitize
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: Status: Needs Review

#1225 [Resprite] Meson & thermal glasses icon
  Resources/Textures/Clothing/Eyes/Glasses/meson.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/meson.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/thermal.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/thermal.rsi/meta.json
Labels: No C#, Changes: Sprites

#1195 Add server configs to repository
  Resources/ConfigPresets/Corvax/athara.toml
  Resources/ConfigPresets/Corvax/common.toml
  Resources/ConfigPresets/Corvax/echo.toml
  Resources/ConfigPresets/Corvax/elysium.toml
  Resources/ConfigPresets/Corvax/main.toml
  Resources/ConfigPresets/Corvax/mrp.toml
  Resources/ConfigPresets/Corvax/nova.toml
  Resources/ConfigPresets/Corvax/solaris.toml
  Resources/ConfigPresets/Corvax/wl.toml
Labels: No C#

#1184 [Translate] Guidebooks additions
  Resources/ServerInfo/Guidebook/Engineering/AME.xml
  Resources/ServerInfo/Guidebook/Engineering/Construction.xml
  Resources/ServerInfo/Guidebook/Engineering/Fires.xml
  Resources/ServerInfo/Guidebook/Engineering/Power.xml
  Resources/ServerInfo/Guidebook/Science/Robotics.xml
  Resources/ServerInfo/Guidebook/Science/Science.xml
  Resources/ServerInfo/Guidebook/Science/Xenoarchaeology.xml
  Resources/ServerInfo/Guidebook/Security/DNA.xml
  Resources/ServerInfo/Guidebook/Security/Security.xml
Labels: No C#, Status: Needs Review

#1061 [Translate] датасеты имён
  Resources/Prototypes/Datasets/Names/arachnid_first.yml
  Resources/Prototypes/Datasets/Names/arachnid_last.yml
  Resources/Prototypes/Datasets/Names/clown.yml
  Resources/Prototypes/Datasets/Names/diona.yml
  Resources/Prototypes/Datasets/Names/fake_human_first.yml
  Resources/Prototypes/Datasets/Names/fake_human_last.yml
Labels: No C#, Status: Needs Review

#1198 Add cargo gorilla pet (Largo)
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/markers/spawners/mobs.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/corvax/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/mobs/npcs/pets.ftl
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/Corvax/Mobs/Pets/largo.rsi/crawling.png
  Resources/Textures/Corvax/Mobs/Pets/largo.rsi/dead.png
  Resources/Textures/Corvax/Mobs/Pets/largo.rsi/icon.png
  Resources/Textures/Corvax/Mobs/Pets/largo.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Pets/largo.rsi/standing.png
  Resources/migration.yml
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1233 [Remove] corvax cap cap
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hats.yml
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1235 [Resprite] Атмосферные рюкзаки
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/atmospherics.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1223 [Tweak] ЗаконШкаф
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#, Status: Needs Review

#1228 Move Corvax/Catalog/Datasets/Names/military.yml to Corvax/Datasets/Names/military.yml
  Resources/Prototypes/Corvax/Datasets/Names/military.yml
Labels: No C#, Status: Needs Review

#1231 Добавить время в коментариях к требованиям ролей
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#, Status: Needs Review

#1236 Revert "New tabletop RPG rulebook (#1008)"
  Resources/Locale/ru-RU/corvax/paper/book-rulebook.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Books/rulebook.yml
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_stationsagents.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1234 Перевод Upstream #1229
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1232 Перевод Upstream #1227
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/ru-RU/guidebook/guidebook.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-supervisors.ftl
  Resources/Locale/ru-RU/mass-media/news-ui.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/pda/Ringer/ringer-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_flasks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/figurines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speedloaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1237 [Change] Изменение название и описания серверов
  Resources/ConfigPresets/Corvax/athara.toml
  Resources/ConfigPresets/Corvax/echo.toml
  Resources/ConfigPresets/Corvax/elysium.toml
  Resources/ConfigPresets/Corvax/main.toml
  Resources/ConfigPresets/Corvax/nova.toml
  Resources/ConfigPresets/Corvax/solaris.toml
  Resources/ConfigPresets/Corvax/wl.toml
Labels: No C#, Status: Needs Review

#1241 Уменьшить шанс расширенного режима в секрете
  Resources/Prototypes/secret_weights.yml
Labels: No C#, Status: Needs Review
