Repository space-syndicate/space-station-14, pull requests merged in 2023-04, with the labels that each got.

#944 Фикс спрайта штампа психолога
  Resources/Prototypes/Corvax/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/stamps.yml
  Resources/Textures/Corvax/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-psychologist.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-psychologist.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#943 [Maps] Change Terminal Station to Kosmoport Station
  Resources/Maps/Misc/corvax_terminal.yml
Labels: No C#, Status: Needs Review

#946 Перевод Upstream #942
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/procedural/command.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/wardrobe_job.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/janitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/ru-RU/station-records/general-station-records.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#934 Добавлены переводы книг
  Resources/Locale/ru-RU/paper/book-atmos.ftl
  Resources/Locale/ru-RU/paper/book-escalation.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#949 Перевод Discord Rich Presence
  Resources/Locale/ru-RU/robust-toolbox/discord-rpc.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#951 [GameMap] Avrit Station
  Resources/Maps/corvax_avrit.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: No C#, Status: Needs Review, Changes: Map

#953 Translate Upstream #952
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/holographic/projections.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/weapons/reflect/reflect-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#955 Добавление заикаиния
  Content.Server/Speech/EntitySystems/StutteringSystem.cs
Labels: Status: Needs Review

#959 [Resprite] Reinforced wall
  Resources/Textures/Structures/Walls/solid.rsi/meta.json
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over6.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over7.png
  Resources/Textures/Structures/Walls/solid.rsi/rgeneric.png
Labels: No C#, Changes: Sprites

#960 Added bolt and emergency layer for opened windoor
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#962 Фикс перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/dwarf.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#965 [Map] HotFix Avrite 0.21
  Resources/Maps/corvax_avrit.yml
Labels: No C#, Status: Needs Review, Changes: Map

#963 Discord linking
  Content.Client/Corvax/DiscordAuth/DiscordAuthGui.xaml
  Content.Client/Corvax/DiscordAuth/DiscordAuthGui.xaml.cs
  Content.Client/Corvax/DiscordAuth/DiscordAuthManager.cs
  Content.Client/Corvax/DiscordAuth/DiscordAuthState.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Corvax/DiscordAuth/DiscordAuthManager.cs
  Content.Server/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Content.Shared/Corvax/DiscordAuth/MsgDiscordAuthCheck.cs
  Content.Shared/Corvax/DiscordAuth/MsgDiscordAuthRequired.cs
  Resources/Locale/ru-RU/corvax/discord-auth/discord-auth-state.ftl
Labels: Changes: UI, Changes: Localization

#970 Перевод Upstream #968
  Resources/Locale/ru-RU/administration/commands/uploadfolder.ftl
  Resources/Locale/ru-RU/fluids/components/puddle-component.ftl
  Resources/Locale/ru-RU/fluids/components/spillable-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#975 Add field with auth url
  Content.Client/Corvax/DiscordAuth/DiscordAuthGui.xaml
  Content.Client/Corvax/DiscordAuth/DiscordAuthGui.xaml.cs
  Resources/Locale/ru-RU/corvax/discord-auth/discord-auth-state.ftl
Labels: Changes: UI, Changes: Localization

#973 Removed generation of empty suffix from yamlextractor
  Tools/ss14_ru/fluentast.py
Labels: No C#, Status: Needs Review

#972 Fixed localizations warnings
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/lockers/medical.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/base_clothingouter.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/decoration/present.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/piping/atmospherics/unary.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/generation/generators.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/filing_cabinets.ftl
  Resources/Locale/ru-RU/paper/book-salvage.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#978 Перевод Upstream #977
  Resources/Locale/ru-RU/escape-menu/ui/escape-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/fluids/components/absorbent-component.ftl
  Resources/Locale/ru-RU/fluids/components/puddle-component.ftl
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/antag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/puddle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/vehicles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/kudzu.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/janitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/material_reclaimer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/bar_sign.ftl
  Resources/Locale/ru-RU/weapons/melee/melee.ftl
  Resources/Server Info/Guidebook/Security/Security.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#980 [Role] Fix IAA startgear
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: No C#, Status: Needs Review

#985 [Update] ChatSystem.cs
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#979 [Recipe] QM mantle
  Resources/Prototypes/Corvax/Recipes/Lathes/clothing.yml
Labels: No C#, Status: Needs Review

#988 Перевод Upstream #986
  Resources/Locale/ru-RU/administration/ui/admin-announce-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/construction/construction-categories.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/set-game-preset-command.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/pinpointer/station_map.ftl
  Resources/Locale/ru-RU/radio/components/radio-jammer-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/vests.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_map.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/salvage/ore_bag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/jammer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/pen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/station_map.ftl
  Resources/Locale/ru-RU/station-records/general-station-records.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/toilet/toilet-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1000 [Locale] Локализация эмоутов болезней
  Resources/Prototypes/Voice/disease_emotes.yml
Labels: No C#, Status: Needs Review

#998 Перевод датасета имён космических ниндзя
  Resources/Prototypes/Datasets/Names/ninja.yml
  Resources/Prototypes/Datasets/Names/ninja_title.yml
Labels: No C#, Status: Needs Review

#997 Brigmed fashion locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/vests.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#995 [Add] Chief Engineer's Bags
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/satchel.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/icon.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Backpacks/ce.rsi/meta.json
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/icon.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Duffels/ce.rsi/meta.json
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/icon.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Satchels/ce.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#996 Bunch of resprites
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/furniture/potted_plants.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/pottedplants.yml
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/meta.json
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-0.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-1.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-2.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-3.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-4.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-5.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-6.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-7.png
  Resources/Textures/Corvax/Structures/Furniture/potted_plants.rsi/plant-8.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp-on.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen-on.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp_on.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/meta.json
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/icon.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Localization

#1010 [Update] ChatSystem.cs
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#999 [IAA] Теперь с православной ручкой
  Resources/Prototypes/Corvax/Catalog/Fills/Items/briefcases.yml
Labels: No C#, Status: Needs Review

#1011 Перевод названий голосов TTS
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1004 Перевод Upstream #1002
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/fax/fax-admin.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/ninja/gloves.ftl
  Resources/Locale/ru-RU/ninja/katana.ftl
  Resources/Locale/ru-RU/ninja/ninja-actions.ftl
  Resources/Locale/ru-RU/ninja/role.ftl
  Resources/Locale/ru-RU/ninja/spider-charge.ftl
  Resources/Locale/ru-RU/ninja/terror.ftl
  Resources/Locale/ru-RU/objectives/conditions/doorjack-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/download-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/spider-charge-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/survive-condition.ftl
  Resources/Locale/ru-RU/objectives/conditions/terror-condition.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/spider.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1003 [Local] Перевод космического злодея
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
Labels: Status: Needs Review

#1006 [Sprite] мелкая правка ламп
  Resources/Textures/Objects/Fun/toys.rsi/plushie_lamp.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1009 Расширенный в секрете
  Resources/Prototypes/secret_weights.yml
Labels: No C#, Status: Needs Review

#1015 Больше имён для призванных агентов синдиката
  Resources/Prototypes/Corvax/Datasets/Names/corvax_death_commando.yml
Labels: No C#, Status: Needs Review

#1018 [Fix] Перевод космического злодея
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
Labels: Status: Needs Review

#1025 Изменение списка рандомных имён
  Resources/Prototypes/Datasets/Names/first.yml
  Resources/Prototypes/Datasets/Names/first_male.yml
Labels: No C#, Status: Needs Review

#1026 Микрофикс перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1008 New tabletop RPG rulebook
  Resources/Locale/ru-RU/corvax/paper/book-rulebook.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Books/rulebook.yml
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_stationsagents.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/meta.json
  Resources/Textures/Objects/Misc/books.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1036 Перевод Upstream #1033
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/medical/components/cloning-pod-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/reagents/meta/elements.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/books/rulebook.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/flesh.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/condiments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/bike_horn.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/ore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/machine_parts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/bonfire.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/statues.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/materialdoors/material_doors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/altar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/beds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/bananium.ftl
  Resources/Locale/ru-RU/storage/components/pick-random-component.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1032 Фикс юриста
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#, Status: Needs Review

#1028 Botany guidebook translate
  Resources/ServerInfo/Guidebook/Botany.xml
Labels: No C#, Status: Needs Review

#1039 Правки перевода
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1024 [Update] ChatSystem.cs
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review
