Repository space-syndicate/space-station-14, pull requests merged in 2023-03, with the labels that each got.

#856 Перевод Upstream #853
  Resources/Locale/ru-RU/administration/ui/admin-logs.ftl
  Resources/Locale/ru-RU/motd/motd.ftl
  Resources/Locale/ru-RU/power/verb.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#850 Changed emote chat prefix
  Content.Shared/Chat/SharedChatSystem.cs
Labels: Status: Needs Review

#854 Add hijack traitor objective
  Content.Server/Corvax/Objectives/Conditions/HijackShuttleCondition.cs
  Resources/Locale/ru-RU/corvax/objectives/conditions/hijack-shuttle-condition.ftl
  Resources/Prototypes/Corvax/Objectives/traitorObjectives.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: Localization

#858 Upstream sync
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.IntegrationTests/Tests/DoAfter/DoAfterServerTest.cs
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Anomaly/Effects/PyroclasticAnomalySystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Chat/AutoEmoteComponent.cs
  Content.Server/Chat/Systems/AutoEmoteSystem.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Fluids/EntitySystems/MoppingSystem.cs
  Content.Server/IgnitionSource/IgnitionSourceSystem.cs
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
  Content.Server/Light/EntitySystems/MatchstickSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Server/Resist/CanEscapeInventoryComponent.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Server/Resist/ResistLockerComponent.cs
  Content.Server/Resist/ResistLockerSystem.cs
  Content.Server/StationEvents/Events/GasLeak.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Server/Zombies/ActiveZombieComponent.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Chat/Prototypes/AutoEmotePrototype.cs
  Content.Shared/Decals/SharedDecalSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Voice/auto_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/Clothing/Neck/Bedsheets/wiz.rsi/meta.json
Labels: Changes: Localization

#859 Перевод Upstream #858
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#860 Правки перевода
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#863 Перевод Upstream #861
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/cluwne/cluwne.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/ru-RU/radio/components/encryption-key-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/ru-RU/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/salvage/salvage-system.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/firstaidkits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/soft.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/pins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/ties.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/bike_horn.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/wands.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/magic.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/telecomms.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/strip/strippable-component.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/ui/power-apc.ftl
  Resources/Locale/ru-RU/verbs/verbs.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#864 Правки перевода
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/ui/power-apc.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#874 Перевод Upstream #872
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/procedural/command.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/turrets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/xeno.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/water.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#871 Правки перевода
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ui/power-apc.ftl
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#876 Перевод Upstream #875
  Resources/Locale/ru-RU/ame/components/ame-fuel-container-component.ftl
  Resources/Locale/ru-RU/cargo/cargo-pallet-console-component.ftl
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/emergency-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#880 Перевод Upstream #878
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/station-records/general-station-records.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#882 [Item] DeathSquad backpack
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/backpacks.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Textures/Corvax/Back/Backpacks/deathsquad-backpack.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Backpacks/deathsquad-backpack.rsi/icon.png
  Resources/Textures/Corvax/Back/Backpacks/deathsquad-backpack.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Backpacks/deathsquad-backpack.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Backpacks/deathsquad-backpack.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#884 [Maps] Update Ishimura v0.21
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#892 Add new 345 voices
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#, Changes: Localization

#886 Переводы и ещё раз переводы
  Resources/Locale/ru-RU/administration/ui/ban-list.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/kitchen/components/reagent-grinder-component.ftl
  Resources/Locale/ru-RU/markings/cat.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/suspicion/roles/suspicion-traitor-role.ftl
  Resources/Locale/ru-RU/suspicion/suspicion-gui.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#888 [Resprite] Rat King
  Resources/Textures/Mobs/Animals/regalrat.rsi/dead.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/icon.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/meta.json
  Resources/Textures/Mobs/Animals/regalrat.rsi/regalrat.png
Labels: No C#, Changes: Sprites

#889 [Resprite] Galoshes
  Resources/Textures/Clothing/Shoes/Specific/galoshes.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Specific/galoshes.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Specific/galoshes.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Specific/galoshes.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Specific/galoshes.rsi/meta.json
Labels: No C#, Changes: Sprites

#887 [Resprite] Chairs
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/furniture/chairs.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Furniture/chairs.yml
  Resources/Textures/Corvax/Structures/Furniture/chairs.rsi/brass.png
  Resources/Textures/Corvax/Structures/Furniture/chairs.rsi/carp-overlay.png
  Resources/Textures/Corvax/Structures/Furniture/chairs.rsi/carp.png
  Resources/Textures/Corvax/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/Structures/Furniture/chairs.rsi/comfy-overlay.png
  Resources/Textures/Structures/Furniture/chairs.rsi/comfy.png
  Resources/Textures/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/Structures/Furniture/chairs.rsi/office-dark.png
  Resources/Textures/Structures/Furniture/chairs.rsi/office-white.png
  Resources/Textures/Structures/Furniture/chairs.rsi/shuttle-overlay.png
  Resources/Textures/Structures/Furniture/chairs.rsi/shuttle.png
  Resources/Textures/Structures/Furniture/chairs.rsi/wooden-wings.png
  Resources/Textures/Structures/Furniture/chairs.rsi/wooden.png
Labels: No C#, Changes: Sprites, Changes: Localization

#890 [Resprite] Wintercoats
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatatmos.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatatmos.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatatmos.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcargo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcargo.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatce.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatce.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatce.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcentcom.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcentcom.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcentcom.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatchem.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatchem.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatchem.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcmo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcmo.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcmo.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatengi.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatengi.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatengi.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatgen.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatgen.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatgen.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathop.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathop.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathop.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathydro.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathydro.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coathydro.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatjani.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatjani.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatjani.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmed.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmed.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatminer.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatminer.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatminer.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatparamed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatparamed.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatparamed.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatqm.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatqm.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatqm.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatrd.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatrd.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatrd.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatrobo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatrobo.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatrobo.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsci.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsci.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatsci.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatviro.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatviro.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatviro.rsi/meta.json
Labels: No C#, Changes: Sprites

#885 [Maps] Update Delta-Shuttle V0.2
  Resources/Maps/Shuttles/delta_shuttle.yml
  Resources/Maps/Shuttles/emergency_delta.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
Labels: No C#, Status: Needs Review

#881 [GameMap] Avrit Station
  Resources/Maps/Shuttles/emergency_avrit.yml
  Resources/Maps/corvax_avrit.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: No C#, Status: Needs Review, Changes: Map

#873 [Resprite] Ammo machine redisign
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Corvax/Structures/Machines/VendingMachines/Ammo.rsi/broken.png
  Resources/Textures/Corvax/Structures/Machines/VendingMachines/Ammo.rsi/meta.json
  Resources/Textures/Corvax/Structures/Machines/VendingMachines/Ammo.rsi/normal-unshaded.png
  Resources/Textures/Corvax/Structures/Machines/VendingMachines/Ammo.rsi/off.png
  Resources/Textures/Corvax/Structures/Machines/VendingMachines/Ammo.rsi/panel.png
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#895 Modular grenade primed.png fix
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/primed.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#896 Sort TTS voices
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml.cs
Labels: Changes: UI

#897 [Resprite] Intercom
  Resources/Textures/Structures/Wallmounts/intercom.rsi/base.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/broadcasting.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/build.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/intercom.rsi/unshaded.png
Labels: No C#, Changes: Sprites

#898 Fix shuttle call window
  Content.Client/Administration/UI/Tabs/AdminTab/AdminShuttleWindow.xaml
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
Labels: No C#, Changes: UI, Changes: Localization

#899 [Maps] Shuttle names fix
  Resources/Maps/Shuttles/emergency_avrit.yml
  Resources/Maps/Shuttles/emergency_delta.yml
Labels: No C#, Status: Needs Review

#901 Maybe Ammomachine fix.yml
  Resources/Textures/Corvax/Structures/Machines/VendingMachines/ammo.rsi/broken.png
  Resources/Textures/Corvax/Structures/Machines/VendingMachines/ammo.rsi/meta.json
  Resources/Textures/Corvax/Structures/Machines/VendingMachines/ammo.rsi/normal-unshaded.png
  Resources/Textures/Corvax/Structures/Machines/VendingMachines/ammo.rsi/off.png
  Resources/Textures/Corvax/Structures/Machines/VendingMachines/ammo.rsi/panel.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#903 Add custom footsteps for jackboots
  Resources/Audio/Corvax/Effects/Footsteps/boots1.ogg
  Resources/Audio/Corvax/Effects/Footsteps/boots2.ogg
  Resources/Audio/Corvax/Effects/Footsteps/boots3.ogg
  Resources/Prototypes/Corvax/SoundCollections/footsteps.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
Labels: No C#

#905 Перевод Upstream #904
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/hands/hands-system.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/waist_bags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/pen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#907 Change armor to sec coat
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/coats.yml
Labels: No C#, Status: Needs Review

#909 Перевод [Resprite] Sec Improvements #894
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/coats.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#915 Перевод Upstream #912
  Resources/Locale/ru-RU/HUD/game-hud.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/info/server-info.ftl
  Resources/Locale/ru-RU/lobby/lobby-state.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/nuke/nuke-command.ftl
  Resources/Locale/ru-RU/procedural/command.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/emergency-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/science-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/security-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Locale/ru-RU/radio/components/encryption-key-component.ftl
  Resources/Locale/ru-RU/reagents/generic.ftl
  Resources/Locale/ru-RU/reagents/meta/chemicals.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/shuttles/arrivals.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/shuttles/docking.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/science.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/debug.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/placement.ftl
  Resources/Locale/ru-RU/wires/components/wires-panel-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#921 Translate suffixies external doors
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#923 added words to chat filter
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#914 Update uplink_catalog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#, Status: Needs Review

#924 Правки перевода
  Resources/Locale/ru-RU/reagents/meta/botany.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/xenoarchaeology/traversal-distorter.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#925 Исправлено название фракции `Мародёры Горлекса`
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#919 [Maps] Update Ishimura V0.22
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#930 [Sprite] EncryptionKeyIAA sprite fix
  Resources/Prototypes/Corvax/Entities/Objects/Devices/encryption_keys.yml
Labels: No C#, Status: Needs Review

#929 Перевод Upstream #926
  Resources/Locale/ru-RU/advertisements/vending/chemdrobe.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/medical/components/crew-monitoring-component.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/paper/book-gaming.ftl
  Resources/Locale/ru-RU/paper/book-salvage.ftl
  Resources/Locale/ru-RU/paper/paper-misc.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/soda.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hoods.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/vendingdrinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/vendingsnacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pneumatic_cannon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/binary.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#927 Trim shuttle end sound effect
  Resources/Audio/Effects/Shuttle/hyperspace_end.ogg
  Resources/Audio/Effects/Shuttle/licenses.txt
Labels: No C#

#933 Fixed IAA briefcase suffix
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/items/briefcases.ftl
  Resources/Prototypes/Corvax/Catalog/Fills/Items/briefcases.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#939 Правки перевода
  Resources/Locale/ru-RU/medical/components/crew-monitoring-component.ftl
  Resources/Locale/ru-RU/medical/components/suit-sensor-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#932 Update ChatSystem
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#938 [TTS] Revenant
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: No C#, Status: Needs Review

#935 [TTS] Personal AI
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: No C#
