Repository space-syndicate/space-station-14, pull requests merged in 2023-09, with the labels that each got.

#1386 Locale fixes
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/portable_generator.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1380 Респрайт противогаза эскадрона смерти
  Resources/Textures/Clothing/Mask/squadron.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/squadron.rsi/icon.png
  Resources/Textures/Clothing/Mask/squadron.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/squadron.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/squadron.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1354 Изменение спрайта наномеда
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/deny-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/off.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1377 апдейт синдинеймов
  Resources/Prototypes/Corvax/Datasets/Names/corvax_death_commando.yml
Labels: No C#, Status: Needs Review

#1384 Salvage guidebook locale
  Resources/ServerInfo/Guidebook/Cargo/Salvage.xml
Labels: No C#, Status: Needs Review

#1391 Перевод Upstream #1387
  Resources/Locale/ru-RU/actions/actions/hardsuit.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/items/components/item-component.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/objectives/round-end.ftl
  Resources/Locale/ru-RU/power/components/radiation-collector.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/botany-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/species/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/base_clothinghead.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hoods.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/argocyte.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/simplemob.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/tabletop/checkers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemical-containers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/buckleable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/watergun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/materialdoors/material_doors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/singularity/collector.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/ui/power-apc.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1393 Guidebook locale
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/ServerInfo/Guidebook/Chemicals.xml
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
  Resources/ServerInfo/Guidebook/Survival.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#1394 Increase upload file up to 25MB
  Resources/ConfigPresets/Corvax/common.toml
Labels: No C#

#1389 New lobby art
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/nukie-dudes.png
  Resources/Textures/Corvax/LobbyScreens/nukie-dudes.png.yml
Labels: No C#, Status: Needs Review

#1392 Change nukies auto-replace to empty string
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#1395 Enable round start arachnids
  Resources/Prototypes/Species/arachnid.yml
Labels: No C#

#1388 Изменен MapPool для Атара, Мейн и Элизиум
  Resources/ConfigPresets/Corvax/athara.toml
  Resources/ConfigPresets/Corvax/elysium.toml
  Resources/ConfigPresets/Corvax/main.toml
Labels: No C#

#1398 Enable TTS on Elysium
  Resources/ConfigPresets/Corvax/elysium.toml
Labels: No C#

#1286 Респрайт одежды на обезьянах
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/capformal.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/capformal.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/captain.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/captain.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cargotech.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cargotech.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cargotech.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cargotech.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_official.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_official.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcomformal.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chef.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chef.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chemistry.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chemistry.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/detective.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/detective.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/detective_grey.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/detective_grey.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hop.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hop.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hos.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hos.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hos_alt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hos_alt.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hos_blue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/medical.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/medical.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/musician.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/musician.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/paramedic.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/paramedic.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/warden.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/warden.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1400 Add stampedColor to corvax stamps
  Resources/Prototypes/Corvax/Entities/Objects/Misc/stamps.yml
Labels: No C#, Status: Needs Review

#1401 wide research computer ui
  Content.Client/Research/UI/ResearchConsoleMenu.xaml
Labels: No C#, Status: Needs Review, Changes: UI

#1399 Add do not map suffix to corvax stamps
  Resources/Prototypes/Corvax/Entities/Objects/Misc/stamps.yml
Labels: No C#, Status: Needs Review

#1353 фикс ё в имени персонажа
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Status: Needs Review

#1406 Update corvax_ishimura.yml
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1403 remove gay from reptilian names
  Resources/Prototypes/Datasets/Names/reptilian_male.yml
Labels: No C#, Status: Needs Review

#1407 Fix admin-notes.ftl
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1410 HotFix corvax_ishimura.yml
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1405 Chemical things machine boards translation fixes
  Resources/Locale/ru-RU/chemistry/components/chem-master-component.ftl
  Resources/Locale/ru-RU/chemistry/components/reagent-dispenser-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1413 Replace Lawyer with IAA for Europa station
  Resources/Prototypes/Maps/europa.yml
Labels: No C#, Changes: Map

#1418 Update WL server title
  Resources/ConfigPresets/Corvax/wl.toml
Labels: No C#

#1421 Remove Delta from mappool
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review

#1411 Dataset translate
  Resources/Prototypes/Datasets/Names/ai.yml
  Resources/Prototypes/Datasets/Names/borer.yml
  Resources/Prototypes/Datasets/Names/clown.yml
  Resources/Prototypes/Datasets/Names/hologram.yml
  Resources/Prototypes/Datasets/Names/mushman_first.yml
  Resources/Prototypes/Datasets/Names/mushman_last.yml
Labels: No C#, Status: Needs Review

#1404 [Translate] Логические предметы и сетевые порты
  Resources/Locale/ru-RU/logic-gates/logic-gates.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/gates.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1429 Правки переводы
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1431 Tiles Corvax Stylization
  Resources/Textures/Decals/bricktile.rsi/steel_line_s.png
  Resources/Textures/Tiles/cafeteria.png
  Resources/Textures/Tiles/checker_dark.png
  Resources/Textures/Tiles/mime.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1433 Перевод Upstream #1430
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/access/components/id-card-component.ftl
  Resources/Locale/ru-RU/actions/actions/crit.ftl
  Resources/Locale/ru-RU/actions/actions/sleep.ftl
  Resources/Locale/ru-RU/chapel/bible.ftl
  Resources/Locale/ru-RU/decals/decal-window.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/gateway/gateway.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/health-examinable/health-examinable-silicon.ftl
  Resources/Locale/ru-RU/objectives/conditions/doorjack.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-head.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-person.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-alive.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-progress.ftl
  Resources/Locale/ru-RU/objectives/conditions/spider-charge.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-research.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/objectives/round-end.ftl
  Resources/Locale/ru-RU/pai/pai-system.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/canisters/gas-canisters.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/skeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/arachnid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/dwarf.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/moth.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/skeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/shields/shields.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/spider.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/barricades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/bombs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/stairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/ore_box.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/ninja.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ventriloquist/ventriloquist.ftl
  Resources/Locale/ru-RU/voice-mask.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1436 Микрофикс перевода collector.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/singularity/collector.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1419 localize slurred accent
  Content.Server/Speech/EntitySystems/SlurredSystem.cs
Labels: Status: Needs Review

#1437 Правки перевода
  Resources/Locale/ru-RU/materials/units.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1439 Decrease doorjack count
  Resources/Prototypes/Objectives/ninja.yml
Labels: No C#, Status: Needs Review

#1444 [Resprite] Harmmode
  Resources/Textures/Interface/Actions/harm.png
  Resources/Textures/Interface/Actions/harmOff.png
Labels: No C#, Status: Needs Review

#1445 [Resprite] Disarm
  Resources/Textures/Interface/Actions/disarm.png
  Resources/Textures/Interface/Actions/disarmOff.png
  Resources/Textures/Interface/Actions/meta.json
Labels: No C#, Status: Needs Review

#1448 [Resprite] RatKing Actions
  Resources/Textures/Interface/Actions/actions_rat_king.rsi/attack.png
  Resources/Textures/Interface/Actions/actions_rat_king.rsi/attackOff.png
  Resources/Textures/Interface/Actions/actions_rat_king.rsi/follow.png
  Resources/Textures/Interface/Actions/actions_rat_king.rsi/followOff.png
  Resources/Textures/Interface/Actions/actions_rat_king.rsi/loose.png
  Resources/Textures/Interface/Actions/actions_rat_king.rsi/looseOff.png
  Resources/Textures/Interface/Actions/actions_rat_king.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_rat_king.rsi/stay.png
  Resources/Textures/Interface/Actions/actions_rat_king.rsi/stayOff.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1450 Revert "Remove old wiki update workflow (#20385)"
  .github/workflows/update-wiki.yml
Labels: No C#

#1453 Перевод Upstream #1447
  Resources/Locale/ru-RU/administration/ui/ban-list.ftl
  Resources/Locale/ru-RU/animals/rat-king/rat-king.ftl
  Resources/Locale/ru-RU/nutrition/components/drink-component.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/procedural/expeditions.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/quiver.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/regalrat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/bow/bow.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/arrows.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/railing.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/vending-machines/vending-machine-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1451 локализация шепелявости
  Content.Server/Speech/EntitySystems/FrontalLispSystem.cs
Labels: Status: Needs Review

#1455 Перевод Upstream #1454
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/markings/arachnid.ftl
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/nukeops/nuke-ops.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1449 Give sec boots with knife
  Resources/Prototypes/Corvax/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#, Status: Needs Review

#1456 Locale rat_king_commands.yml
  Resources/Prototypes/Datasets/rat_king_commands.yml
Labels: No C#, Status: Needs Review

#1457 Rename dinnerware vendor
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1463 Правки перевода
  Resources/Locale/ru-RU/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/ru-RU/fluids/components/spillable-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/external.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/shuttle.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1469 Перевод Upstream #1467
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/core.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/items/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/observer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/janitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/spear.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/easy_pry.ftl
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
