Repository space-syndicate/space-station-14, pull requests merged in 2023-08, with the labels that each got.

#1244 Revert "Add syndicate crate sprites"
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/syndicate.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/storage/crates/crates.ftl
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Corvax/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/base.png
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/closed.png
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/icon.png
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/meta.json
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/open.png
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/sparking.png
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/welded.png
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1242 Disable artifact spam on round end
  Resources/ConfigPresets/Corvax/mrp.toml
Labels: No C#

#1248 Фикс спрайта атмосферного рюкзака
  Resources/Textures/Clothing/Back/Backpacks/atmospherics.rsi/equipped-BACKPACK.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1250 Перевод Upstream #1247
  Resources/Locale/ru-RU/access/components/agent-id-card-component.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-scanner-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/gateway/gateway.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/lobby/lobby-state.ftl
  Resources/Locale/ru-RU/mass-media/news-ui.ftl
  Resources/Locale/ru-RU/mind/components/mind-component.ftl
  Resources/Locale/ru-RU/power/components/generator.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/syndicate-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/botany.ftl
  Resources/Locale/ru-RU/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/reagents/meta/pyrotechnic.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/maintenance.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/donut.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/secret_documents.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/spaceshroom.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mechs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/antimateriel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/gateway.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/generators.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1251 Revert "Revert "New tabletop RPG rulebook (#1008)" (#1236)"
  Resources/Locale/ru-RU/corvax/paper/book-rulebook.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Books/rulebook.yml
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_stationsagents.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1257 [Fix] Спрайт фуражки капитана на хомяке
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/meta.json
Labels: No C#, Status: Needs Review

#1255 добавить ДСО в tts sanitize
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: Status: Needs Review

#1265 Откат изменения текстуры умного холодильника
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/deny-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-0.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-1.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-2.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-3.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/off-real.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/panel.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1254 Фикс перевода
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/mind/components/mind-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1258 Респрайт командного ящика
  Resources/Textures/Structures/Storage/Crates/command.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/command.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/command.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/command.rsi/locked.png
  Resources/Textures/Structures/Storage/Crates/command.rsi/meta.json
  Resources/Textures/Structures/Storage/Crates/command.rsi/open.png
  Resources/Textures/Structures/Storage/Crates/command.rsi/sparking.png
  Resources/Textures/Structures/Storage/Crates/command.rsi/unlocked.png
  Resources/Textures/Structures/Storage/Crates/command.rsi/welded.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1271 Disable moths
  Resources/Prototypes/Species/moth.yml
Labels: No C#

#1259 Респрайт некоторых вещей со старой текстурой
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwarden.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwarden.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwarden.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwarden.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatwarden.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/icon.png
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1256 Респрайт карго рюкзаков
  Resources/Textures/Clothing/Back/Backpacks/cargo.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/cargo.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/cargo.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/cargo.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/cargo.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/cargo.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/cargo.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/cargo.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/cargo.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/cargo.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1243 [Maps] Убрать ишимуру с пула карт
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review

#1275 Перевод Upstream #1264
  Resources/Locale/ru-RU/markings/moth.ftl
  Resources/Locale/ru-RU/nutrition/components/food-component.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/arachnid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/base.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/moth.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/reptilian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/miscellaneous.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/arachnid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/moth.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/moth.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/pai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/lantern.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/needle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/weapons/melee/melee.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1276 Перевод Upstream #1270
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/damage/stamina.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/security-crates.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/chainsaw.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1280 Перевод Upstream #1273
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/candy_bowl.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/binary.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1281 Disable role timers for WL
  Resources/ConfigPresets/Corvax/wl.toml
Labels: No C#

#1283 Серая юбка для кадетов
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#, Status: Needs Review

#1284 Перевод Upstream #1282
  Resources/Locale/ru-RU/administration/commands/set-mind-command.ftl
  Resources/Locale/ru-RU/damage/damage-examine.ftl
  Resources/Locale/ru-RU/markings/moth.ftl
  Resources/Locale/ru-RU/particle-accelerator/particle-accelerator-admin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/buckleable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/antimateriel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/bar_sign.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1287 [Map] Remove CorvaxBox
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/box.yml
Labels: No C#, Status: Needs Review

#1290 Перевод имён нианов
  Resources/Prototypes/Datasets/Names/moth_first_female.yml
  Resources/Prototypes/Datasets/Names/moth_first_male.yml
  Resources/Prototypes/Datasets/Names/moth_last.yml
Labels: No C#, Status: Needs Review

#1292 Remove "Норм" from ChatFilter
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#1295 Revert "Disable moths"
  Resources/Prototypes/Species/moth.yml
Labels: No C#

#1293 Update ChatFilter
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#1302 Add MRP tag for Main
  Resources/ConfigPresets/Corvax/main.toml
Labels: No C#

#1304 Перевод и убирание некоторых спич эмоутов
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review

#1305 [TTS] Taxibot
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#, Status: Needs Review

#1307 Remove Corvax from default rules header
  Resources/ConfigPresets/Corvax/common.toml
  Resources/Locale/ru-RU/corvax/info/rules.ftl
  Resources/Locale/ru-RU/info/rules.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1310 [Map/HotFix] Terminal
  Resources/Maps/Misc/corvax_terminal.yml
Labels: No C#, Status: Needs Review

#1309 [Map] Ishimura
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1296 фикс отсылки и моего кринжа
  Resources/Locale/ru-RU/markings/moth.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1311 [Maps] Вернуть Ишимуру в Пулл Карт
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review

#1301 Откат старого спрайта ядерной бомбы
  Resources/Textures/Objects/Devices/nuke.rsi/meta.json
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_base.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_deployed.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_exploding.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_timing.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbombc.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1318 Квикфикс энаунсментов
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1324 Перевод Upstream #1322
  Resources/Locale/ru-RU/actions/actions/borgs.ftl
  Resources/Locale/ru-RU/actions/actions/crit.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/construction/conditions/any-conditions.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/emotes/emotes.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops-traitor.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/power-cell/components/power-cell-component.ftl
  Resources/Locale/ru-RU/power/teg.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/robotics/mmi.ftl
  Resources/Locale/ru-RU/sensor-monitoring/sensor-monitoring.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/base_borg_chassis.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/mousetrap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_map.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mech_construction.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mechs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/defib.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_parts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/endoskeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/mmi.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/cable_coils.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/tools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/stations/nanotrasen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/teg.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Prototypes/radio_channels.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1325 Transl fixes
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1326 replaced static Discord link with variable
  Resources/Locale/ru-RU/connection-messages.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1331 Fix translation
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/defib.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1334 Добавил переводов
  Resources/Locale/ru-RU/administration/bwoink.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/fax/fax-admin.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/food.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1332 Добавил перевод голоклоуна, поправил пару опечаток
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guardian/guardian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/guardian.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/guardian_activators.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/figurines.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1335 Перевод Upstream #1328
  Resources/Locale/ru-RU/actions/actions/spider.ftl
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/botany/swab.ftl
  Resources/Locale/ru-RU/construction/conditions/crafter-whitelist.ftl
  Resources/Locale/ru-RU/fax/fax-admin.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mechs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/throwing_stars.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/secretdoor/secret_door.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/beds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/tables/tables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1336 Smol LizardAccent Update
  Content.Server/Speech/EntitySystems/LizardAccentSystem.cs
Labels: Status: Needs Review

#1289 Изменение текста уровней кода
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1269 Add galoshes to janidrobe +galoshes 1984
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: No C#, Status: Needs Review

#1338 Перевод элитного Upstream #1337
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/engineer-painter/engineer-painter.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/spray_painter.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1339 Make speech bubble 32px
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/alien0.png
  Resources/Textures/Effects/speech.rsi/alien1.png
  Resources/Textures/Effects/speech.rsi/alien2.png
  Resources/Textures/Effects/speech.rsi/alien3.png
  Resources/Textures/Effects/speech.rsi/alienroyal0.png
  Resources/Textures/Effects/speech.rsi/alienroyal1.png
  Resources/Textures/Effects/speech.rsi/alienroyal2.png
  Resources/Textures/Effects/speech.rsi/alienroyal3.png
  Resources/Textures/Effects/speech.rsi/blob0.png
  Resources/Textures/Effects/speech.rsi/blob1.png
  Resources/Textures/Effects/speech.rsi/blob2.png
  Resources/Textures/Effects/speech.rsi/blob3.png
  Resources/Textures/Effects/speech.rsi/default0.png
  Resources/Textures/Effects/speech.rsi/default1.png
  Resources/Textures/Effects/speech.rsi/default2.png
  Resources/Textures/Effects/speech.rsi/default3.png
  Resources/Textures/Effects/speech.rsi/guardian0.png
  Resources/Textures/Effects/speech.rsi/guardian1.png
  Resources/Textures/Effects/speech.rsi/guardian2.png
  Resources/Textures/Effects/speech.rsi/guardian3.png
  Resources/Textures/Effects/speech.rsi/holo0.png
  Resources/Textures/Effects/speech.rsi/holo1.png
  Resources/Textures/Effects/speech.rsi/holo2.png
  Resources/Textures/Effects/speech.rsi/holo3.png
  Resources/Textures/Effects/speech.rsi/lawyer0.png
  Resources/Textures/Effects/speech.rsi/lawyer1.png
  Resources/Textures/Effects/speech.rsi/lawyer2.png
  Resources/Textures/Effects/speech.rsi/lawyer3.png
  Resources/Textures/Effects/speech.rsi/machine0.png
  Resources/Textures/Effects/speech.rsi/machine1.png
  Resources/Textures/Effects/speech.rsi/machine2.png
  Resources/Textures/Effects/speech.rsi/machine3.png
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/moth0.png
  Resources/Textures/Effects/speech.rsi/moth1.png
  Resources/Textures/Effects/speech.rsi/moth2.png
  Resources/Textures/Effects/speech.rsi/robot0.png
  Resources/Textures/Effects/speech.rsi/robot1.png
  Resources/Textures/Effects/speech.rsi/robot2.png
  Resources/Textures/Effects/speech.rsi/robot3.png
  Resources/Textures/Effects/speech.rsi/signlang0.png
  Resources/Textures/Effects/speech.rsi/signlang1.png
  Resources/Textures/Effects/speech.rsi/signlang2.png
  Resources/Textures/Effects/speech.rsi/signlang3.png
  Resources/Textures/Effects/speech.rsi/slime0.png
  Resources/Textures/Effects/speech.rsi/slime1.png
  Resources/Textures/Effects/speech.rsi/slime3.png
  Resources/Textures/Effects/speech.rsi/syndibot0.png
  Resources/Textures/Effects/speech.rsi/syndibot1.png
  Resources/Textures/Effects/speech.rsi/syndibot2.png
  Resources/Textures/Effects/speech.rsi/syndibot3.png
Labels: No C#, Changes: Sprites

#1342 [Resprite] Secret Door
  Resources/Textures/Structures/Doors/secret_door.rsi/assembly.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closed.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closing.png
  Resources/Textures/Structures/Doors/secret_door.rsi/meta.json
  Resources/Textures/Structures/Doors/secret_door.rsi/open.png
  Resources/Textures/Structures/Doors/secret_door.rsi/opening.png
Labels: No C#, Changes: Sprites

#1345 Перевод Upstream #1341
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/pai/pai-system.ftl
  Resources/Locale/ru-RU/portal/portal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cartons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/kitchen/foodcarts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/chasm.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1346 Изменение ConfigPreset
  Resources/ConfigPresets/Corvax/athara.toml
  Resources/ConfigPresets/Corvax/echo.toml
  Resources/ConfigPresets/Corvax/elysium.toml
  Resources/ConfigPresets/Corvax/main.toml
  Resources/ConfigPresets/Corvax/nova.toml
  Resources/ConfigPresets/Corvax/solaris.toml
  Resources/ConfigPresets/Corvax/wl.toml
Labels: No C#, Status: Needs Review

#1347 Фиксим сцк на дельте и аврите.
  Resources/Maps/Shuttles/emergency_avrit.yml
  Resources/Maps/Shuttles/emergency_delta.yml
Labels: No C#, Status: Needs Review

#1351 Add Corvax to LICENSE.TXT
  LICENSE.TXT
Labels: No C#

#1352 [Resprite] ERT helmets
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_engineer.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_janitor.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_leader.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_medic.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/ert_security.rsi/meta.json
Labels: No C#, Changes: Sprites

#1356 Set Discord rich presence Cvar logo
  Resources/ConfigPresets/Corvax/common.toml
Labels: No C#

#1360 Перевод Upstream #1355 и #1358
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/markings/diona.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/grille.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/chimp_upgrade_kit.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/funny.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/toilet/toilet-component.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Prototypes/Datasets/Names/skeleton_first.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1363 Change lobby duration
  Resources/ConfigPresets/Corvax/common.toml
Labels: No C#, Status: Needs Review

#1364 Респрайты вещей службы безопасности, а так же некоторых очков
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/meta.json
  Resources/Textures/Clothing/Belt/security.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/security.rsi/icon.png
  Resources/Textures/Clothing/Belt/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Belt/security.rsi/inhand-right.png
  Resources/Textures/Clothing/Belt/security.rsi/meta.json
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/icon.png
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/inhand-left.png
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/inhand-right.png
  Resources/Textures/Clothing/Belt/securitywebbing.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/red.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Bandanas/red.rsi/icon.png
  Resources/Textures/Clothing/Head/Bandanas/red.rsi/icon_mask.png
  Resources/Textures/Clothing/Head/Bandanas/red.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Bandanas/red.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Bandanas/red.rsi/mask-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Bandanas/red.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/meta.json
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/meta.json
  Resources/Textures/Clothing/Head/Soft/secsoft_flipped.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/secsoft_flipped.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/secsoft_flipped.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/secsoft_flipped.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Soft/secsoft_flipped.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1361 [Resprite] Localizations
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_eject.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_ivanov_cooldown.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_savannah_cooldown.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_view_stats.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/meta.json
  Resources/Textures/Interface/Actions/disarm.png
  Resources/Textures/Interface/Actions/disarmOff.png
  Resources/Textures/Interface/Actions/harm.png
  Resources/Textures/Interface/Actions/harmOff.png
  Resources/Textures/Interface/Actions/meta.json
  Resources/Textures/Interface/Alerts/Buckle/buckled.png
  Resources/Textures/Interface/Alerts/Handcuffed/Handcuffed.png
  Resources/Textures/Interface/Alerts/Pull/pulled.png
  Resources/Textures/Interface/Alerts/Pull/pulling.png
  Resources/Textures/Interface/Alerts/breathing.rsi/meta.json
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_tox.png
  Resources/Textures/Interface/Alerts/breathing.rsi/too_much_tox.png
  Resources/Textures/Interface/Alerts/ensnared.rsi/ensnared.png
  Resources/Textures/Interface/Alerts/ensnared.rsi/meta.json
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence0.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/essence16.png
  Resources/Textures/Interface/Alerts/essence_counter.rsi/meta.json
  Resources/Textures/Interface/Alerts/internals.rsi/internal0.png
  Resources/Textures/Interface/Alerts/internals.rsi/internal1.png
  Resources/Textures/Interface/Alerts/internals.rsi/internal2.png
  Resources/Textures/Interface/Alerts/internals.rsi/meta.json
  Resources/Textures/Interface/Alerts/pressure.rsi/highpressure1.png
  Resources/Textures/Interface/Alerts/pressure.rsi/highpressure2.png
  Resources/Textures/Interface/Alerts/pressure.rsi/lowpressure1.png
  Resources/Textures/Interface/Alerts/pressure.rsi/lowpressure2.png
  Resources/Textures/Interface/Alerts/pressure.rsi/meta.json
  Resources/Textures/Interface/Misc/program_icons.rsi/meta.json
  Resources/Textures/Interface/Misc/program_icons.rsi/news_read.png
  Resources/Textures/Structures/Holo/holofan.rsi/icon.png
  Resources/Textures/Structures/Holo/holofan.rsi/meta.json
  Resources/Textures/Structures/Holo/security.rsi/icon.png
  Resources/Textures/Structures/Holo/security.rsi/meta.json
  Resources/Textures/Structures/Holo/wetfloor.rsi/icon.png
  Resources/Textures/Structures/Holo/wetfloor.rsi/meta.json
Labels: No C#, Changes: Sprites

#1369 hours
  Resources/ConfigPresets/Corvax/athara.toml
  Resources/ConfigPresets/Corvax/solaris.toml
Labels: No C#, Status: Needs Review

#1366 Перевод Upstream #1362
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/administration/bwoink.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/markings/arachnid.ftl
  Resources/Locale/ru-RU/mind/components/mind-component.ftl
  Resources/Locale/ru-RU/speech/speech-effects.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/snacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/parts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/metal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/ServerInfo/Guidebook/Writing.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#1368 [Localisation] Mamma mia, accento italiano
  Resources/Locale/ru-RU/accent/italian.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1371 Localize admin stuff
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1374 Перевод Upstream #1373
  Resources/Locale/ru-RU/accent/italian.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/corvax/accent/italian.ftl
  Resources/Locale/ru-RU/discord/round-notifications.ftl
  Resources/Locale/ru-RU/generic.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/node-container/node-container-component.ftl
  Resources/Locale/ru-RU/power/components/generator.ftl
  Resources/Locale/ru-RU/preferences/ui/flavor-text.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/salvage/fulton-system.ftl
  Resources/Locale/ru-RU/speech/melee-speech.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/lavaland.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/fulton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/portable_generator.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1306 New library book, "Busido"
  Resources/Locale/ru-RU/corvax/paper/book-busido.ftl
  Resources/Locale/ru-RU/corvax/paper/book-rulebook.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/books/busido.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Books/busido.yml
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_busido.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1285 Перевод акцента дворфов
  Resources/Locale/ru-RU/accent/dwarf.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1378 Перевод Upstream #1376
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/nukeops/war-declarator.ftl
  Resources/Locale/ru-RU/nukeops/war-ops.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/war_declarator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1382 Перевод Upstream #1381
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-deathmatch.ftl
  Resources/Locale/ru-RU/game-ticking/game-rules/rules.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/points/points.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/weapon_toolbox.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1383 1984 quick-fix
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-deathmatch.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
