Repository space-syndicate/space-station-14, pull requests merged in 2023-01, with the labels that each got.

#691 Правки перевода
  Resources/Locale/ru-RU/payload/payload-case.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#694 [Resprite] Syndicate EVA
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight-inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight-inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/headlight.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit-inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit-inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/syndicate.rsi/visorlit.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/syndicate.rsi/meta.json
Labels: No C#, Changes: Sprites

#700 Custom default pool
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#

#701 Перевод Upstream #695
  Resources/Locale/ru-RU/construction/conditions/machine-frame-complete.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/portal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/hand_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/flashlights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/magic/staves.ftl
  Resources/Locale/ru-RU/vending-machines/vending-machine-restock-component.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#687 USG Ishimura
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#707 Перевод Upstream #705
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/xenoarchaeology/misc-artifact.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#708 Locale tweak
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#706 [Resprite] Paramed hardsuit
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#711 Правки перевода
  Resources/Locale/ru-RU/actions/actions/ghost.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#713 Fix nukeops round end string colors
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#714 Update station goals system
  Content.Server/Corvax/StationGoal/StationGoalCommand.cs
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Content.Server/Corvax/StationGoal/StationGoalSystem.cs
  Content.Server/Fax/FaxMachineComponent.cs
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-command.ftl
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Labels: Changes: Localization

#718 [Sponsor] Old HoS outfit
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/back/satchel.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/belt/belts.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/hands/gloves.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/uniforms/jumpsuit/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/uniforms/jumpsuit/jumpsuits.ftl
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Back/Satchels/hos.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Back/Satchels/hos.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Back/Satchels/hos.rsi/inhand-left.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Back/Satchels/hos.rsi/inhand-right.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Back/Satchels/hos.rsi/meta.json
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Belt/hos.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Belt/hos.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Belt/hos.rsi/inhand-left.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Belt/hos.rsi/inhand-right.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Belt/hos.rsi/meta.json
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Hands/Gloves/hos.rsi/equipped-HAND.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Hands/Gloves/hos.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Hands/Gloves/hos.rsi/inhand-left.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Hands/Gloves/hos.rsi/inhand-right.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Hands/Gloves/hos.rsi/meta.json
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Head/Hats/hoscap.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Head/Hats/hoscap.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Head/Hats/hoscap.rsi/inhand-left.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Head/Hats/hoscap.rsi/inhand-right.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Head/Hats/hoscap.rsi/meta.json
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/OuterClothing/Coats/hos_overcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/OuterClothing/Coats/hos_overcoat.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/OuterClothing/Coats/hos_overcoat.rsi/inhand-left.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/OuterClothing/Coats/hos_overcoat.rsi/inhand-right.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/OuterClothing/Coats/hos_overcoat.rsi/meta.json
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Uniforms/Jumpsuit/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Uniforms/Jumpsuit/hos.rsi/icon.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Uniforms/Jumpsuit/hos.rsi/inhand-left.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Uniforms/Jumpsuit/hos.rsi/inhand-right.png
  Resources/Textures/Corvax/Sponsor/NEKISH/Clothing/Uniforms/Jumpsuit/hos.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Localization

#719 Add missing sponsor loadout items
  Resources/Prototypes/Corvax/Catalog/Loadout/sponsor.yml
Labels: No C#

#721 Правки перевода
  Resources/Locale/ru-RU/chemistry/solution/components/shared-solution-container-component.ftl
  Resources/Locale/ru-RU/commands/stat-values-command.ftl
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/revenant/revenant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/chemistry_effects.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/pie.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/banners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/surveillance_camera_routers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wardrobe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/surveillance_camera.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#723 Перевод upstream #722
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cups.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#717 Custom app icon
  Resources/Textures/Logo/icon-ru/icon-128x128.png
  Resources/Textures/Logo/icon-ru/icon-16x16.png
  Resources/Textures/Logo/icon-ru/icon-24x24.png
  Resources/Textures/Logo/icon-ru/icon-256x256.png
  Resources/Textures/Logo/icon-ru/icon-32x32.png
  Resources/Textures/Logo/icon-ru/icon-48x48.png
  Resources/Textures/Logo/icon-ru/icon-64x64.png
  Resources/manifest.yml
Labels: No C#

#720 Обновление Ишимуры
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#729 Fixed minplayers of corvax maps
  Resources/Prototypes/Corvax/Maps/box.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: No C#, Status: Needs Review

#728 Перевод каталога аплинка
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/jaws_of_life.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/lantern.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/buckleable.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#697 Lawyers got drip
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
Labels: No C#, Status: Needs Review

#702 Add viva la delta evac shuttle
  Resources/Maps/Shuttles/delta_shuttle.yml
Labels: No C#, Status: Needs Review

#731 Shipping Containers
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/decoration/containers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/containers.ftl
  Resources/Prototypes/Entities/Objects/Decoration/containers.yml
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/conarex.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/container_blank.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/cybersun.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/deforest.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/donk_co.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/gorlex.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/gorlex_red.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/interdyne.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/kahraman.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/kahraman_alt.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/kosmologistika.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/meta.json
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/nakamura.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/nanotrasen.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/nthi.png
  Resources/Textures/Corvax/Objects/Decoration/containers.rsi/vitezstvi.png
Labels: No C#, Changes: Sprites, Changes: Localization

#736 Add lawyer badge for IAA starting gear
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: No C#

#738 Перевод Upstream #735
  Resources/Locale/ru-RU/actions/actions/vocal.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hoods.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#742 One file for all sponsor stuff
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Corvax/Sponsor/NEKISH/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/Corvax/sponsor.yml
Labels: No C#

#741 [Maps] ishimura update
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#743 Перевод tts-voices.ftl
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#748 TTS voice mask support
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/VoiceMask/VoiceMaskBoundUserInterface.cs
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Server/Corvax/TTS/VoiceMaskSystem.TTS.cs
  Content.Server/VoiceMask/VoiceMaskComponent.cs
  Content.Server/VoiceMask/VoiceMaskSystem.Equip.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Server/VoiceMask/VoiceMaskerComponent.cs
  Content.Shared/Corvax/TTS/SharedVoiceMaskSystem.cs
  Content.Shared/VoiceMask/SharedVoiceMaskSystem.cs
  Resources/Locale/ru-RU/corvax/voice-mask.ftl
Labels: Changes: UI, Changes: Localization

#749 Правки перевода
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#755 Перевод Upstream #754
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/escape-menu/ui/escape-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/guidebook/guidebook.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/guidebook/verb.ftl
  Resources/Locale/ru-RU/paper/paper-component.ftl
  Resources/Locale/ru-RU/pneumatic-cannon/pneumatic-cannon-component.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/singularity/components/emitter-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/pins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/handcuffs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/cable_coils.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pneumatic_cannon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/cult.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/anomaly_equipment.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/medical/disease_diagnoser.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tile/basalt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/lava.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tips/tips-system.ftl
  Resources/Locale/ru-RU/verbs/verb-system.ftl
  Resources/Locale/ru-RU/weather/weather.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#760 [Sponsor] Watches & augments
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Locale/ru-RU/corvax/markings/sponsor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Prototypes/Corvax/Catalog/Loadout/sponsor.yml
  Resources/Prototypes/Corvax/sponsor.yml
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/equipped-HAND.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Hands/Accessories/watch.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/augments.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/augments.rsi/robotic_r_arm.png
  Resources/Textures/Corvax/Mobs/Customization/augments.rsi/robotic_r_hand.png
Labels: No C#, Changes: Sprites, Changes: Localization

#762 TTS Fix [Part 5]
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: Changes: Localization

#763 Правки перевода
  Resources/Locale/ru-RU/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#765 Перевод Upstream #764
  Resources/Locale/ru-RU/administration/commands/panicbunker.ftl
  Resources/Locale/ru-RU/advertisements/vending/condiments.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/construction/steps/temperature-construction-graph-step.ftl
  Resources/Locale/ru-RU/construction/ui/construction-menu-presenter.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/magic/spells-actions.ftl
  Resources/Locale/ru-RU/power/components/power-switch-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/dice.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/dat_fukken_disk.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/station-events/events/anomaly-spawn.ftl
  Resources/Locale/ru-RU/station-events/events/bluespace-artifact.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#773 Перевод Upstream #772
  Resources/Locale/ru-RU/actions/actions/spider.ftl
  Resources/Locale/ru-RU/advertisements/vending/happyhonk.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/box.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/bike_horn.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/spider_web.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/crew_monitor_server.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/filing_cabinets.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#776 Перевод Upstream #775
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/turrets.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#779 Микроперевод gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/sponsor/nekish/entities/clothing/hands/gloves.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#758 ERT last name tweak
  Resources/Prototypes/Corvax/Catalog/Datasets/Names/military.yml
  Resources/Prototypes/Datasets/Names/military.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#, Status: Needs Review

#727 Chaplain stamp resprite [old sprite]
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-chaplain.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#744 Agent names localization
  Resources/Prototypes/Corvax/Datasets/Names/corvax_death_commando.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#, Status: Needs Review

#782 [Resprite] Security fixes
  Resources/Textures/Clothing/Belt/security.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/security.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/security.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/hos.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/hos.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/warden.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/warden.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/warden.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hos.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hos.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/warden.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/warden.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/warden.rsi/meta.json
Labels: No C#, Changes: Sprites

#785 Перевод speech_emotes
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review

#787 Guidebook localisation
  Resources/Server Info/Guidebook/AME.xml
  Resources/Server Info/Guidebook/Atmospherics.xml
  Resources/Server Info/Guidebook/Construction.xml
  Resources/Server Info/Guidebook/Engineering.xml
  Resources/Server Info/Guidebook/Jobs.xml
  Resources/Server Info/Guidebook/Power.xml
  Resources/Server Info/Guidebook/Shuttlecraft.xml
  Resources/Server Info/Guidebook/Space Station 14.xml
  Resources/Server Info/Guidebook/Survival.xml
Labels: No C#, Status: Needs Review
