Repository space-syndicate/space-station-14, pull requests merged in 2023-06, with the labels that each got.

#1109 Add "DNA" to TTS sanitize
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: Status: Needs Review

#1110 # Corvax-Zombies fix
  Resources/Locale/ru-RU/zombies/zombie.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1101 Штамп психолога спавнится у психолога в сумке
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Wildcards/psychologist.yml
Labels: No C#, Status: Needs Review

#1108 Перевод подсказок + правки
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/turrets.ftl
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1112 QM mantle recipe to uniform printer
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, Status: Needs Review

#1135 Small locale typo(?) fix
  Resources/Locale/ru-RU/advertisements/vending/genedrobe.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/research.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1133 Fix window-component.ftl locale
  Resources/Locale/ru-RU/window/window-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1129 increase clown & mime required playtime
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: No C#, Status: Needs Review, Type: Balance, Type: Needs Discussion

#1126 [Time] Captain
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: No C#, Status: Needs Review, Type: Balance, Type: Needs Discussion

#1128 Ishimura [Fix]
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1130 Респрайт диагональной стены
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/meta.json
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/state1.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1111 Перевод авторских книг
  Resources/Locale/ru-RU/paper/book-authorbooks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/authorbooks.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1146 Terms support for locale scripts
  Tools/ss14_ru/fluentast.py
Labels: No C#, Status: Needs Review

#1145 Замена руководителей профессий v2
  Resources/Locale/en-US/corvax/job/job-supervisors.ftl
  Resources/Locale/ru-RU/corvax/job/job-supervisors.ftl
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1134 Coats, cloaks and captain mask resprite
  Resources/Textures/Clothing/Mask/gascaptain.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/icon.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/cap.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/hop.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_gene.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_gene.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_gene.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1149 Move CE & psychologist role files to original directory
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
Labels: No C#

#1136 Some more tts sanitize
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: Status: Needs Review

#1166 Emergency Shuttle Avrite [MapFix]
  Resources/Maps/Shuttles/emergency_avrit.yml
Labels: No C#, Status: Needs Review

#1161 Фикс отображения слоёв юбок-комбинезонов
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: No C#, Status: Needs Review

#1155 +ТТС для некоторых существ
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
Labels: No C#, Status: Needs Review

#1154 Перевод префикса акцента пиратов
  Resources/Locale/ru-RU/accent/pirate.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1173 Убрать некоторое дерьмо со списка наград экспедиций
  Resources/Prototypes/Procedural/salvage_rewards.yml
Labels: No C#, Status: Needs Review

#1179 Add syndicate crate sprites
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/crates/syndicate.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/storage/crates/crates.ftl
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Corvax/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/base.png
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/closed.png
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/icon.png
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/meta.json
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/open.png
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/sparking.png
  Resources/Textures/Corvax/Structures/Storage/Crates/syndicate.rsi/welded.png
Labels: No C#, Changes: Sprites, Changes: Localization

#1095 [Resprite] Better tanks
  Resources/Textures/Structures/Storage/tanks.rsi/fueltank-2-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/fueltank-2-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/fueltank-2-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/fueltank-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-4.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-5.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-6.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2-7.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-4.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-5.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-6.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2-7.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/meta.json
  Resources/Textures/Structures/Storage/tanks.rsi/watercooler-2-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/watercooler-2-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/watercooler-2-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/watercooler-2-4.png
  Resources/Textures/Structures/Storage/tanks.rsi/watercooler-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2-4.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2-5.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank-2.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1144 No meta implanters!
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1150 Перевод аплинка КПК дедматча
  Resources/Locale/ru-RU/traitor-death-match/components/traitor-death-match-redemption-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1152 Команды быстрых эмоций для чата
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Locale/en-US/chat/sanitizer-replacements.ftl
  Resources/Locale/ru-RU/chat/sanitizer-replacements.ftl
Labels: Status: Needs Review, Changes: Localization

#1175 emotion trigger add
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review

#1178 resprite chemcrate secure
  Resources/Textures/Structures/Storage/Crates/chemcrate_secure.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/chemcrate_secure.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/chemcrate_secure.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/chemcrate_secure.rsi/locked.png
  Resources/Textures/Structures/Storage/Crates/chemcrate_secure.rsi/meta.json
  Resources/Textures/Structures/Storage/Crates/chemcrate_secure.rsi/open.png
  Resources/Textures/Structures/Storage/Crates/chemcrate_secure.rsi/unlocked.png
  Resources/Textures/Structures/Storage/Crates/chemcrate_secure.rsi/welded.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1182 правки переводов
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1180 Перевод Upstream #1174
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/cargo/cargo-bounty-console.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/job/job-supervisors.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/ru-RU/radio/components/encryption-key-component.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/chemicals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/shields/shields.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/world/debris/asteroids.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
