Repository space-syndicate/space-station-14, pull requests merged in 2023-05, with the labels that each got.

#1022 Добавление пельменей
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/consumable/food/soup.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/consumable/food/soup.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Corvax/Recipes/Cooking/meat_recipes.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/bowl.rsi/bowl.png
  Resources/Textures/Corvax/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/bowl.rsi/pelmeni.png
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1030 [Add] Captain's and HoP's clothing
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/coats.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Head/Hats/capcap.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/Hats/caphat.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/Hats/caphat.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/Hats/caphat.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Head/Hats/caphat.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Head/Hats/caphat.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/captain.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/captain.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/captain.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/captain.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/captain.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hop.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hop.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hop.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hop.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hop.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1049 Убрать автозамену "Синди" на "Синдикат"
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#1050 [плюс Locale] ChatSanitizationManager.cs
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
Labels: Status: Needs Review

#1043 [TTS] Vend machines & hydro tray
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: No C#, Status: Needs Review

#1057 Disable round start arachnid
  Resources/Prototypes/Species/arachnid.yml
Labels: No C#

#1058 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1059 [Resprite] Ore & hydro bag inhand
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/inhand-right.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1048 Правки правок ТТС
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: Status: Needs Review

#1055 Названия должностей с маленькой буквы
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1047 Направленные спрайты для ламп
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp-on.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/lamp.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen-on.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/lampgreen.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp-on.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/bananalamp_on.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1072 [Locale] вздох
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review

#1070 Robotics guidebook translate
  Resources/ServerInfo/Guidebook/Science/Robotics.xml
Labels: No C#, Status: Needs Review

#1078 Правки перевода
  Resources/Locale/ru-RU/atmos/gas-thermomachine-system.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1079 Правки перевода
  Resources/Locale/ru-RU/advertisements/vending/theater.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1081 Fix arachnid last name species prototype
  Resources/Prototypes/Species/arachnid.yml
Labels: No C#

#1037 [Items] Pins (lore moment)
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/comm-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/comm.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/donk-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/donk.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/earth-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/earth.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/logistika-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/logistika.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/med-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/med.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nakamura-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nakamura.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nano-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nano.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/sind-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/sind.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/vit-equipped.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/vit.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1082 Перевод Upstream #1080
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
  Resources/Locale/ru-RU/botany/swab.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/ru-RU/markings/arachnid.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/powersink/powersink.ftl
  Resources/Locale/ru-RU/procedural/expeditions.ftl
  Resources/Locale/ru-RU/reagents/meta/cleaning.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/cargo.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/engineer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/heads.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/suit_storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/scarfs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/frame.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1089 [Resprite] Uranium windows
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/ruglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/ruglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/ruglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/uglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/uglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/uglass_3.png
  Resources/Textures/Structures/Windows/reinforced_uranium_window.rsi/full.png
  Resources/Textures/Structures/Windows/reinforced_uranium_window.rsi/ruwindow0.png
  Resources/Textures/Structures/Windows/reinforced_uranium_window.rsi/ruwindow1.png
  Resources/Textures/Structures/Windows/reinforced_uranium_window.rsi/ruwindow2.png
  Resources/Textures/Structures/Windows/reinforced_uranium_window.rsi/ruwindow3.png
  Resources/Textures/Structures/Windows/reinforced_uranium_window.rsi/ruwindow4.png
  Resources/Textures/Structures/Windows/reinforced_uranium_window.rsi/ruwindow5.png
  Resources/Textures/Structures/Windows/reinforced_uranium_window.rsi/ruwindow6.png
  Resources/Textures/Structures/Windows/reinforced_uranium_window.rsi/ruwindow7.png
  Resources/Textures/Structures/Windows/uranium_window.rsi/full.png
  Resources/Textures/Structures/Windows/uranium_window.rsi/uwindow0.png
  Resources/Textures/Structures/Windows/uranium_window.rsi/uwindow1.png
  Resources/Textures/Structures/Windows/uranium_window.rsi/uwindow2.png
  Resources/Textures/Structures/Windows/uranium_window.rsi/uwindow3.png
  Resources/Textures/Structures/Windows/uranium_window.rsi/uwindow4.png
  Resources/Textures/Structures/Windows/uranium_window.rsi/uwindow5.png
  Resources/Textures/Structures/Windows/uranium_window.rsi/uwindow6.png
  Resources/Textures/Structures/Windows/uranium_window.rsi/uwindow7.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#954 [Locale] убрать приставку (Зомби) у зомбифицированных челов
  Resources/Locale/ru-RU/zombies/zombie.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1091 Различные переводы
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
  Resources/Locale/ru-RU/corvax/accessories/human-hair.ftl
  Resources/Locale/ru-RU/devices/network-configurator.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/medical/components/healing-component.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/corpses/corpses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/mining.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/base_structureclosets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/world/debris/asteroids.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/world/debris/wrecks.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
  Resources/Locale/ru-RU/zombies/zombie.ftl
  Resources/ServerInfo/Guidebook/Science/Science.xml
  Resources/ServerInfo/Guidebook/Security/DNA.xml
  Resources/ServerInfo/Guidebook/Security/Security.xml
Labels: Status: Needs Review, Changes: Localization

#1063 Шире UI манифеста и лейтджойна
  Content.Client/CrewManifest/CrewManifestUi.xaml
  Content.Client/LateJoin/LateJoinGui.cs
Labels: Status: Needs Review, Changes: UI

#1096 Перевод Upstream #1094
  Resources/Locale/ru-RU/advertisements/vending/chefvend.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/clothing/components/northstar-component.ftl
  Resources/Locale/ru-RU/forensics/fibers.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/neck/pins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/bandanas.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/spear.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/cargo_telepad.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/station-events/events/cargo-gifts.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1099 translate fix
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mech_construction.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1100 CODEOWNERS now contain .ftl files assigment
  .github/CODEOWNERS
Labels: No C#, Status: Needs Review

#1104 обновить цель сингулярности
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1105 Правки перевода
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/human.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
