Repository space-syndicate/space-station-14, pull requests merged in 2023-11, with the labels that each got.

#1539 lil slurred accent tweaks
  Content.Server/Speech/EntitySystems/SlurredSystem.cs
Labels: Status: Needs Review

#1546 Добавление Silly в пулл карт
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/emergency_corvaxsilly.yml
  Resources/Maps/corvax_silly.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
Labels: Status: Needs Review, Changes: Map

#1547 "Turn off" eng chatsan
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#, Status: Needs Review

#1530 Изменил время вызова автоэвака
  Resources/ConfigPresets/Corvax/mrp.toml
Labels: No C#, Status: Needs Review

#1542 МРПтизируем шансы секрета
  Resources/Prototypes/secret_weights.yml
Labels: No C#, Status: Needs Review

#1555 Fix backpack capacity (for real that time)
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/satchel.yml
Labels: No C#, Status: Needs Review

#1553 Перевод Upstream #1552
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/candle/extinguish-on-interact-component.ftl
  Resources/Locale/ru-RU/commands/stat-values-command.ftl
  Resources/Locale/ru-RU/components/storage-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/info/playtime-stats.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/items/components/item-component.ftl
  Resources/Locale/ru-RU/maps/planet.ftl
  Resources/Locale/ru-RU/preferences/ui/character-setup-gui.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/cleaning.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/food.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/chemistry_effects.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/conditional/timed.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/jackolantern.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/candy_bucket.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/candles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemical-containers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sledgehammer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/cores.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1554 New terminal
  Resources/Maps/Misc/corvax_terminal.yml
Labels: No C#, Status: Needs Review

#1556 Locale fix
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/paintings.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1562 Diagonals resprite
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/solid_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/plasma_diagonal.rsi/meta.json
  Resources/Textures/Structures/Windows/plasma_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/plasma_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/reinforced_plasma_diagonal.rsi/meta.json
  Resources/Textures/Structures/Windows/reinforced_plasma_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/reinforced_plasma_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/reinforced_uranium_diagonal.rsi/meta.json
  Resources/Textures/Structures/Windows/reinforced_uranium_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/reinforced_uranium_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/reinforced_window_diagonal.rsi/meta.json
  Resources/Textures/Structures/Windows/reinforced_window_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/reinforced_window_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/uranium_window_diagonal.rsi/meta.json
  Resources/Textures/Structures/Windows/uranium_window_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/uranium_window_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/window_diagonal.rsi/meta.json
  Resources/Textures/Structures/Windows/window_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/window_diagonal.rsi/state1.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1561 change shaker desc
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_special.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1563 Smooth diagonals to walls
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: No C#, Status: Needs Review

#1567 Перевод Upstream #1559
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/clothing/components/toggleable-clothing-component.ftl
  Resources/Locale/ru-RU/construction/conditions/airlock-bolted.ftl
  Resources/Locale/ru-RU/construction/conditions/apc-open-condition.ftl
  Resources/Locale/ru-RU/construction/conditions/door-welded.ftl
  Resources/Locale/ru-RU/construction/conditions/entity-anchored.ftl
  Resources/Locale/ru-RU/construction/conditions/min-solution.ftl
  Resources/Locale/ru-RU/construction/conditions/solution-empty.ftl
  Resources/Locale/ru-RU/construction/construction-system.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/materials-crates.ftl
  Resources/Locale/ru-RU/reagents/generic.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/toolboxes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/vehicles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/living_light.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/ice_crust.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/powercells.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/shields/shields.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/item_artifacts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/ied.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/shuttle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/anomaly_sync.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/noticeboard.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/grille.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/plasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/reinforced.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/rplasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/ruranium.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/shuttle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/uranium.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/window.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1571 Перевод Upstream #1570
  Resources/Locale/ru-RU/barsign/barsign-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/objectives/round-end.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-vending.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/bloodsucker.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/objectives/eviltwin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/cake.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/egg.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/figurines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/pet_carrier.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/handheld_crew_monitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/stations/nanotrasen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/bar_sign.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/walldispenser.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/shadow_basalt.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1574 Add new lobby arts
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/singulord-cage.png
  Resources/Textures/Corvax/LobbyScreens/singulord-cage.png.yml
  Resources/Textures/Corvax/LobbyScreens/xenosattack.png
  Resources/Textures/Corvax/LobbyScreens/xenosattack.png.yml
Labels: No C#

#1575 Update playtime-stats.ftl
  Resources/Locale/ru-RU/info/playtime-stats.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1573 New CentComm Station
  Resources/Maps/corvax_centcomm.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1572 locale fix
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/cake.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1560 Resprite some signs
  Resources/Textures/Structures/Wallmounts/signs.rsi/court.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/janitor.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/law.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/psychology.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1535 Lil diona names expansion
  Resources/Prototypes/Datasets/Names/diona.yml
Labels: No C#, Status: Needs Review

#1558 Decrease Europa IAA count
  Resources/Prototypes/Maps/europa.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1565 Service worker antag
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
Labels: No C#, Status: Needs Review

#1557 Increase antags requirements playtime to 30 hrs
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
Labels: No C#, Status: Needs Review

#1576 Lil CentCom fix
  Resources/Maps/corvax_centcomm.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1523 GuideGenerator TextTools
  Content.Server/Corvax/GuideGenerator/EntityEntry.cs
  Content.Server/Corvax/GuideGenerator/GrindRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/HeatableRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/MicrowaveRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/SliceRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/TextTools.cs
  Content.Server/Corvax/GuideGenerator/ToolRecipeEntry.cs
  Content.Server/GuideGenerator/ReagentEntry.cs
Labels: Status: Needs Review

#1583 Translate Upstream #1580
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/gateway/gateway.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/pie.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/disposal/pipes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Datasets/Names/Operation_prefix.yml
  Resources/Prototypes/Datasets/Names/Operation_suffix.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1582 Nuke medic resprite
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1584 Give IAA lawyer access
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#, Status: Needs Review

#1587 CentComm rework
  Resources/Maps/corvax_centcomm.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1588 Terminal update
  Resources/Maps/Misc/corvax_terminal.yml
Labels: No C#, Status: Needs Review

#1592 Some loc fixes
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/parts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/metal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/cable_coils.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
