Repository space-syndicate/space-station-14, pull requests merged in 2023-10, with the labels that each got.

#1472 ТГ спрайты лестниц
  Resources/Textures/Structures/stairs.rsi/meta.json
  Resources/Textures/Structures/stairs.rsi/stairs.png
  Resources/Textures/Structures/stairs.rsi/stairs_stage.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1427 Revert "Remove Delta from mappool "
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review

#1471 Правки перевода
  Resources/Locale/ru-RU/administration/managers/admin-manager.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1480 Species sponsor
  Content.Client/Preferences/ClientPreferencesManager.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Preferences/ICharacterProfile.cs
Labels: Changes: UI

#1481 Public build publish workflow
  .github/workflows/publish-publish.yml
Labels: No C#

#1482 Change Smile tts
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: No C#, Status: Needs Review

#1478 Перевод Upstream #1473
  Resources/Locale/ru-RU/damage/damage-force-say.ftl
  Resources/Locale/ru-RU/dragon/dragon.ftl
  Resources/Locale/ru-RU/dragon/rifts.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/objectives/conditions/carp-rifts.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-head.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-person.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-alive.ftl
  Resources/Locale/ru-RU/objectives/conditions/spider-charge.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-research.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/slimes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvaxsecretsserver/objectives/evilTwinObjectives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/grill.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/dragon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
  Resources/Locale/ru-RU/temperature/entity-heater.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1189 [Translate] Guidebooks
  Resources/ServerInfo/Guidebook/Engineering/NetworkConfigurator.xml
  Resources/ServerInfo/Guidebook/Engineering/Networking.xml
  Resources/ServerInfo/Guidebook/Medical/Botanicals.xml
  Resources/ServerInfo/Guidebook/Medical/Chemist.xml
  Resources/ServerInfo/Guidebook/Medical/Cloning.xml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
  Resources/ServerInfo/Guidebook/Medical/Medical.xml
  Resources/ServerInfo/Guidebook/Medical/MedicalDoctor.xml
  Resources/ServerInfo/Guidebook/Medical/Medicine.xml
  Resources/ServerInfo/Guidebook/Service/Bartender.xml
  Resources/ServerInfo/Guidebook/Service/Chef.xml
  Resources/ServerInfo/Guidebook/Service/FoodRecipes.xml
Labels: No C#, Status: Needs Review

#1485 Перевод Upstream #1484
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/tools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/tools/tool-qualities.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1486 Правки переводов
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#1487 Give IAA mindshield
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: No C#, Status: Needs Review

#1492 Fix-ishimura
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1493 Update ChatSanitizationManager.cs
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
Labels: Status: Needs Review

#1496 Перевод Upstream #1494
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/advertisements/vending/curadrobe.ftl
  Resources/Locale/ru-RU/botany/components/seed-component.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/hands/hands-system.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/asteroidcrab.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/crystal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/elemental.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/tin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pinpointer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1502 Add Athara bunker 20 hours
  Resources/ConfigPresets/Corvax/athara.toml
Labels: No C#

#1504 [Fix?] Json generation for wiki works again
  Content.Server/GuideGenerator/UniversalJsonConverter.cs
Labels: Status: Needs Review

#1506 [Resprite] Health indicator
  Resources/Textures/Interface/Alerts/human_alive.rsi/health0.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health1.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health2.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health3.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health4.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/meta.json
Labels: No C#, Changes: Sprites

#1497 Правки перевода
  Resources/Locale/ru-RU/hands/hands-system.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1503 Перевод Upstream #1501
  Resources/Locale/ru-RU/administration/ui/admin-menu-window.ftl
  Resources/Locale/ru-RU/changelog/changelog-window.ftl
  Resources/Locale/ru-RU/corvax/changelog/changelog-window.ftl
  Resources/Locale/ru-RU/generic.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1508 Revert "Update WL server title"
  Resources/ConfigPresets/Corvax/wl.toml
Labels: No C#

#1509 Перевод Upstream #1507
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/administration/ui/admin-erase.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/igniter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1513 Перевод Upstream #1512
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/ServerInfo/Guidebook/Science/Technologies.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#1474 Legendary Rust Wall Resprite
  Resources/Textures/Structures/Walls/solidrust.rsi/full.png
  Resources/Textures/Structures/Walls/solidrust.rsi/meta.json
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust0.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust1.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust2.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust3.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust4.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust5.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust6.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust7.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1515 Перевод Upstream #1514
  Resources/Locale/ru-RU/ame/components/ame-controller-component.ftl
  Resources/Locale/ru-RU/darts/darts-popup.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/taco.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/darts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1511 Правки перевода
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/changelog/changelog-window.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1519 Added evacuation
  Resources/Maps/Shuttles/emergency_corvaxavrit.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: No C#, Status: Needs Review

#1522 Перевод Upstream #1521
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/cargo/qm-clipboard.ftl
  Resources/Locale/ru-RU/corvax/speech/speech-chatsan.ftl
  Resources/Locale/ru-RU/shell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1520 [Sponsor] More augment markings
  Resources/Locale/ru-RU/corvax/markings/cyberlibs.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cyberlibs.yml
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/l_arm.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/l_foot.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/l_hand.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/l_leg.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/r_arm.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/r_foot.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/r_hand.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/r_leg.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/torso_f.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/wardtakahashi.rsi/torso_m.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/l_arm.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/l_foot.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/l_hand.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/l_leg.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/r_arm.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/r_foot.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/r_hand.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/r_leg.png
  Resources/Textures/Corvax/Mobs/Customization/Cyberlimbs/xion.rsi/torso.png
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1526 Fix core iaa
  Resources/Prototypes/Maps/core.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1525 [Halloween] Lantern sprite change
  Resources/Textures/Objects/Tools/lantern.rsi/burnt.png
  Resources/Textures/Objects/Tools/lantern.rsi/flashing.png
  Resources/Textures/Objects/Tools/lantern.rsi/lantern-on.png
  Resources/Textures/Objects/Tools/lantern.rsi/lantern.png
  Resources/Textures/Objects/Tools/lantern.rsi/meta.json
  Resources/Textures/Objects/Tools/lantern.rsi/off-inhand-left.png
  Resources/Textures/Objects/Tools/lantern.rsi/off-inhand-right.png
  Resources/Textures/Objects/Tools/lantern.rsi/on-inhand-left.png
  Resources/Textures/Objects/Tools/lantern.rsi/on-inhand-right.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1528 DeleteIshimura
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: Status: Needs Review, Changes: Map

#1524 New lobby art
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/lost-and-powerless.png
  Resources/Textures/Corvax/LobbyScreens/lost-and-powerless.png.yml
  Resources/Textures/Corvax/LobbyScreens/men-at-work.png
  Resources/Textures/Corvax/LobbyScreens/men-at-work.png.yml
Labels: No C#, Status: Needs Review

#1533 Upstream #1532 locale
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/pai/pai-system.ftl
  Resources/Locale/ru-RU/power/components/generator.ftl
  Resources/Locale/ru-RU/species/skeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/box.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/mining.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/pai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/potatoai_chip.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/chasm.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/shadow_basalt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
  Resources/Locale/ru-RU/station-events/events/ion-storm.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/Datasets/Names/borg.yml
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1536 Upstream #1532 locale Patch
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: No C#, Status: Needs Review

#1540 Revert "[Halloween] Lantern sprite change"
  Resources/Textures/Objects/Tools/lantern.rsi/burnt.png
  Resources/Textures/Objects/Tools/lantern.rsi/flashing.png
  Resources/Textures/Objects/Tools/lantern.rsi/lantern-on.png
  Resources/Textures/Objects/Tools/lantern.rsi/lantern.png
  Resources/Textures/Objects/Tools/lantern.rsi/meta.json
  Resources/Textures/Objects/Tools/lantern.rsi/off-inhand-left.png
  Resources/Textures/Objects/Tools/lantern.rsi/off-inhand-right.png
  Resources/Textures/Objects/Tools/lantern.rsi/on-inhand-left.png
  Resources/Textures/Objects/Tools/lantern.rsi/on-inhand-right.png
Labels: No C#, Status: Needs Review, Changes: Sprites
