Repository space-syndicate/space-station-14, pull requests merged in 2023-12, with the labels that each got.

#1607 fix kvass
  Resources/Locale/ru-RU/corvax/reagents/meta/consumable/drink/drinks.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1606 Translation fix
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/pie.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1534 Miscellaneous sprite changes
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/equipped-OUTERCLOTHING-digi.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/equipped-OUTERCLOTHING-digi.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/equipped-OUTERCLOTHING-digi.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1608 fix LoadoutSystem.cs
  Content.Server/Corvax/Loadout/LoadoutSystem.cs
Labels: Status: Needs Review

#1615 Delete toolshed-feature-request.md
  .github/ISSUE_TEMPLATE/toolshed-feature-request.md
Labels: No C#, Status: Needs Review

#1610 real moth accent locale
  Content.Server/Speech/EntitySystems/LizardAccentSystem.cs
  Content.Server/Speech/EntitySystems/MothAccentSystem.cs
Labels: Status: Needs Review

#1593 Some more loc tweaks
  Resources/Locale/ru-RU/administration/commands/polymorph-command.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/server-tab.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/discord/round-notifications.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1461 Add some station goals
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Objectives/goals.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1618 Перевод Upstream #1616
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/clothing/boots.ftl
  Resources/Locale/ru-RU/entity-systems/bin/bin-system.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/narsie/narsie.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/ru-RU/reagents/generic.ftl
  Resources/Locale/ru-RU/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/animal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/salvage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/space.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/narsie.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/tanks.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1619 Loc tweaks
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Resources/Locale/ru-RU/barsign/barsign-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/bar_sign.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Misc/stamps.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1586 New mining shuttle
  Resources/Maps/Shuttles/corvax_mining.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#, Status: Needs Review

#1623 Upstream translate #1621 #1622
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/medical/components/crew-monitoring-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/mobs/species/vulpkanin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/anomaly_equipment.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/ui/navmap.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1624 move mindshield icon to other side
  Resources/Prototypes/StatusIcon/antag.yml
Labels: No C#, Status: Needs Review

#1630 remove emote chatsan lol
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
Labels: Status: Needs Review

#1627 Dataset ops p2
  Resources/Prototypes/Corvax/Datasets/Names/military.yml
  Resources/Prototypes/Datasets/Names/military.yml
Labels: No C#, Status: Needs Review

#1628 MealsJsonGenerator typo fix
  Content.Server/Corvax/GuideGenerator/MealsRecipesJsonGenerator.cs
  Content.Server/Entry/EntryPoint.cs
Labels: Status: Needs Review

#1634 Bring back corvax knife shoes
  Resources/Prototypes/Corvax/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#, Status: Needs Review

#1632 New map "Outpost"
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/corvax_outpost.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
  Resources/Prototypes/Corvax/Parallax/outpost.yml
  Resources/Textures/Corvax/Parallax/OutpostAsteroids.png
  Resources/Textures/Corvax/Parallax/attributions.yml
Labels: Status: Needs Review, Changes: Map

#1636 Headsets reresprite
  Resources/Textures/Clothing/Ears/Headsets/base.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/base.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/base_syndicate.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/base_syndicate.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/brigmedic.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/brigmedic.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/cargo.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/cargo.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/cargo.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/centcom.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/centcom.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/centcom.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/command.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/command.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/command.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/engineering.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/engineering.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/engineering.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/freelance.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/freelance.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/freelance.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/medical.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/medical.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/medical.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/medicalscience.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/medicalscience.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/mining.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/mining.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/robotics.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/robotics.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/science.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/science.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/science.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/security.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/security.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/security.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/service.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/service.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/servicesecurity.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/servicesecurity.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/syndicate.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/syndicate.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1635 Silly update
  Resources/Maps/corvax_silly.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1638 Translate Upstream #1626 #1629
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/explosions/explosion-resistance.ftl
  Resources/Locale/ru-RU/markings/gauze.ftl
  Resources/Locale/ru-RU/markings/scars.ftl
  Resources/Locale/ru-RU/pacified/pacified.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/heads.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/base_clothingshoes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/techboard.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/artifact_analyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/pipes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/closets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/shotgun_cabinet.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-crusher.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1644 Crew monitor icon locale
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/alive.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/critical.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/dead.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health0.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health1.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health2.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health3.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health4.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1640 Translate Upstream #1639
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/construction/components/construction-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/toolboxes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/present.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pinpointer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/smartfridge.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1643 DNA and Bartender guidebooks translade
  Resources/ServerInfo/Guidebook/Security/DNA.xml
  Resources/ServerInfo/Guidebook/Service/Bartender.xml
Labels: No C#, Status: Needs Review

#1646 Translate Upstream #1645
  Resources/Locale/ru-RU/administration/commands/custom-vote-command.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/chemistry/components/mixing-component.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-container-mixer-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/forensics/residues.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/core.ftl
  Resources/Locale/ru-RU/items/components/item-component.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/reagents/meta/chemicals.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/animal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/toolboxes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/acidifer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/darts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/instruments/instruments_misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/grenade.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/mining.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/clusterbang.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/medical/chemistry_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/unary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/magic/projectile_spells.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1647 Add new 69 TTS voices
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1648 Add Livsy TTS voice
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1650 Add 13 BG3 TTS voices
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1649 [Wiki] Update recipes generator regex
  Content.Server/Corvax/GuideGenerator/MealsRecipesJsonGenerator.cs
Labels: Status: Needs Review

#1651 Fix stuff
  Resources/Locale/ru-RU/guidebook/chemistry/conditions.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/medical/components/cryo-pod-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1654 Fix examine size locale
  Resources/Locale/ru-RU/items/components/item-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1656 Перевод Upstream #1653
  Resources/Locale/ru-RU/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/food.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/elemental.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/crystal_shard.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chapel/urn.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-vials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/crystals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/gates.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1659 [FIX] Исправить отображение текстур шахтёрских шлюзов.
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/panel_closed.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1652 BarkAccent localization
  Content.Server/Speech/EntitySystems/BarkAccentSystem.cs
Labels: Status: Needs Review

#1662 Перевод Upstream #1661
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/atmos/gas-analyzer-component.ftl
  Resources/Locale/ru-RU/forensics/fibers.ftl
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks-cartons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/ore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-vials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mining/ore_bag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/salvage/ore_bag_holding.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/external.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/screen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/service_light.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1641 Изменен перевод Бомбы синдиката.
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1667 Перевод Upstream #1666😈
  Resources/Locale/ru-RU/animals/rat-king/rat-king.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/clothing/belts.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/gases/gases.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/interaction/smart-equip-system.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/markings/gauze.ftl
  Resources/Locale/ru-RU/markings/scars.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/storage/canisters/gas-canisters.ftl
  Resources/Locale/ru-RU/reagents/fresium.ftl
  Resources/Locale/ru-RU/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/cargo.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/regalrat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/ashtray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/barber.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/miners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1670 Add new 6 TTS voices
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1673 Add new year lobby arts
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-bar.png
  Resources/Textures/Corvax/LobbyScreens/new-year-bar.png.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-comfort.png
  Resources/Textures/Corvax/LobbyScreens/new-year-comfort.png.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-save.png
  Resources/Textures/Corvax/LobbyScreens/new-year-save.png.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-sec.png
  Resources/Textures/Corvax/LobbyScreens/new-year-sec.png.yml
Labels: No C#, Status: Needs Review

#1671 Правки перевода
  Resources/Locale/ru-RU/components/base-computer-ui-component.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1663 Borg locale
  Resources/Prototypes/Datasets/Names/borg.yml
Labels: No C#, Status: Needs Review

#1674 Перевод Upstream #1672
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/components/power-monitoring-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/thief/backpack.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1680 Move corvax datasets to corvax folder
  Resources/Prototypes/Corvax/Datasets/Names/vulp_first_female.yml
  Resources/Prototypes/Corvax/Datasets/Names/vulp_first_male.yml
  Resources/Prototypes/Corvax/Datasets/Names/vulp_last.yml
Labels: No C#, Status: Needs Review

#1676 Change looc prefix
  Content.Shared/Chat/SharedChatSystem.cs
Labels: Status: Needs Review

#1683 Перевод Upstream #1681
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/fax/fax.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/ru-RU/game-ticking/game-rules/rule-terminator.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/janitorial/janitorial-slot-component.ftl
  Resources/Locale/ru-RU/job/job-supervisors.ftl
  Resources/Locale/ru-RU/objectives/conditions/terminate.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/reagents/meta/chemicals.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/gingerbread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/terminator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/gingerbread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/terminator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/gingerbread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/terminator.ftl
  Resources/Locale/ru-RU/thief/backpack.ftl
  Resources/Locale/ru-RU/vehicle/vehicle.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1686 some locale tweaks
  Resources/Locale/ru-RU/objectives/round-end.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/tools.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1688 Перевод Upstream #1687
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/stoles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/tools.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1675 Botany, survival, cyborgs guidebook translate
  Resources/ServerInfo/Guidebook/Science/Cyborgs.xml
  Resources/ServerInfo/Guidebook/Service/Botany.xml
  Resources/ServerInfo/Guidebook/Survival.xml
Labels: No C#, Status: Needs Review

#1691 Правки перевода
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1684 Гайдбук ниндзи
  Resources/ServerInfo/Guidebook/Antagonist/SpaceNinja.xml
Labels: No C#, Status: Needs Review

#1677 Bounties, antags general, minor antags guidebook translate
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Cargo/CargoBounties.xml
Labels: No C#, Status: Needs Review

#1692 Outpost update
  Resources/Maps/corvax_outpost.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1695 [Resprite] Centcom airlock
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/welded.png
Labels: No C#, Changes: Sprites

#1702 [Wiki] Grindable recipes json generator fix
  Content.Server/Corvax/GuideGenerator/GrindRecipeEntry.cs
  Content.Server/Corvax/GuideGenerator/MealsRecipesJsonGenerator.cs
Labels: Status: Needs Review

#1701 Translate Upstream #1696
  Resources/Locale/ru-RU/access/systems/access-reader-system.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/markings/moth.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/markings/scars.ftl
  Resources/Locale/ru-RU/markings/slimeperson.ftl
  Resources/Locale/ru-RU/markings/tattoos.ftl
  Resources/Locale/ru-RU/pacified/pacified.ftl
  Resources/Locale/ru-RU/pinpointer/station_map.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/engines-crates.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/salvage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/flesh.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/lavaland.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/monkeycube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/lighters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/baseball_bat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/anomaly_equipment.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/tesla/coil.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/tesla/energyball.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/tesla/generator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/mining.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/plasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/reinforced.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/rplasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/ruranium.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/shuttle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/uranium.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/window.ftl
  Resources/Locale/ru-RU/station-events/events/bureaucratic-error.ftl
  Resources/Locale/ru-RU/tesla/tesla-components.ftl
  Resources/Locale/ru-RU/thief/backpack.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
