Repository space-syndicate/space-station-14, pull requests merged in 2023-02, with the labels that each got.

#786 More localized announces
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Resources/Audio/Announcements/ert_no.ogg
  Resources/Audio/Announcements/ert_yes.ogg
  Resources/Audio/Announcements/license.txt
  Resources/Audio/Corvax/Adminbuse/ai_malf_1.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_2.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_3.ogg
  Resources/Audio/Corvax/Adminbuse/ai_malf_4.ogg
  Resources/Audio/Corvax/Adminbuse/aimalf.ogg
  Resources/Audio/Corvax/Adminbuse/artillery.ogg
  Resources/Audio/Corvax/Adminbuse/i-storm1.ogg
  Resources/Audio/Corvax/Adminbuse/ionstorm.ogg
  Resources/Audio/Corvax/Adminbuse/irod.ogg
  Resources/Audio/Corvax/Adminbuse/licenses.txt
  Resources/Audio/Corvax/Adminbuse/noert.ogg
  Resources/Audio/Corvax/Adminbuse/outbreak5.ogg
  Resources/Audio/Corvax/Adminbuse/portal.ogg
  Resources/Audio/Corvax/Adminbuse/vox_arrival.ogg
  Resources/Audio/Corvax/Adminbuse/vox_returns.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_crew_win.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_first_help_fail.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help.ogg
  Resources/Audio/Corvax/Adminbuse/xeno_second_help_fail.ogg
  Resources/Audio/Corvax/Adminbuse/yesert.ogg
  Resources/Audio/Corvax/Announcements/announce.ogg
  Resources/Audio/Corvax/Announcements/blusp_anomalies.ogg
  Resources/Audio/Corvax/Announcements/centcomm.ogg
  Resources/Audio/Corvax/Announcements/crew_s_called.ogg
  Resources/Audio/Corvax/Announcements/flux.ogg
  Resources/Audio/Corvax/Announcements/licenses.txt
  Resources/Audio/Effects/Shuttle/hyperspace_begin.ogg
  Resources/Audio/Effects/Shuttle/hyperspace_end.ogg
  Resources/Audio/Effects/Shuttle/licenses.txt
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/station-events/events/anomaly-spawn.ftl
  Resources/Locale/ru-RU/station-events/events/bluespace-artifact.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Localization

#792 Перевод Upstream #790
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/job/role-ban-command.ftl
  Resources/Locale/ru-RU/reagents/ethyloxyephedrine.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#791 Add encryption keys for IAA headset
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/devices/encryption_keys.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/encryption_keys.yml
Labels: No C#, Changes: Localization

#793 guide entry "controls" translation
  Resources/Server Info/Guidebook/Controls.xml
Labels: No C#, Status: Needs Review

#795 Added Slime analogue of cat ears for slimepeople
  Resources/Locale/ru-RU/corvax/markings/slime_cat.ftl
  Resources/Locale/ru-RU/corvax/markings/slime_fox.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/slime_cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/slime_fox_parts.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/ears_slime_cat_inner.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/ears_slime_cat_outer.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/ears_slime_curled_inner.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/ears_slime_curled_outer.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/ears_slime_stubby_inner.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/ears_slime_stubby_outer.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/ears_slime_torn_inner.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/ears_slime_torn_outer.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/slime_tail_cat.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/slime_tail_cat_wag.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/slime_tail_cat_wag_stripes_prime.png
  Resources/Textures/Corvax/Mobs/Customization/slime_cat_parts.rsi/slime_tail_cat_wag_stripes_second.png
  Resources/Textures/Corvax/Mobs/Customization/slime_fox_parts.rsi/ears_slime_fox_inner.png
  Resources/Textures/Corvax/Mobs/Customization/slime_fox_parts.rsi/ears_slime_fox_outer.png
  Resources/Textures/Corvax/Mobs/Customization/slime_fox_parts.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#808 Перевод Upstream #806
  Resources/Locale/ru-RU/bonk/components/bonkable-component.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/salvage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/soup.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/buckleable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/paper_bin.ftl
  Resources/Locale/ru-RU/station-events/events/anomaly-spawn.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#796 guide entry "fires" translation
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Server Info/Guidebook/Fires.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#814 Перевод Upstream #813
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/foldable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/flesh.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/kudzu.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/flesh_blockers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomalies.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#821 Перевод Upstream #820
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/prototypes/catalog/research/technologies.ftl
  Resources/Locale/ru-RU/radio/radio-event.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/station-events/events/solar-flare.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#822 guide entry "Radio" translation
  Resources/Server Info/Guidebook/Controls/Radio.xml
Labels: No C#, Status: Needs Review

#794 guide entry "xenoarchaeology" translation
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Server Info/Guidebook/Science/Xenoarchaeology.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#800 guide entry "ArtifactReports" translation
  Resources/Server Info/Guidebook/Science/ArtifactReports.xml
Labels: No C#, Status: Needs Review

#797 guide entry "A.P.E." translation
  Resources/Server Info/Guidebook/Science/APE.xml
Labels: No C#, Status: Needs Review

#799 guide entry "ScannersAndVessels" translation
  Resources/Server Info/Guidebook/Science/ScannersAndVessels.xml
Labels: No C#, Status: Needs Review

#801 guide entry "AnomalousResearch" translation
  Resources/Server Info/Guidebook/Science/AnomalousResearch.xml
Labels: No C#, Status: Needs Review

#803 guide entry "TraversalDistorter " translation
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/artifact_analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/traversal-distorter.ftl
  Resources/Server Info/Guidebook/Science/TraversalDistorter.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#824 APE guidebook quickfix
  Resources/Server Info/Guidebook/Science/APE.xml
Labels: No C#, Status: Needs Review

#807 [PlayTimeTracker] Увеличение количества необходимых часов
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#, Status: Needs Review

#816 обновить цель сингулярности
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#825 Add solar flare event sound
  Resources/Audio/Corvax/Announcements/ionstorm.ogg
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#829 Tips and Fortunes locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Prototypes/Datasets/Names/fortunes.yml
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#832 Перевод Upstream #830
  Resources/Locale/ru-RU/maps/planet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/tables/base_structuretables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/mountain.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/basalt.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#828 Минорные переводы
  Resources/Locale/ru-RU/administration/commands/play-global-sound-command.ftl
  Resources/Locale/ru-RU/administration/ui/admin-spawn-explosion-eui.ftl
  Resources/Locale/ru-RU/damage/damage-command.ftl
  Resources/Locale/ru-RU/decals/decal-window.ftl
  Resources/Locale/ru-RU/job/department-desc.ftl
  Resources/Locale/ru-RU/prototypes/gas-tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/skeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/debugging/drugs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/debugging/spanisharmyknife.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/debugging/stress_test.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/explosion_light.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/vehicles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/base_item.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/randomspawns/food_snacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/clrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/srifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/clrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/hrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/lrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/srifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/clrifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/clusterbang.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#833 Переводы руководства
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/particle-accelerator/components/ui/particle-accelerator-control-menu.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/particle_accelerator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/pa/emitter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/pa/fuel_chamber.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/pa/power_box.ftl
  Resources/Server Info/Guidebook/Science/MachineUpgrading.xml
  Resources/Server Info/Guidebook/Science/Science.xml
  Resources/Server Info/Guidebook/Singularity.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#826 Обновление текстуры автомата Дискаунтер Дэна
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/off.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#838 Перевод Upstream #834
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#836 Revert "Remove too long tip strings"
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#841 Fix tips length
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#843 Перевод Upstream #840
  Resources/Locale/ru-RU/administration/commands/tag-commands.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#848 Default channel key tweak
  Content.Shared/Chat/SharedChatSystem.cs
Labels: Status: Needs Review

#851 Перевод Upstream #849
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvaxsecrets/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_flasks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_special.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/soup.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry/chem_bag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/substation.ftl
  Resources/Locale/ru-RU/ui/power-apc.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#855 Use new AI announce for ion anomaly
  Resources/Audio/Corvax/Announcements/comms_blackout.ogg
  Resources/Prototypes/GameRules/events.yml
Labels: No C#
