Repository space-syndicate/space-station-14, pull requests merged in 2024-05, with the labels that each got.

#2094 Locale fixes
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/cables.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2090 Big Paper Station update
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2093 Категория кваса в карго
  Resources/Prototypes/Corvax/Catalog/Cargo/cargo_food.yml
Labels: No C#, Status: Needs Review

#2073 Выгрузка для wiki информации о лечащих/наносящих урон реагентах
  Content.Server/Corvax/GuideGenerator/HealthChangeReagentsJsonGenerator.cs
  Content.Server/Entry/EntryPoint.cs
Labels: Status: Needs Review

#2064 Добавление недостающих данных в выгрузку на wiki
  Content.Server/Corvax/GuideGenerator/MixingCategoryEntry.cs
  Content.Server/Corvax/GuideGenerator/ReactionJsonGenerator.cs
  Content.Server/Corvax/GuideGenerator/ReagentEffectEntry.cs
  Content.Server/Corvax/GuideGenerator/ReagentEffectsEntry.cs
  Content.Server/GuideGenerator/ReactionJsonGenerator.cs
  Content.Server/GuideGenerator/ReagentEntry.cs
Labels: Status: Needs Review

#2097 Перевод Upstream #2088
  Resources/Locale/ru-RU/HUD/game-hud.ftl
  Resources/Locale/ru-RU/chat/emotes.ftl
  Resources/Locale/ru-RU/chat/ui/emote-menu.ftl
  Resources/Locale/ru-RU/commands/tippy-command.ftl
  Resources/Locale/ru-RU/containers/containers.ftl
  Resources/Locale/ru-RU/damage/damage-groups.ftl
  Resources/Locale/ru-RU/damage/damage-types.ftl
  Resources/Locale/ru-RU/fax/fax.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/fluids/components/absorbent-component.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/conditions.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/metabolism/metabolism-groups.ftl
  Resources/Locale/ru-RU/metabolism/metabolizer-types.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_special.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/joints.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/pipes/pipe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/radio.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/snap_pops.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/utensils.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/portable_recharger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/leaves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/telecomms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/glass_box.ftl
  Resources/Locale/ru-RU/station-events/events/immovable-rod.ftl
  Resources/Locale/ru-RU/step-trigger/shoes-required.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Status: Needs Review

#2096 New maid jumpskirt
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/elegantmaid.rsi/meta.json
Labels: Status: Needs Review

#2101 [Maps] Ishimura update
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: Status: Needs Review

#2103 [Fix] Some glasses & huds
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/meson.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/thermal.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/inhand-right.png
Labels: Status: Needs Review

#2110 Fix labeler test
  .github/labeler.yml
Labels: Status: Needs Review

#2112 More event playtimetrackers
  Resources/Prototypes/Corvax/Roles/play_time_trackers.yml
Labels: Status: Needs Review

#2111 Engineer guidebook locale
  Resources/ServerInfo/Guidebook/Engineering/RTG.xml
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
  Resources/ServerInfo/Guidebook/Engineering/TEG.xml
Labels: Status: Needs Review

#2108 Поезд прибывает на корвакс
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: Status: Needs Review

#2107 Locale tweaks
  Resources/Locale/ru-RU/HUD/game-hud.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
Labels: Status: Needs Review

#2081 Remove containtment station goal
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Objectives/goals.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2060 Rework races guidebook
  Resources/Prototypes/Corvax/Guidbook/species.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Corvax/Guidebook/Mobs/Vulpkanin.xml
  Resources/ServerInfo/Guidebook/Mobs/Arachnid.xml
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
  Resources/ServerInfo/Guidebook/Mobs/Dwarf.xml
  Resources/ServerInfo/Guidebook/Mobs/Human.xml
  Resources/ServerInfo/Guidebook/Mobs/Moth.xml
  Resources/ServerInfo/Guidebook/Mobs/Reptilian.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: No C#, Status: Needs Review

#2116 Перевод Upstream #2114
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/chemistry/components/reagent-dispenser-component.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/mech/mech.ftl
  Resources/Locale/ru-RU/ninja/ninja-actions.ftl
  Resources/Locale/ru-RU/research/components/robotics-console.ftl
  Resources/Locale/ru-RU/speech/speech-liar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/dragon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/shields/shields.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/magic.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/ninja.ftl
  Resources/Locale/ru-RU/station-events/events/unknown-shuttle.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
  Resources/Prototypes/Datasets/corporations.yml
  Resources/Prototypes/Datasets/criminal_records.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2117 [Maps] Ishimura Fixes
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2126 Очередная попытка сделать пр на реворк брига мауса(((
  Resources/Maps/corvax_maus.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2121 Fix IAA statusIcon
  Resources/Prototypes/Corvax/StatusEffects/job.yml
Labels: No C#, Status: Needs Review

#2134 Fix vulp body
  Resources/Prototypes/Corvax/Body/Prototypes/vulpkanin.yml
Labels: No C#, Status: Needs Review

#2132 Paper station HotFix
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2130 Точно обновление не трупа... Outpost
  Resources/Maps/corvax_outpost.yml
Labels: No C#, Changes: Map

#2131 [Maps] New map Terra Colony
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/terra_trade.yml
  Resources/Maps/corvax_terra.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/terra.yml
  Resources/Prototypes/Corvax/Procedural/biome_templates.yml
Labels: Status: Needs Review, Changes: Map

#2136 fix reptilians not able to eat pelmeni (issue #1960)
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/soup.yml
Labels: No C#, Status: Needs Review

#2128 Fix desert tile params
  Resources/Prototypes/Tiles/planet.yml
Labels: No C#

#2127 [Resprite] Some sprites glassbox
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_12.png
  Resources/Textures/Structures/Storage/glassbox.rsi/base.png
  Resources/Textures/Structures/Storage/glassbox.rsi/caplaser.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glass-broken.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glass-up.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glass.png
  Resources/Textures/Structures/Storage/glassbox.rsi/icon.png
  Resources/Textures/Structures/Storage/glassbox.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1932 MAKE GALOSHES GREAT AGAIN
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: No C#, Status: Needs Review

#2138 Перевод Upstream #2133
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/chat/commands/ghost-command.ftl
  Resources/Locale/ru-RU/chat/commands/suicide-command.ftl
  Resources/Locale/ru-RU/magic/magic.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/speech/speech-liar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/polymorph.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/tesla/energyball.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/tiles/shadow_basalt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/magic/event_spells.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/magic/projectile_spells.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/magic/utility_spells.ftl
  Resources/Locale/ru-RU/station-records/general-station-records.ftl
  Resources/Locale/ru-RU/store/categories.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/store/spellbook-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2139 Перевод Upstream #2133 2
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/chat/commands/ghost-command.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/magic/event_spells.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2140 Locale cowboy accent
  Resources/Locale/ru-RU/accent/cowboy.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#, Changes: Localization

#2141 Locale mobster accent
  Resources/Locale/ru-RU/accent/mobster.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2142 Remove maints access from visitor
  Resources/Prototypes/Roles/Jobs/Civilian/visitor.yml
Labels: No C#

#2145 Fix tests
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/icon-on.png
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/light_riot.rsi/on-inhand-right.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2137 [Resprite] Wallmount generator
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/on.png
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/panel.png
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/static.png
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/warning.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2109 Remove evil twin 4 real
  Content.Server/Corvax/EvilTwin/EvilTwinComponent.cs
  Content.Server/Corvax/EvilTwin/EvilTwinSpawnerComponent.cs
  Content.Server/Corvax/EvilTwin/EvilTwinSystem.cs
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/gamerules/events.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvaxsecrets/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvaxsecretsserver/gamerules/events.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvaxsecretsserver/objectives/evilTwinObjectives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/gamerules/events.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvaxsecrets/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvaxsecretsserver/gamerules/events.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvaxsecretsserver/objectives/evilTwinObjectives.ftl
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Corvax/GameRules/events.yml
  Resources/Prototypes/Corvax/Roles/Antags/eviltwin.yml
Labels: Status: Needs Review, Changes: Localization

#2058 Make reinforcements names MRP
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Labels: No C#, Status: Needs Review

#2146 Add last names
  Resources/Prototypes/Datasets/Names/last.yml
Labels: No C#, Status: Needs Review

#2147 cowboy accent additions
  Resources/Locale/ru-RU/accent/cowboy.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2150 [Maps] Terra update
  Resources/Maps/corvax_terra.yml
  Resources/Prototypes/Corvax/Maps/terra.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2151 Респрайт Пластитановых Стен
  Resources/Textures/Structures/Walls/plastitanium.rsi/full.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/meta.json
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium0.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium1.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium2.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium3.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium4.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium5.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium6.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium7.png
  Resources/Textures/Structures/Walls/plastitanium_diagonal.rsi/meta.json
  Resources/Textures/Structures/Walls/plastitanium_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/plastitanium_diagonal.rsi/state1.png
Labels: No C#, Changes: Sprites

#2149 [Fix] Cargo's names hats
  Resources/Textures/Clothing/Back/Duffels/salvage.rsi/equipped-BACK.png
  Resources/Textures/Clothing/Back/Duffels/salvage.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/equipped_HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/equipped_HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/flipped-equipped_HELMET.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/icon-flipped.png
  Resources/Textures/Clothing/Head/Soft/cargosoft.rsi/icon_flipped.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/equipped_HELMET.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/flipped-equipped_HELMET.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/icon-flipped.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/icon_flipped.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2152 [Maps] Delta fix
  Resources/Prototypes/Corvax/Maps/delta.yml
Labels: No C#, Status: Needs Review

#2071 Animation for vulpa tails
  Resources/Locale/ru-RU/corvax/markings/vulpkanin.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/tail_fox_inner_waggin.png
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/tail_fox_waggin.png
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/tail_wolf_inner_waggin.png
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/tail_wolf_waggin.png
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/vulp_tail.png
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/vulp_tail_inner.png
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#2017 Cool Rnd new look 3024
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/open-inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/open-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/open-inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/open-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/open-inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/open-inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/roboticist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/scientist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/scientist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/scientist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/scientist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/scientist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/roboticist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist_formal.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist_formal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist_formal.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist_formal.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist_formal.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/scientist_formal.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#2158 Перевод Upstream #2157
  Resources/Locale/ru-RU/entity-systems/pointing/pointing-system.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/core.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/plant-attributes.ftl
  Resources/Locale/ru-RU/metabolism/metabolism-groups.ftl
  Resources/Locale/ru-RU/paper/story-generation.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/access_configurator.ftl
  Resources/Locale/ru-RU/storygen/story-template.ftl
  Resources/Locale/ru-RU/virtual/virtual-item.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2155 [Resprite/Fix] Winter boots & some Cargo's items
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/qmsoft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/qm.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatcargo.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/meta.json
Labels: No C#, Changes: Sprites

#2179 Обновление Мауса... второй раз
  Resources/Maps/corvax_maus.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2175 Rat king TTS
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: No C#, Status: Needs Review

#2176 Перевод Upstream #2173
  Resources/Locale/ru-RU/atmos/firelock-component.ftl
  Resources/Locale/ru-RU/construction/conditions/no-unstackable-in-tile.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/lobby/ui/observe-warning-window.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/pizza.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/cannons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
  Resources/Locale/ru-RU/strip/strippable-component.ftl
Labels: No C#, Changes: Localization

#2174 [Maps] Avrite update
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: No C#, Status: Needs Review

#2171 Правки перевода
  Resources/Locale/ru-RU/administration/ui/ban-list.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2182 Фикс Outpost?
  Resources/Maps/corvax_outpost.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2183 Перевод Upstream #2181
  Resources/Locale/ru-RU/chat/emotes.ftl
  Resources/Locale/ru-RU/criminal-records/criminal-records.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2192 [Maps] Terra update
  Resources/Maps/corvax_terra.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2193 New lobby art
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/engineers-vs-zombies.png
  Resources/Textures/Corvax/LobbyScreens/engineers-vs-zombies.png.yml
Labels: No C#, Status: Needs Review

#2172 Том Корпоративного Закона
  Content.Client/Corvax/HyperLink/HyperLinkSystem.cs
  Content.Server/Corvax/HyperLink/HyperLinkComponent.cs
  Content.Server/Corvax/HyperLink/HyperLinkSystem.cs
  Content.Shared/Corvax/HyperLink/SharedHyperLinkSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/books.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Corvax/Entities/Objects/Books/hyperlinkbooks.yml
  Resources/Prototypes/Corvax/Loadouts/Miscellaneous/corporate_law.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: Status: Needs Review, Changes: Localization
