Repository space-syndicate/space-station-14, pull requests merged in 2024-12, with the labels that each got.

#2825 Fix New year nuke
  Resources/Textures/Objects/Devices/nuke.rsi/nukefestive.png
Labels: Changes: Sprites, size/XS, S: Untriaged, S: Needs Review, Changes: No C#

#2826 [Maps] Tushkan update #3 — Winter
  Resources/Maps/corvax_tushkan.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#

#2827 Map pool tweak
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: Changes: Map, size/XS, S: Untriaged, S: Needs Review, Changes: No C#

#2799 update server configs
  Resources/ConfigPresets/Corvax/athara.toml
  Resources/ConfigPresets/Corvax/main.toml
Labels: size/XS, S: Untriaged, S: Needs Review, Changes: No C#

#2832 Fix displacements map for female vulp and reptilian
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Textures/Corvax/Mobs/Species/displacement.rsi/jumpsuit-female.png
  Resources/Textures/Corvax/Mobs/Species/displacement.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#2837 Translate Upstream #2748
  Resources/Locale/ru-RU/botany/components/plant-holder-component.ftl
  Resources/Locale/ru-RU/chameleon-projector/chameleon-projector.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/decoration/garlands.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/decoration/presents.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/inventory/components/inventory-component.ftl
  Resources/Locale/ru-RU/janitorial/janitorial-slot-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/station_ai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/cargo/cargo-food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/decoration/garlands.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/decoration/presents.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/plate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/chameleon_projector.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/flare_gun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/gamerules/roundstart.ftl
  Resources/Locale/ru-RU/voting/ui/vote-call-menu.ftl
  Resources/Locale/ru-RU/window/window-component.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, size/L

#2836 Перевод Upstream #2830
  Resources/Locale/ru-RU/GPS/handheld-gps.ftl
  Resources/Locale/ru-RU/atmos/gas-pipe-sensor.ftl
  Resources/Locale/ru-RU/chat/commands/ghost-command.ftl
  Resources/Locale/ru-RU/clothing/components/magboots-component.ftl
  Resources/Locale/ru-RU/construction/ui/construction-menu.ftl
  Resources/Locale/ru-RU/fire-extinguisher/fire-extinguisher-component.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/singularity/components/generator-component.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/science.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/gingerbread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/present.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/flatpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/ore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/basic/wands.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/magic.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/gas_pipe_sensor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/cable_terminal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/cables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/singularity/generator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/tesla/generator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/station-events/events/greytide-virus.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/store/spellbook-catalog.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: No C#, Changes: Sprites, Changes: Localization, S: Untriaged, S: Needs Review, size/L

#2835 translate borer names
  Resources/Locale/ru-RU/datasets/names/borer.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/L

#2840 [Localize] Poster 52
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster52_legit.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged, S: Needs Review

#2839 Translate new diona names
  Resources/Prototypes/Datasets/Names/diona.yml
Labels: Changes: No C#, S: Needs Review, size/L

#2802 [Resprite] Medical uniforms & tools
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Scrubs/blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Scrubs/blue.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Scrubs/blue.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Scrubs/blue.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Scrubs/blue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Scrubs/green.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Scrubs/green.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Scrubs/green.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Scrubs/green.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Scrubs/green.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Scrubs/purple.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Scrubs/purple.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Scrubs/purple.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Scrubs/purple.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Scrubs/purple.rsi/meta.json
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/cheap_rollerbed.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/cheap_rollerbed_buckled.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/cheap_rollerbed_folded.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/emergency_rollerbed.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/emergency_rollerbed_buckled.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/emergency_rollerbed_folded.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Needs Review, size/S

#2831 Revert "new year lobbyscreens removed"
  Resources/Prototypes/Corvax/lobbyscreens.yml
Labels: Changes: No C#, S: Needs Review, size/M

#2841 Surgeon spawnpoint
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/markers/spawners/jobs.ftl
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/jobs.yml
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/S

#2745 Цель предателя на диск ядерной активации теперь шансы уменьшены (попытка 2)
  Resources/Prototypes/Corvax/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: No C#, Status: Needs Review

#2833 Winter stuff tweak
  Resources/Prototypes/weather.yml
  Resources/Textures/Tiles/Planet/Snow/snow_double_edge_south.png
  Resources/Textures/Tiles/attributions.yml
Labels: Changes: No C#, S: Untriaged, size/S

#2854 [MAPS] Silly Christmass Date
  Resources/Maps/corvax_silly.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review

#2853 [MAPS] Paper Christmass Date
  Resources/Maps/corvax_paper.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review

#2851 [Maps] Tushkan new year update
  Resources/Maps/corvax_tushkan.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#2849 [Maps] Maus new year update
  Resources/Maps/corvax_maus.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#2848 [Maps] Awesome new year update
  Resources/Maps/corvax_awesome.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/XL

#2847 [Maps] Outpost return
  Resources/Maps/corvax_outpost.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/XL

#2861 Fix spacelaw loadout
  Resources/Prototypes/Corvax/Loadouts/Miscellaneous/corporate_law.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#2855 Update configs
  Resources/ConfigPresets/Corvax/athara.toml
  Resources/ConfigPresets/Corvax/echo.toml
  Resources/ConfigPresets/Corvax/elysium.toml
  Resources/ConfigPresets/Corvax/main.toml
  Resources/ConfigPresets/Corvax/nebula.toml
  Resources/ConfigPresets/Corvax/nova.toml
  Resources/ConfigPresets/Corvax/solaris.toml
  Resources/ConfigPresets/Corvax/wl.toml
Labels: Changes: No C#, S: Untriaged, size/S

#2829 New Year Music
  Resources/Audio/Corvax/Lobby/NewYear/attributions.yml
  Resources/Audio/Corvax/Lobby/NewYear/carol-of-the-bells.ogg
  Resources/Audio/Corvax/Lobby/NewYear/dance-of-sugar-plum-fairy.ogg
  Resources/Audio/Corvax/Lobby/NewYear/deck-in-the-halls.ogg
  Resources/Audio/Corvax/Lobby/NewYear/jingle-bells.ogg
  Resources/Audio/Corvax/Lobby/NewYear/wish-you-a-merry-christmas.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: No C#, Status: Awaiting Changes, S: Needs Review, size/S

#2866 [Maps] Outpost fix
  Resources/Maps/corvax_outpost.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review

#2869 [Maps] Outpost hot fix
  Resources/Maps/corvax_outpost.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/L

#2871 [MAPS] Paper tweak
  Resources/Maps/corvax_paper.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/L

#2865 [Maps] Mappool update
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map, size/XS, S: Untriaged, S: Needs Review

#2876 Lamps sprite update
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/christmaslamp-on.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/christmaslamp.png
  Resources/Textures/Objects/Misc/Lights/lamp.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/christmaslamp-on.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/christmaslamp.png
  Resources/Textures/Objects/Misc/Lights/lampgreen.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/burnt.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/flashing.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/lamp-int-on.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/lamp-int.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Needs Review, size/M

#2879 [Maps] Silly Hot-Fix!
  Resources/Maps/corvax_silly.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#2883 [Maps] Новый год на корвакс центком
  Resources/Maps/corvax_centcomm.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#2882 [MAPS] Paper Tweak
  Resources/Maps/corvax_paper.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/XL

#2891 [Maps] Map pool
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map

#2894 [Maps] Glacier hotfix #5
  Resources/Prototypes/Corvax/Maps/glacier.yml
Labels: Changes: No C#, Changes: Map, size/XS, S: Needs Review

#2895 [Maps] Pearl rework
  Resources/Maps/corvax_pearl.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review
