Repository space-syndicate/space-station-14, pull requests merged in 2024-10, with the labels that each got.

#2636 [Maps] Tushkan hotfix #3
  Resources/Maps/corvax_tushkan.yml
Labels: No C#, Changes: Map

#2637 fix locale
  Resources/Locale/ru-RU/anomaly/inner_anomaly.ftl
  Resources/Locale/ru-RU/corvax/paper/books-lore.ftl
  Resources/Locale/ru-RU/datasets/figurines.ftl
  Resources/Locale/ru-RU/paper/paper-misc.ftl
  Resources/Locale/ru-RU/robust-toolbox/commands.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/consumable/food/baked/vulpkanin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/thief_beacon.ftl
  Resources/Locale/ru-RU/tools/components/welder-component.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2618 change solars station goal
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: No C#, Changes: Localization

#2641 Перевод Upstream #2640
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/objectives/eviltwin.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/criminal-records/criminal-records.ftl
  Resources/Locale/ru-RU/discord/vote-notifications.ftl
  Resources/Locale/ru-RU/ensnare/ensnare-component.ftl
  Resources/Locale/ru-RU/execution/execution.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/interaction/interaction-system.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/medical/components/crew-monitoring-component.ftl
  Resources/Locale/ru-RU/navmap-beacons/station_map.ftl
  Resources/Locale/ru-RU/npc/firebot.ftl
  Resources/Locale/ru-RU/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/ru-RU/paper/stamp-component.ftl
  Resources/Locale/ru-RU/paper/syndicate-business-card.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/silicons/station-ai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/objectives/eviltwin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/pins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/camera_bug.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/business_card.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/arrows.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/assembly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/voice-mask.ftl
  Resources/Locale/ru-RU/voting/managers/vote-manager.ftl
  Resources/Locale/ru-RU/voting/ui/vote-call-menu.ftl
  Resources/Locale/ru-RU/voting/ui/vote-popup.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
Labels: No C#, Changes: Localization

#2644 Remove custom PaperPrinter and use Paper material
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/materials/sheets/other.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/materials/sheets/other.ftl
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
  Resources/Prototypes/Corvax/Reagents/Materials/materials.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
  Resources/Prototypes/Corvax/Stack/other_stacks.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review, Changes: Map, Changes: Localization

#2643 [Respite] Security's helmet for Vox
  Resources/Textures/Clothing/Head/Helmets/security.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/security.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2649 Fix tushkan engi disposals
  Resources/Maps/corvax_tushkan.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2653 [MAPS] Paper Service and AI update
  Resources/Maps/corvax_paper.yml
Labels: No C#, Changes: Map

#2657 [Map] New Station Awesome
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/emergency_awesome.yml
  Resources/Maps/corvax_awesome.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/awesome.yml
Labels: No C#, Changes: Map

#2576 Fix cryo message gender
  Resources/Locale/ru-RU/bed/cryostorage/cryogenic-storage.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2572 я просто ахуел от этого пул реквеста! (Port Corporate Law in guidebook)
  Resources/Prototypes/Corvax/Guidebook/corporate_law.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter11.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter12.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter13.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter14.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter21.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter22.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter31.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter32.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter41.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter42.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Chapter43.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/CorporateLaw.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/CrimeList.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Misc.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Modificators.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/OPRS.xml
  Resources/ServerInfo/Corvax/Guidebook/CorporateLaw/Punishments.xml
Labels: No C#, Status: Needs Review

#2667 update rules
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule6.xml
Labels: No C#, Status: Needs Review

#2666 New station goals
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Entities/Stations/base.yml
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/glacier.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
  Resources/Prototypes/Corvax/Maps/split.yml
  Resources/Prototypes/Corvax/Objectives/goals.yml
Labels: No C#, Status: Needs Review, Changes: Map, Changes: Localization

#2671 Тупой холодильник
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/smartfridge.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2672 document desc tweak
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/paper/document.ftl
Labels: No C#, Changes: Localization

#2648 Fix locale scripts
  Tools/ss14_ru/__init__.py
  Tools/ss14_ru/clean_duplicates.py
  Tools/ss14_ru/clean_empty.py
  Tools/ss14_ru/file.py
  Tools/ss14_ru/fluentast.py
  Tools/ss14_ru/fluentastcomparer.py
  Tools/ss14_ru/fluentastmanager.py
  Tools/ss14_ru/fluentformatter.py
  Tools/ss14_ru/keyfinder.py
  Tools/ss14_ru/lokalise_fluent_ast_comparer_manager.py
  Tools/ss14_ru/lokalise_project.py
  Tools/ss14_ru/lokalisemodels.py
  Tools/ss14_ru/project.py
  Tools/ss14_ru/requirements.txt
  Tools/ss14_ru/translation.bat
  Tools/ss14_ru/translation.sh
  Tools/ss14_ru/translationsassembler.py
  Tools/ss14_ru/yamlextractor.py
  Tools/ss14_ru/yamlmodels.py
Labels: No C#, Status: Needs Review

#2674 [Maps] Maus update
  Resources/Maps/Shuttles/emergency_maus.yml
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2670 Resprite intercom's panel & fix robes sprites
  Resources/Textures/Clothing/OuterClothing/Misc/cultrobes.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Misc/cultrobes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Misc/nunrobe.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/panel.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2679 Hydroponics airlocks resprite
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/welded.png
Labels: No C#, Changes: Sprites

#2683 fix hydro airlock
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/meta.json
Labels: No C#

#2684 remove very bad name from datasets
  Resources/Prototypes/Datasets/Names/last_female.yml
  Resources/Prototypes/Datasets/Names/last_male.yml
Labels: No C#, Status: Needs Review

#2659 make meteorswarms later again
  Resources/Prototypes/GameRules/meteorswarms.yml
Labels: No C#, Status: Needs Review

#2692 [Resprite] Some scraps
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-airlock-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-airlock-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-camera.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-canister-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-firelock-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-firelock-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2690 [Maps] Silly Island
  Resources/Maps/corvax_silly.yml
Labels: No C#, Changes: Map

#2695 [Maps] Awesome TYUKVENNYI SPAS Update
  Resources/Maps/corvax_awesome.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2697 [Maps] Maus Helloween Update
  Resources/Maps/corvax_maus.yml
Labels: No C#, Changes: Map

#2698 [MAPS] Paper hotfix
  Resources/Maps/corvax_paper.yml
Labels: No C#, Changes: Map

#2700 Corvax Ruins
  Resources/Maps/Ruins/corvax_accident.yml
  Resources/Maps/Ruins/corvax_adventurer.yml
  Resources/Maps/Ruins/corvax_aplink.yml
  Resources/Maps/Ruins/corvax_battleship.yml
  Resources/Maps/Ruins/corvax_bss_unluck.yml
  Resources/Maps/Ruins/corvax_gas_station.yml
  Resources/Maps/Ruins/corvax_hotel_trivago.yml
  Resources/Maps/Ruins/corvax_kamikaze.yml
  Resources/Maps/Ruins/corvax_ore.yml
  Resources/Maps/Ruins/corvax_research_station.yml
  Resources/Maps/Ruins/corvax_rnd_debris.yml
  Resources/Maps/Ruins/corvax_sanctus.yml
  Resources/Maps/Ruins/corvax_syndi_base.yml
  Resources/Maps/Ruins/corvax_ussp_asteroid.yml
  Resources/Maps/Ruins/corvax_ussp_debris.yml
  Resources/Prototypes/Corvax/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Corvax/Maps/frame.yml
  Resources/Prototypes/Corvax/Maps/split.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2689 more tts sanitize
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: Status: Needs Review

#2645 fix guidebook typo
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
Labels: No C#

#2703 [Maps] Mappool tweaks
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2688 fix locale
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/nutrition/components/cream-pied-component.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2685 Upstream translate #2677
  Resources/Locale/ru-RU/advertisements/other/firebot.ftl
  Resources/Locale/ru-RU/bed/cryostorage/cryogenic-storage.ftl
  Resources/Locale/ru-RU/entity-categories.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/info/playtime-stats.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-supervisors.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/bandanas.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/pie.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/roles/mindroles/mind_roles.ftl
  Resources/Locale/ru-RU/storage/components/secret-stash-component.ftl
Labels: No C#, Changes: Localization

#2420 Translate Guidebook
  Resources/ServerInfo/Guidebook/Command.xml
  Resources/ServerInfo/Guidebook/Glossary.xml
  Resources/ServerInfo/Guidebook/Jobs.xml
  Resources/ServerInfo/Guidebook/NewPlayer/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/References.xml
Labels: No C#, Status: Needs Review

#2706 Удалены коды ядерной боеголовки с руин.
  Resources/Maps/Ruins/corvax_kamikaze.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2704 [Resprite] Security trooper's uniform
  Resources/Textures/Clothing/Head/Hats/security_trooper_hat.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/security_trooper_hat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/security_trooper_hat.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/security_trooper_hat.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/security_trooper_hat.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/meta.json
Labels: No C#, Changes: Sprites

#2705 New voices
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2717 Bunker goal
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2715 Evacs update
  Resources/Maps/Shuttles/arrivals_corvaxsilly.yml
  Resources/Maps/Shuttles/corvax_emergency.yml
  Resources/Maps/Shuttles/emergency_corvaxavrite.yml
  Resources/Maps/Shuttles/emergency_corvaxdelta.yml
  Resources/Maps/Shuttles/emergency_corvaxpaper.yml
  Resources/Maps/Shuttles/emergency_corvaxsilly.yml
  Resources/Maps/Shuttles/emergency_maus.yml
  Resources/Maps/Shuttles/emergency_pilgrim.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2707 [Fix] morgue.ftl locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/morgue.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2719 Translate Upstream #2718
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/botany/components/plant-holder-component.ftl
  Resources/Locale/ru-RU/chat/emotes.ftl
  Resources/Locale/ru-RU/forensics/fibers.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/info/playtime-stats.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/ninja/ninja-actions.ftl
  Resources/Locale/ru-RU/reagents/meta/elements.ftl
  Resources/Locale/ru-RU/server-updates/server-updates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/multiple/towel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/admin_ghost.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/observer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/replay_observer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/spectral_locator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/defib.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pneumatic_cannon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/miners.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2724 [Maps] Fixing the ruin
  Resources/Maps/Ruins/corvax_syndi_base.yml
Labels: No C#, Status: Needs Review, Changes: Map
