Repository space-syndicate/space-station-14, pull requests merged in 2024-03, with the labels that each got.

#1908 Перевод Upstream #1907
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/components/space-heater-component.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/generic.ftl
  Resources/Locale/ru-RU/markings/noses.ftl
  Resources/Locale/ru-RU/mass-media/news-ui.ftl
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/nukeops/war-declarator.ftl
  Resources/Locale/ru-RU/nukeops/war-ops.ftl
  Resources/Locale/ru-RU/pda/Ringer/ringer-component.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/shuttle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/flatpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/war_declarator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/snap_pops.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/whistles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/ore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/shards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/carpets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/decoys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/handheld_mass_scanner.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/assembly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/carpets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/tables/tables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting/base_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/portable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/base_structurecrates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/reinforced.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/rplasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/ruranium.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/uranium.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1912 Signs and posters tweaks
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster39_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster63_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster9_contraband.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/court.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/janitor.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/law.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/psychology.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/security.png
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1913 Resprite decoys + box sprite fixes
  Resources/Textures/Objects/Storage/boxes.rsi/bottle.png
  Resources/Textures/Objects/Storage/boxes.rsi/candle.png
  Resources/Textures/Objects/Storage/boxes.rsi/darts.png
  Resources/Textures/Objects/Storage/boxes.rsi/encryptokey.png
  Resources/Textures/Objects/Storage/boxes.rsi/evidence_markers.png
  Resources/Textures/Objects/Storage/boxes.rsi/headset.png
  Resources/Textures/Objects/Storage/boxes.rsi/vials.png
  Resources/Textures/Objects/Tools/Decoys/agent_decoy.rsi/aballoon.png
  Resources/Textures/Objects/Tools/Decoys/commander_decoy.rsi/cballoon.png
  Resources/Textures/Objects/Tools/Decoys/elite_decoy.rsi/eballoon.png
  Resources/Textures/Objects/Tools/Decoys/juggernaut_decoy.rsi/jballoon.png
  Resources/Textures/Objects/Tools/Decoys/operative_decoy.rsi/oballoon.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1914 localize interface
  Resources/Textures/Interface/Ashen/Slots/hand_l.png
  Resources/Textures/Interface/Ashen/Slots/hand_r.png
  Resources/Textures/Interface/Clockwork/Slots/hand_l.png
  Resources/Textures/Interface/Clockwork/Slots/hand_r.png
  Resources/Textures/Interface/Default/Slots/hand_l.png
  Resources/Textures/Interface/Default/Slots/hand_r.png
  Resources/Textures/Interface/Minimalist/Slots/hand_l.png
  Resources/Textures/Interface/Minimalist/Slots/hand_r.png
  Resources/Textures/Interface/Plasmafire/Slots/hand_l.png
  Resources/Textures/Interface/Plasmafire/Slots/hand_r.png
  Resources/Textures/Interface/Retro/Slots/hand_l.png
  Resources/Textures/Interface/Retro/Slots/hand_r.png
  Resources/Textures/Interface/Slimecore/Slots/hand_l.png
  Resources/Textures/Interface/Slimecore/Slots/hand_r.png
Labels: No C#, Status: Needs Review

#1916 [Maps] Maus update
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1918 [Maps] Ishimura update
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1919 Правки перевода
  Resources/Locale/ru-RU/advertisements/vending/cigs.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1923 LEGENDARY HIGHSEC AIRLOCK FIX AAAAAAA
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
Labels: No C#, Status: Needs Review

#1928 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/heads.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1927 speech_emotes locale
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review

#1926 Resprite hawaii and flannel shirts
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/flannel.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1909 Tweak locale
  Resources/Locale/ru-RU/nutrition/components/cream-pied-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1920 Minor job icons locale
  Resources/Textures/Interface/Misc/job_icons.rsi/HeadRevolutionary.png
  Resources/Textures/Interface/Misc/job_icons.rsi/MedicalIntern.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Passenger.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Revolutionary.png
  Resources/Textures/Interface/Misc/job_icons.rsi/SecurityCadet.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1922 Resprite network configurator
  Resources/Textures/Objects/Tools/network_configurator.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/network_configurator.rsi/icon.png
  Resources/Textures/Objects/Tools/network_configurator.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/network_configurator.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/network_configurator.rsi/meta.json
  Resources/Textures/Objects/Tools/network_configurator.rsi/mode-link.png
  Resources/Textures/Objects/Tools/network_configurator.rsi/mode-list.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1903 Возврат хайджека
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Resources/Prototypes/Corvax/Objectives/traitorObjectives.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Status: Needs Review

#1936 Перевод Upstream #1924
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/actions/actions/suicide.ftl
  Resources/Locale/ru-RU/advertisements/vending/lawdrobe.ftl
  Resources/Locale/ru-RU/ame/components/ame-controller-component.ftl
  Resources/Locale/ru-RU/chemistry/components/injector-component.ftl
  Resources/Locale/ru-RU/fluids/components/puddle-component.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/paper/paper-component.ftl
  Resources/Locale/ru-RU/paper/stamp-component.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/shuttles/iff.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/space_ruin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/shuttle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/curtains.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/mineshaft.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_map.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/shards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/metal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/shields/shields.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/defib.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/curtains.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/assembly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/clockwork.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/easy_pry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/assembly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/clockwork.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/tables/tables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting/ground_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/girders.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/grille.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/clockwork.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/plastitanium.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1935 Изменения в карте PaperStation
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1937 New sign locale
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_exam.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_icu.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1940 Fix sprite hawaiian shirts
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblack.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiblue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaired.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/hawaiyellow.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1939 Revert "Minor job icons locale"
  Resources/Textures/Interface/Misc/job_icons.rsi/HeadRevolutionary.png
  Resources/Textures/Interface/Misc/job_icons.rsi/MedicalIntern.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Passenger.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Revolutionary.png
  Resources/Textures/Interface/Misc/job_icons.rsi/SecurityCadet.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1934 Resprite medical clothing
  Resources/Textures/Clothing/Back/Duffels/genetics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/genetics.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/genetics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/genetics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/genetics.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/genetics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/genetics.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/genetics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/genetics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/genetics.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/virology.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/virology.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/virology.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/virology.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/virology.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1941 Силли
  Resources/Maps/corvax_silly.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1946 Цель станции "Клетка сдерживания теслы"
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Objectives/goals.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1944 Resprite counters
  Resources/Textures/Structures/Furniture/Tables/countermetal.rsi/full.png
  Resources/Textures/Structures/Furniture/Tables/countermetal.rsi/meta.json
  Resources/Textures/Structures/Furniture/Tables/countermetal.rsi/state_0.png
  Resources/Textures/Structures/Furniture/Tables/countermetal.rsi/state_1.png
  Resources/Textures/Structures/Furniture/Tables/countermetal.rsi/state_2.png
  Resources/Textures/Structures/Furniture/Tables/countermetal.rsi/state_3.png
  Resources/Textures/Structures/Furniture/Tables/countermetal.rsi/state_4.png
  Resources/Textures/Structures/Furniture/Tables/countermetal.rsi/state_5.png
  Resources/Textures/Structures/Furniture/Tables/countermetal.rsi/state_6.png
  Resources/Textures/Structures/Furniture/Tables/countermetal.rsi/state_7.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/full.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/meta.json
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_0.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_1.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_2.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_3.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_4.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_5.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_6.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_7.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1947 war-declarator timer fix
  Resources/Locale/ru-RU/nukeops/war-declarator.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1951 Перевод Upstream #1949
  Resources/Locale/ru-RU/criminal-records/criminal-records.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargoproduct-categories.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1959 Перевод Upstream #1957
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/ru-RU/clothing/boots.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/fancytables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/store/categories.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1967 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/colored.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/sink.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1950 Rnd doors
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/opening.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1966 Update maps in corvax default mappool
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review

#1968 Автоматизация ОБР
  Resources/Prototypes/Corvax/Markers/Spawners/ert.yml
Labels: No C#, Status: Needs Review

#1972 [Maps] CentComm station update
  Resources/Maps/corvax_centcomm.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1931 Update secret_weights.yml with revolutionary
  Resources/Prototypes/Corvax/secret_weights.yml
Labels: No C#, Status: Needs Review

#1970 Minor locale cleanup
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/lighting_ground.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/wallmounts/emergency_light.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting_ground.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/emergency_light.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1971 Перевод Upstream #1969
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/paper/stamp-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/markers/spawners/ert.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/random_suit.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/cargo/cargo_pallet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/jammer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/firebomb.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/pipebomb.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/bombs.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1984 [Resprite/Return] Exosuit CBURN
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-left-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-right-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/light-overlay.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1988 Silly island next gen 4k update
  Resources/Maps/Shuttles/arrivals_corvaxsilly.yml
  Resources/Maps/Shuttles/cargo_corvaxsilly.yml
  Resources/Maps/Shuttles/emergency_corvaxsilly.yml
  Resources/Maps/Shuttles/mining_corvaxsilly.yml
  Resources/Maps/Shuttles/trading_outpostcorvaxsilly.yml
  Resources/Maps/corvax_silly.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1987 Guidebook translate (Trairors, zombie)
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: No C#, Status: Needs Review

#1986 Guidebook translate (Controls, radio, adv brute)
  Resources/ServerInfo/Guidebook/Controls/Controls.xml
  Resources/ServerInfo/Guidebook/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/Medical/AdvancedBrute.xml
Labels: No C#, Status: Needs Review

#1985 Locale Guidebook for Revolution.
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
Labels: No C#, Status: Needs Review

#1983 Перевод Upstream #1980
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/kitchen/components/kitchen-spike-component.ftl
  Resources/Locale/ru-RU/paint/paint.ftl
  Resources/Locale/ru-RU/replays/replays.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/spray_paint.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/authorbooks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/stairs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/fence_wood.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1994 Перевод Upstream #1993
  Resources/Locale/ru-RU/accent/parrot.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/administration/commands/stealthmin-command.ftl
  Resources/Locale/ru-RU/administration/managers/admin-manager.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
  Resources/Locale/ru-RU/climbing/climbable-component.ftl
  Resources/Locale/ru-RU/door-remote/door-remote.ftl
  Resources/Locale/ru-RU/glue/glue.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/trash_drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/holoprojectors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/immovable_rod.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/church-bell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1999 Send station goal also to centcomm fax
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Labels: No C#, Status: Needs Review

#2000 Outpost WorldsWide Update Steal
  Resources/Maps/corvax_outpost.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2003 Перевод Upstream #2002
  Resources/Locale/ru-RU/_directions.ftl
  Resources/Locale/ru-RU/advertisements/arcade/blockgame.ftl
  Resources/Locale/ru-RU/advertisements/arcade/spacevillain.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/dragon/rifts.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-rules/rule-secret.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/kitchen/components/reagent-grinder-component.ftl
  Resources/Locale/ru-RU/navmap-beacons/station_map.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/crystal_shard.ftl
  Resources/Locale/ru-RU/voice-mask.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
