Repository space-syndicate/space-station-14, pull requests merged in 2024-11, with the labels that each got.

#2723 fix arrivals gender locale
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2733 locale emotes and fix lawyer towel
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#

#2734 fix law locale
  Resources/Locale/ru-RU/station-laws/laws.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2736 FixConfig
  Resources/ConfigPresets/Corvax/solaris.toml
Labels: No C#, Status: Needs Review

#2739 [Art] Mirror resprite
  Resources/Textures/Structures/Wallmounts/mirror.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/mirror.rsi/mirror.png
  Resources/Textures/Structures/Wallmounts/mirror.rsi/mirror_broke.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2735 Change default lawset to NTDefault
  Resources/Prototypes/Corvax/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/silicon-laws.yml
Labels: No C#, Status: Needs Review

#2737 Add expeditions console to research
  Resources/Prototypes/Corvax/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#, Status: Needs Review

#2721 Update CODEOWNERS
  .github/CODEOWNERS
Labels: No C#

#2714 Add station goal cvar
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
Labels: Status: Needs Review

#2746 update rules
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule6.xml
Labels: No C#

#2749 Удаление компонента HyperLink
  Content.Client/Corvax/HyperLink/HyperLinkSystem.cs
  Content.Server/Corvax/HyperLink/HyperLinkComponent.cs
  Content.Server/Corvax/HyperLink/HyperLinkSystem.cs
  Content.Shared/Corvax/HyperLink/SharedHyperLinkSystem.cs
  Resources/Maps/corvax_paper.yml
Labels: Status: Needs Review, Changes: Map

#2756 [Maps] Maus Tweak
  Resources/Maps/Shuttles/emergency_maus.yml
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2757 [Maps] Tushkan update #2
  Resources/Maps/corvax_tushkan.yml
Labels: No C#, Changes: Map

#2750 Фиксит хитбокс принтера
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
Labels: No C#, Status: Needs Review

#2754 Фикс законов боргов.
  Resources/Locale/ru-RU/station-laws/laws.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2740 Resprite some captain clothing
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/captain.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/captain.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/captain.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/captain.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Head/Hats/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/captain.rsi/meta.json
  Resources/Textures/Clothing/Mask/gascaptain.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/CAP-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/CAP-inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coat.rsi/CAP-inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/captain.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/captain.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2762 New lobby art
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/you-are-not-funny.png
  Resources/Textures/Corvax/LobbyScreens/you-are-not-funny.png.yml
Labels: No C#

#2764 Удаление roundStart : false у голоса Anivia
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#

#2765 Update faction.yml
  Resources/Prototypes/StatusIcon/faction.yml
Labels: No C#, Status: Needs Review

#2761 [Maps] Paper Tweak
  Resources/Maps/corvax_paper.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2767 [Maps] Фикс СЦК
  Resources/Maps/corvax_centcomm.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2768 [Maps] Цели на астре
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Maps/astra.yml
Labels: No C#, Status: Needs Review, Changes: Map, Changes: Localization

#2774 [Maps] Maus minor tweak
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2777 Atro tiles weather disable
  Resources/Prototypes/Tiles/floors.yml
Labels: No C#, Status: Needs Review

#2778 Weather tweak
  Resources/Prototypes/weather.yml
  Resources/Textures/Effects/weather.rsi/meta.json
  Resources/Textures/Effects/weather.rsi/rain.png
  Resources/Textures/Effects/weather.rsi/snowfall_light.png
  Resources/Textures/Effects/weather.rsi/snowfall_med.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2565 [Art] Conveyor resprite
  Resources/Textures/Structures/conveyor.rsi/conveyor_loose.png
  Resources/Textures/Structures/conveyor.rsi/conveyor_started_ccw.png
  Resources/Textures/Structures/conveyor.rsi/conveyor_started_ccw_r.png
  Resources/Textures/Structures/conveyor.rsi/conveyor_started_cw.png
  Resources/Textures/Structures/conveyor.rsi/conveyor_started_cw_r.png
  Resources/Textures/Structures/conveyor.rsi/conveyor_stopped_ccw.png
  Resources/Textures/Structures/conveyor.rsi/conveyor_stopped_cw.png
  Resources/Textures/Structures/conveyor.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2603 Арт "Культ Нар'Си"
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/nar-sie.png
  Resources/Textures/Corvax/LobbyScreens/nar-sie.png.yml
Labels: No C#, Status: Needs Review

#2673 add new goal and tweak others
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Entities/Stations/base.yml
  Resources/Prototypes/Corvax/Objectives/goals.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2530 Ебучие импланты
  Resources/Locale/ru-RU/corvax/hidden-description/hiddenDescription.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2702 fix antags hidden desc
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Clothing/Ears/specific.yml
  Resources/Prototypes/Entities/Clothing/Eyes/specific.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Hands/specific.yml
  Resources/Prototypes/Entities/Clothing/Head/specific.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/specific.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/guardian_activators.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Power/powersink.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/spider.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: No C#

#2789 [Maps] ERT&Salvage shuttle update
  Resources/Maps/Shuttles/corvax_mining.yml
  Resources/Maps/Shuttles/ert_corvaxcentcomm.yml
Labels: Changes: Map, S: Needs Review, Changes: No C#, size/XL

#2791 Update secret_weights.yml
  Resources/Prototypes/Corvax/secret_weights.yml
Labels: size/XS, S: Untriaged, S: Needs Review, Changes: No C#

#2792 Syndicate footsoldiers now have death acidifier as an autoimplant
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
Labels: size/XS, S: Untriaged, S: Needs Review, Changes: No C#

#2794 nerf maxcap radius
  Resources/ConfigPresets/Corvax/mrp.toml
Labels: size/XS, S: Untriaged, S: Needs Review, Changes: No C#

#2793 Corvax New Year stuff
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/decoration/garlands.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/decoration/presents.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Corvax/Entities/Objects/Decoration/garlands.yml
  Resources/Prototypes/Corvax/Entities/Objects/Decoration/presents.yml
  Resources/Prototypes/Corvax/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Corvax/Objects/Decoration/Flora/newyear_tree.yml/after.png
  Resources/Textures/Corvax/Objects/Decoration/Flora/newyear_tree.yml/before.png
  Resources/Textures/Corvax/Objects/Decoration/Flora/newyear_tree.yml/lights.png
  Resources/Textures/Corvax/Objects/Decoration/Flora/newyear_tree.yml/meta.json
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/base.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/decor_0.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/decor_1.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/decor_2.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/mask_null.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/meta.json
  Resources/Textures/Corvax/Objects/Decoration/Presents/big_present.yml/ribbon.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/base.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/decor_0.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/decor_1.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/decor_2.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/mask_null.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/meta.json
  Resources/Textures/Corvax/Objects/Decoration/Presents/medium_present.yml/ribbon.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/small_present.yml/base.png
  Resources/Textures/Corvax/Objects/Decoration/Presents/small_present.yml/meta.json
  Resources/Textures/Corvax/Objects/Decoration/Presents/small_present.yml/ribbon.png
  Resources/Textures/Corvax/Objects/Decoration/garlands.yml/base.png
  Resources/Textures/Corvax/Objects/Decoration/garlands.yml/lights.png
  Resources/Textures/Corvax/Objects/Decoration/garlands.yml/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/corvax_newyear.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, S: Needs Review, Changes: No C#, size/L

#2797 Перевод Upstream #2785
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/bonk/components/bonkable-component.ftl
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/crayon/crayon-component.ftl
  Resources/Locale/ru-RU/intellicard/intellicard.ftl
  Resources/Locale/ru-RU/preferences/ui/character-setup-gui.ftl
  Resources/Locale/ru-RU/silicons/station-ai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/borgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/polymorph.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/jaunt_mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/magic/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting/base_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/cores.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/magic/event_spells.ftl
  Resources/Locale/ru-RU/store/spellbook-catalog.ftl
  Resources/Locale/ru-RU/weather/weather.ftl
Labels: Changes: Localization, S: Untriaged, S: Needs Review, Changes: No C#, size/L

#2544 Добавление ещё скрытого описания
  Resources/Locale/ru-RU/corvax/hidden-description/hiddenDescription.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
Labels: No C#, Status: Needs Review, Changes: Localization, Changes: No C#, size/L

#2786 set see own notes to true
  Resources/ConfigPresets/Corvax/common.toml
Labels: size/XS, S: Untriaged, Changes: No C#

#2800 RCD icons resprite
  Resources/Textures/Interface/Radial/RCD/airlock.png
  Resources/Textures/Interface/Radial/RCD/airlocks.png
  Resources/Textures/Interface/Radial/RCD/bulb_light.png
  Resources/Textures/Interface/Radial/RCD/deconstruct.png
  Resources/Textures/Interface/Radial/RCD/directional.png
  Resources/Textures/Interface/Radial/RCD/directional_reinforced.png
  Resources/Textures/Interface/Radial/RCD/firelock.png
  Resources/Textures/Interface/Radial/RCD/glass_airlock.png
  Resources/Textures/Interface/Radial/RCD/lighting.png
  Resources/Textures/Interface/Radial/RCD/metal_tile.png
  Resources/Textures/Interface/Radial/RCD/plating.png
  Resources/Textures/Interface/Radial/RCD/reinforced_wall.png
  Resources/Textures/Interface/Radial/RCD/solid_wall.png
  Resources/Textures/Interface/Radial/RCD/tube_light.png
  Resources/Textures/Interface/Radial/RCD/walls_and_flooring.png
  Resources/Textures/Interface/Radial/RCD/window.png
  Resources/Textures/Interface/Radial/RCD/window_reinforced.png
  Resources/Textures/Interface/Radial/RCD/windows_and_grilles.png
Labels: S: Untriaged, S: Needs Review, Changes: No C#

#2803 [Maps] Maus Winter Update
  Resources/Maps/corvax_maus.yml
Labels: Changes: Map, S: Untriaged, S: Needs Review, Changes: No C#

#2804 [MAPS] Paper tweak
  Resources/Maps/corvax_paper.yml
Labels: Changes: Map, S: Needs Review, Changes: No C#

#2811 [Maps] Awesome new god update
  Resources/Maps/corvax_awesome.yml
Labels: Changes: Map, Changes: No C#, size/XL

#2813 Parallax pack 2
  Resources/Prototypes/Corvax/Parallax/other.yml
  Resources/Prototypes/Corvax/Parallax/scrolling.yml
  Resources/Prototypes/Corvax/Parallax/silly_island.yml
  Resources/Textures/Corvax/Parallax/IceParallax.png
  Resources/Textures/Corvax/Parallax/LavaLightParallax.png
  Resources/Textures/Corvax/Parallax/LavaParallax.png
  Resources/Textures/Corvax/Parallax/SillyIceParallax.png
Labels: S: Untriaged, Changes: No C#, size/L

#2818 Revert "Rebalancing zombie mode chances"
  Resources/Prototypes/Corvax/secret_weights.yml
Labels: size/XS, S: Needs Review, Changes: No C#

#2809 [Maps] Silly Winter Update
  Resources/Maps/corvax_silly.yml
Labels: Changes: Map, S: Untriaged, S: Needs Review, Changes: No C#, size/XL
