Repository space-syndicate/space-station-14, pull requests merged in 2024-06, with the labels that each got.

#2165 New TTS locale
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2163 Перевод Upstream #2162
  Resources/Locale/ru-RU/game-ticking/game-rules/gamerule-admin.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/flatpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/gamerules/events.ftl
Labels: No C#, Changes: Localization

#2199 Add vulpkanin growl & howl emotes
  Resources/Audio/Corvax/Effects/Growl/attributions.yml
  Resources/Audio/Corvax/Effects/Growl/growl1.ogg
  Resources/Audio/Corvax/Effects/Growl/growl2.ogg
  Resources/Audio/Corvax/Effects/Growl/growl3.ogg
  Resources/Audio/Corvax/Effects/attributions.yml
  Resources/Audio/Corvax/Effects/howl.ogg
  Resources/Locale/ru-RU/corvax/chat/emotes.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Corvax/SoundCollections/growl.yml
  Resources/Prototypes/Corvax/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Corvax/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2196 add: Baked vulp :trollface:
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/consumable/food/baked/vulpkanin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/consumable/food/baked/vulpkanin.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/Baked/vulpkanin.yml
  Resources/Prototypes/Corvax/Recipes/Cooking/meat_recipes.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/plate.rsi/baked_vulpkanin.png
  Resources/Textures/Corvax/Objects/Consumable/Food/plate.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/plate.rsi/plate.png
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#2200 Big paper station hotfix
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2007 Corvax clothes to uniform printer
  Resources/Prototypes/Corvax/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, Status: Awaiting Changes

#2159 Fix mappool (add oasis)
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review

#2208 [Maps] New map Frame station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/corvax_frame.yml
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/Random/framestationrandom.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/frame.yml
Labels: Status: Needs Review, Changes: Map

#2184 Parallaxes
  Resources/Prototypes/Corvax/Parallax/other.yml
  Resources/Prototypes/Corvax/Parallax/silly_island.yml
Labels: No C#, Status: Needs Review

#2217 Locale tweaks
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/salvage/ore_bag_holding.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2170 Add corvax folder to maps label
  .github/labeler.yml
Labels: No C#, Status: Needs Review

#2219 [MAPS] Ishimura mini-update
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2223 resprite stairs
  Resources/Textures/Structures/stairs.rsi/meta.json
  Resources/Textures/Structures/stairs.rsi/stairs_dark.png
  Resources/Textures/Structures/stairs.rsi/stairs_stage_dark.png
  Resources/Textures/Structures/stairs.rsi/stairs_stage_steel.png
  Resources/Textures/Structures/stairs.rsi/stairs_stage_white.png
  Resources/Textures/Structures/stairs.rsi/stairs_stage_wood.png
  Resources/Textures/Structures/stairs.rsi/stairs_steel.png
  Resources/Textures/Structures/stairs.rsi/stairs_white.png
  Resources/Textures/Structures/stairs.rsi/stairs_wood.png
Labels: No C#, Changes: Sprites

#2225 Outpost Atmos Fix
  Resources/Maps/corvax_outpost.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2224 Add new random spawners
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/markers/spawners/animals.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/markers/spawners/random/contraband.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/contraband.ftl
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/Random/animals.yml
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/Random/contraband.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2227 [Maps] Paper update
  Resources/Maps/corvax_paper.yml
Labels: No C#, Changes: Map

#2230 New station - Pearl Island
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/corvax_pearl.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
Labels: Status: Needs Review, Changes: Map

#2118 Chemistry bottle resprite
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/aesir.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-1.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-2.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-3.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-4.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-5.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-6.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2236 Resprite reinforced
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/reinforced.png
  Resources/Textures/Tiles/super_reinforced.png
Labels: No C#, Status: Needs Review

#2239 [Maps] Terra update
  Resources/Maps/corvax_terra.yml
Labels: No C#, Changes: Map

#2240 Locale svg icons for paper
  Resources/Textures/Interface/Paper/paper_heading_captains_thoughts.svg
  Resources/Textures/Interface/Paper/paper_heading_captains_thoughts.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_heading_cargo_invoice.svg
  Resources/Textures/Interface/Paper/paper_heading_cargo_invoice.svg.96dpi.png
Labels: No C#, Status: Needs Review

#2251 add normal parents to our coats :toolbox:
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hos_greatcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hos_greatcoat.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hos_greatcoat.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hos_greatcoat.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/hos_greatcoat.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2234 Glass tile retexture revert
  Resources/Textures/Tiles/glass.png
  Resources/Textures/Tiles/rglass.png
Labels: No C#

#2252 Fix digi sprites
  Resources/Textures/Clothing/Shoes/Boots/highheelboots.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/highheelboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Misc/snakeskin.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Misc/snakeskin.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Specific/clown_banana.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Specific/clown_banana.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Specific/skates.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Specific/skates.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/bee.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Under/Socks/bee.rsi/meta.json
  Resources/Textures/Clothing/Under/Socks/coder.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Under/Socks/coder.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_agent.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/centcom_agent.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown_banana.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown_banana.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/curator.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/curator.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/familiar_garbs.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/familiar_garbs.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/loungewear.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/loungewear.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmturtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/web.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/web.rsi/meta.json
Labels: No C#, Changes: Sprites

#2247 Resprite cobold ears
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_floppy_kobold_ears.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_kobold_ears.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2254 Change toysword inhand sprite
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#, Status: Needs Review

#2215 Move rules to xml
  Resources/ConfigPresets/Corvax/common.toml
  Resources/Prototypes/Corvax/Guidebook/rules.yml
  Resources/Prototypes/Corvax/Guidebook/species.yml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/MrpRuleset.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule0.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule1.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule10.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule2.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.1.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.2.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.3.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.4.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.5.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.6.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.7.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.8.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.9.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule3.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule4.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule6.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule7.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule8.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule9.xml
  Resources/ServerInfo/RulesCorvax.txt
Labels: No C#, Status: Needs Review

#2257 First Pearl update
  Resources/Maps/corvax_pearl.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
Labels: No C#, Changes: Map

#2260 Pilot loadouts
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
Labels: No C#, Status: Needs Review

#2258 Fix nuke sprite
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_deployed.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_deployed_unlit.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_exploding.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_gay.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_timing.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbombc.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2248 [Fix] Lizard's customization palette
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/body_backspikes.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/body_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/body_underbelly.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_axolotl.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_big.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_divinity.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_hood_primary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_hood_secondary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_neckfull.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/head_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_angler.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_argali.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_bighorn.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_curled.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_double.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_myrsore.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_ram.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_short.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_simple.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/l_arm_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/l_leg_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/r_arm_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/r_leg_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger_front.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger_wagging.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_large.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_large_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_large_front.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_ltiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_ltiger_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_ltiger_front.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_ltiger_wagging.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_behind_primary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_behind_secondary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_primary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_secondary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_wagging_primary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_wagging_secondary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_spikes_wagging.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2266 Fix corvax roles equipment
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
Labels: No C#, Status: Needs Review

#2262 Щиттл апдейт мауса.
  Resources/Maps/Shuttles/cargo_maus.yml
  Resources/Maps/Shuttles/emergency_maus.yml
  Resources/Maps/corvax_maus.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
Labels: No C#, Changes: Map

#2271 Outpost Arrivals
  Resources/Maps/corvax_outpost.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2269 Починка спрайта ядерной боеголовки
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_gay.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2255 Disable players map vote
  Resources/ConfigPresets/Corvax/mrp.toml
Labels: No C#, Status: Needs Review

#2204 Little pilot qol + fix corvax role descs
  Resources/Locale/ru-RU/corvax/job/job-description.ftl
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2278 Replace TTS provider
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Server/Corvax/TTS/TTSManager.cs
  Content.Server/Corvax/TTS/TTSSystem.SSML.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Credits/TTS.txt
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: Status: Needs Review, Changes: UI, Changes: Localization

#2267 Перевод Upstream #2256
  Resources/Locale/ru-RU/administration/commands/panicbunker.ftl
  Resources/Locale/ru-RU/administration/ui/admin-menu-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/object-tab.ftl
  Resources/Locale/ru-RU/advertisements/other/medibot.ftl
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/cargo/cargo-bounty-console.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/construction/steps/arbitrary-insert-construction-graph-step.ftl
  Resources/Locale/ru-RU/entity-categories.ftl
  Resources/Locale/ru-RU/generic.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/guidebook/guidebook.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
  Resources/Locale/ru-RU/info/rules.ftl
  Resources/Locale/ru-RU/mapping/map-text-component.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/markers/spawners/random/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/markers/spawners/random/contraband.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/tiles/water.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/flatpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/banners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/station-events/events/meteor-swarm.ftl
  Resources/Locale/ru-RU/store/revenant-catalog.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/xenoarchaeology/node-scanner.ftl
Labels: No C#, Changes: Localization

#2282 Retexture grass & dirt tiles
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Corvax/Tiles/attributions.yml
  Resources/Textures/Corvax/Tiles/mowed_grass.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm.rsi/icon.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm_tabletop.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm_tabletop.rsi/tabletop.png
  Resources/Textures/Objects/Tiles/tile.rsi/astrograss.png
  Resources/Textures/Objects/Tiles/tile.rsi/grass.png
  Resources/Textures/Objects/Tiles/tile.rsi/grassjungle.png
  Resources/Textures/Tiles/Planet/Grass/attributions.yml
  Resources/Textures/Tiles/Planet/Grass/double_edge.png
  Resources/Textures/Tiles/Planet/Grass/grass.png
  Resources/Textures/Tiles/Planet/Grass/single_edge.png
  Resources/Textures/Tiles/Planet/Grass/triple_edge.png
  Resources/Textures/Tiles/Planet/dirt.rsi/dirt.png
  Resources/Textures/Tiles/Planet/dirt.rsi/meta.json
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/grass.png
  Resources/Textures/Tiles/grassdark.png
  Resources/Textures/Tiles/grassjungle.png
  Resources/Textures/Tiles/grasslight.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2284 HotFix MAUS
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2285 Fix corvax backpacks
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/backpacks/startergear/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2289 Revert "Replace TTS provider"
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Server/Corvax/TTS/TTSManager.cs
  Content.Server/Corvax/TTS/TTSSystem.SSML.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Credits/TTS.txt
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
  Resources/Prototypes/Corvax/tts-voices.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: Status: Needs Review, Changes: UI, Changes: Localization

#2265 NewPlayer guidebooks translate
  Resources/ServerInfo/Guidebook/NewPlayer/CharacterCreation.xml
  Resources/ServerInfo/Guidebook/NewPlayer/Controls/Controls.xml
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
  Resources/ServerInfo/Guidebook/NewPlayer/YourFirstCharacter.xml
Labels: No C#, Status: Needs Review

#2291 Reworks - pearl brig
  Resources/Maps/corvax_pearl.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2292 Хотфикс мауса второй раз
  Resources/Maps/Shuttles/cargo_maus.yml
Labels: No C#, Status: Needs Review

#2294 "как достать моту" или же снова хотфикс мауса.
  Resources/Maps/Shuttles/emergency_maus.yml
Labels: No C#, Status: Needs Review

#2296 [MAPS] Ishimura Update
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2298 Substation origin
  Resources/Textures/Structures/Power/substation.rsi/charging.png
  Resources/Textures/Structures/Power/substation.rsi/dead.png
  Resources/Textures/Structures/Power/substation.rsi/full.png
  Resources/Textures/Structures/Power/substation.rsi/meta.json
  Resources/Textures/Structures/Power/substation.rsi/screen.png
  Resources/Textures/Structures/Power/substation.rsi/screen_wall.png
  Resources/Textures/Structures/Power/substation.rsi/substation.png
  Resources/Textures/Structures/Power/substation.rsi/substation_static.png
  Resources/Textures/Structures/Power/substation.rsi/substation_wall.png
  Resources/Textures/Structures/Power/substation.rsi/substation_wall_static.png
Labels: No C#, Changes: Sprites

#2300 [Fix] Poster
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster9_legit.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2287 Add CE backpack loadout
  Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl
  Resources/Prototypes/Corvax/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2288 Add new command suits to loadouts
  Resources/Prototypes/Corvax/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#, Status: Needs Review

#2264 Frontal lisp tweaks
  Content.Server/Speech/EntitySystems/FrontalLispSystem.cs
Labels: Status: Needs Review

#2301 Add support for min and max player for station goal
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Content.Server/Corvax/StationGoal/StationGoalPrototype.cs
Labels: Status: Needs Review

#2303 Add gray tide lobby screen
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/gray-tide.png
  Resources/Textures/Corvax/LobbyScreens/gray-tide.png.yml
Labels: No C#, Status: Needs Review

#2305 [Fix] Wooden counter
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_0.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_2.png
  Resources/Textures/Structures/Furniture/Tables/counterwood.rsi/state_5.png
  Resources/Textures/Structures/Furniture/furniture.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2307 [Fix] Substation's point light
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: No C#, Status: Needs Review

#2249 Fix labcoat sprites
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_robo.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_senior_researcher.rsi/open-equipped-OUTERCLOTHING.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2313 Fix Cyborgs.xml typo
  Resources/ServerInfo/Guidebook/Science/Cyborgs.xml
Labels: No C#, Status: Needs Review

#2319 Fix corvax clothing recipes
  Resources/Prototypes/Corvax/Recipes/Lathes/clothing.yml
Labels: No C#, Status: Needs Review

#2318 [MAPS] Paper Fix
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2321 Обновление перевода
  Resources/Locale/ru-RU/shuttles/console.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2322 [Sprite] Resprite Musician Jumpskirt
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/musician.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/musician.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/musician.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/musician.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/musician.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2325 Редизайн мауса
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2326 Гельта убрана с пулла карт
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#

#2328 [MAPS] Ishimura Update
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2327 Перевод Upstream #2317
  Resources/Locale/ru-RU/administration/antag.ftl
  Resources/Locale/ru-RU/administration/bwoink.ftl
  Resources/Locale/ru-RU/advertisements/other/medibot.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/dragon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/snacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/fire_extinguisher.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemical-containers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/janitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/toy.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/clusterbang.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/thief/backpack.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2310 New wooden tiles + Resprite old (fixed)
  Resources/Locale/ru-RU/corvax/tiles/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/tiles/tile.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Corvax/Stack/floor_tile_stack.yml
  Resources/Prototypes/Corvax/Tiles/floors.yml
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-black-inhand-left.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-black-inhand-right.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-dark-inhand-left.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-dark-inhand-right.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-light-inhand-left.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-light-inhand-right.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-red-inhand-left.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-red-inhand-right.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_red.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_red.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_red.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_red.png
  Resources/Textures/Corvax/Tiles/attributions.yml
  Resources/Textures/Corvax/Tiles/wood_black.png
  Resources/Textures/Corvax/Tiles/wood_chess.png
  Resources/Textures/Corvax/Tiles/wood_chess_black.png
  Resources/Textures/Corvax/Tiles/wood_chess_dark.png
  Resources/Textures/Corvax/Tiles/wood_chess_light.png
  Resources/Textures/Corvax/Tiles/wood_chess_red.png
  Resources/Textures/Corvax/Tiles/wood_dark.png
  Resources/Textures/Corvax/Tiles/wood_large_black.png
  Resources/Textures/Corvax/Tiles/wood_large_dark.png
  Resources/Textures/Corvax/Tiles/wood_large_light.png
  Resources/Textures/Corvax/Tiles/wood_large_red.png
  Resources/Textures/Corvax/Tiles/wood_light.png
  Resources/Textures/Corvax/Tiles/wood_parquet.png
  Resources/Textures/Corvax/Tiles/wood_parquet_black.png
  Resources/Textures/Corvax/Tiles/wood_parquet_dark.png
  Resources/Textures/Corvax/Tiles/wood_parquet_light.png
  Resources/Textures/Corvax/Tiles/wood_parquet_red.png
  Resources/Textures/Corvax/Tiles/wood_red.png
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/wood.png
  Resources/Textures/Tiles/wood_broken.png
  Resources/Textures/Tiles/wood_large.png
  Resources/Textures/Tiles/wood_tile.png
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#2309 изменение промежутка между спавном метеоров
  Resources/ConfigPresets/Corvax/common.toml
Labels: No C#, Status: Needs Review

#2331 [Resprite] Urist's icon in uplink
  Resources/Textures/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/old-radio-urist.png
Labels: No C#, Changes: Sprites

#2315 Corvax monkeys clothing fix
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/centcom_officer.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/centcom_officer.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/centcom_official.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/centcom_official.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/psychologist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/psychologist.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/rainbow.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/rainbow.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/rd_classical.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/schoolskirt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/schoolskirt.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/centcom_admiral.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/centcom_admiral.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/centcom_officer_black.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/centcom_officer_black.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/disco.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/disco.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/hos_black.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/kim.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/kim.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2334 Real fix gay nuke
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_gay.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2336 Fix rotting gender locale
  Resources/Locale/ru-RU/disease/miasma.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2340 [Add] Mantie for ERT leader in starting equipment
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: No C#, Status: Needs Review

#2342 Corvax maps fix rotation & offset
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/frame.yml
  Resources/Prototypes/Corvax/Maps/gelta.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2343 Adds fire extinguisher sprite rotation
  Resources/Prototypes/Entities/Structures/Wallmounts/extinguisher_cabinet.yml
  Resources/Textures/Structures/Wallmounts/extinguisher_cabinet.rsi/closed.png
  Resources/Textures/Structures/Wallmounts/extinguisher_cabinet.rsi/extinguisher.png
  Resources/Textures/Structures/Wallmounts/extinguisher_cabinet.rsi/frame.png
  Resources/Textures/Structures/Wallmounts/extinguisher_cabinet.rsi/open.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2338 Цели станции: Часть 2
  Content.Server/Corvax/StationGoal/StationGoalCommand.cs
  Content.Server/Corvax/StationGoal/StationGoalComponent.cs
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Content.Server/Corvax/StationGoal/StationGoalPrototype.cs
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Entities/Stations/base.yml
  Resources/Prototypes/Corvax/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/frame.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
  Resources/Prototypes/Corvax/Maps/terra.yml
  Resources/Prototypes/Corvax/Objectives/goals.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
Labels: Status: Needs Review, Changes: Map, Changes: Localization

#2346 [Maps] Lil frame update
  Resources/Maps/corvax_frame.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2352 [Maps] Maus fix
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2353 Fix snout splotch colors
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_splotch_primary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_splotch_secondary.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2354 Перевод Upstream #2347
  Resources/Locale/ru-RU/administration/admin-alerts.ftl
  Resources/Locale/ru-RU/administration/ui/actions.ftl
  Resources/Locale/ru-RU/administration/ui/player-list-control.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/teleport.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/adminbus-tab/blueprints.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/atmos-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/object-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/round-tab.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/forcemap-command.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks-cartons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bagel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/shields/shields.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/thief/backpack.ftl
  Resources/Locale/ru-RU/wires/log-wire.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2355 Update books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/books.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2356 [Maps] Silly update
  Resources/Maps/corvax_silly.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2357 [MAPS] Small Update Ishimura
  Resources/Maps/corvax_ishimura.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2359 Pearl update
  Resources/Maps/corvax_pearl.yml
Labels: No C#, Status: Needs Review, Changes: Map
