Repository space-syndicate/space-station-14, pull requests merged in 2024-07, with the labels that each got.

#2363 Перевод Upstream #2360
  Resources/Locale/ru-RU/administration/ui/tabs/object-tab.ftl
  Resources/Locale/ru-RU/barsign/barsign-component.ftl
  Resources/Locale/ru-RU/construction/construction-categories.ftl
  Resources/Locale/ru-RU/speech/accent-wearer-name-clothing.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2362 Update crystals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/crystals.ftl
Labels: No C#, Changes: Localization

#1131 [Resprite] Melee weapon part 2
  Resources/Textures/Objects/Weapons/Melee/plasma_shiv.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/plasma_shiv.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/plasma_shiv.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/plasma_shiv.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/plasma_shiv.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/spear.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_shiv.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_shiv.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_shiv.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_shiv.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_shiv.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/spear.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shiv.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/shiv.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/shiv.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shiv.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shiv.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/spear.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/uranium_shiv.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/uranium_shiv.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/uranium_shiv.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/uranium_shiv.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/uranium_shiv.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/spear.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/wielded-inhand-right.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2372 [Maps] Terra update
  Resources/Maps/corvax_terra.yml
Labels: No C#, Changes: Map

#2373 Return of the old siren sound (Gamma)
  Resources/Audio/Corvax/Misc/attributions.yml
  Resources/Audio/Corvax/Misc/siren.ogg
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: No C#, Status: Needs Review

#2377 fix siren.ogg source
  Resources/Audio/Corvax/Misc/attributions.yml
Labels: No C#, Status: Needs Review

#2379 Tweak locale
  Resources/Locale/ru-RU/administration/ui/admin-menu-window.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2378 Update infolinks
  Resources/ConfigPresets/Corvax/common.toml
Labels: No C#, Status: Needs Review

#2375 [Maps] Paper Small Atmos Fix
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2386 [Maps] Maus update
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2389 [Maps] Emergency Maus fix
  Resources/Maps/Shuttles/emergency_maus.yml
Labels: No C#, Status: Needs Review

#2390 [Maps] Maus Little Update
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2394 Перевод меню «Бункер паники» и «Детская тюрьма»
  Resources/Locale/ru-RU/administration/ui/tabs/babyjail-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/panicbunker-tab.ftl
Labels: No C#, Changes: Localization

#2397 [Maps] Maus minor corrections
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2393 Респрайт некоторых шкафов для локализации
  Resources/Textures/Structures/Storage/closet.rsi/cap_door.png
  Resources/Textures/Structures/Storage/closet.rsi/ce_door.png
  Resources/Textures/Structures/Storage/closet.rsi/eng_secure_door.png
  Resources/Textures/Structures/Storage/closet.rsi/hop_door.png
  Resources/Textures/Structures/Storage/closet.rsi/hos_door.png
  Resources/Textures/Structures/Storage/closet.rsi/hydro_door.png
  Resources/Textures/Structures/Storage/closet.rsi/rd_door.png
  Resources/Textures/Structures/Storage/closet.rsi/science_door.png
  Resources/Textures/Structures/Storage/closet.rsi/sec_door.png
  Resources/Textures/Structures/Storage/closet.rsi/warden_door.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2402 Перевод Upstream #2401
  Resources/Locale/ru-RU/actions/ui/actionmenu.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/chemistry/components/mixing-component.ftl
  Resources/Locale/ru-RU/commands/colornetwork-command.ftl
  Resources/Locale/ru-RU/commands/job-whitelist-command.ftl
  Resources/Locale/ru-RU/commands/stat-values-command.ftl
  Resources/Locale/ru-RU/commands/zoom-command.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/fax/fax-admin.ftl
  Resources/Locale/ru-RU/mass-media/news-ui.ftl
  Resources/Locale/ru-RU/medical/components/healing-component.ftl
  Resources/Locale/ru-RU/paper/paper-component.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/ui/character-setup-gui.ftl
  Resources/Locale/ru-RU/radio/components/intercom.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/vests.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/color_dress.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/shuttle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/apc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/smes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/ServerInfo/Guidebook/Mobs/Vox.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#2403 "Translate" vox names :trollface:
  Resources/Prototypes/Datasets/Names/vox.yml
Labels: No C#, Status: Needs Review

#2405 Fix corvax role loadouts
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
Labels: No C#, Status: Needs Review

#2406 Hyperlink space law in migration
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#2407 [Maps] Maus update
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2404 Немножко лора на сервера Корвакс, часть 1.
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Corvax/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/books.yml
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_BSS.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_DAM.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_MBS1.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_MBS2.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_clones.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_conarex.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_cult_mirt.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_dione.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_expensive_crystal.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_faks.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_famalis.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_gefest.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_gior.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_grav.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_halifat.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_icon.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_implant.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_nakamura.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_nooc.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_petr.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_polit_USSP.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_redspace.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_saibasan.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_scaf.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_ships.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_snk.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_umpor.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_unath_1.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_unath_2.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_vitz.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_zp.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2413 Фикс спрайтов книг с лором
  Resources/Prototypes/Corvax/Entities/Objects/Misc/books.yml
Labels: No C#

#2415 Перевод Upstream #2414
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/devices/clock.ftl
  Resources/Locale/ru-RU/materials/materials.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/ninja.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/base_clothing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/ghost_roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/wristwatch.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/ore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/base_structurewindoors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Misc/books.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2385 Add new Corvax's pins
  Resources/Prototypes/Corvax/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Corvax/Loadouts/Miscellaneous/trinkents.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/ath-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/ath.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/comm-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/cor-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/cor.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/donk-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/earth-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/echo-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/echo.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/ely-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/ely.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/logistika-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/main-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/main.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/med-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nakamura-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nano-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/neb-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/neb.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nova-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/nova.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/sind-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/sol-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/sol.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/vit-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/wl-equipped-NECK.png
  Resources/Textures/Corvax/Clothing/Neck/Misc/pins.rsi/wl.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2421 fix: png not defined in metadata
  Resources/Textures/Corvax/Objects/Misc/books.rsi/meta.json
Labels: No C#

#2416 Перемещение текста книг с лором в файлы локализации
  Resources/Locale/ru-RU/corvax/paper/books-lore.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Misc/books.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2020 Удаление неполных имен из генерации
  Resources/Prototypes/Datasets/Names/first.yml
  Resources/Prototypes/Datasets/Names/first_female.yml
  Resources/Prototypes/Datasets/Names/first_male.yml
Labels: No C#, Status: Needs Review

#2423 [Maps] New terminal
  Resources/ConfigPresets/Corvax/mrp.toml
  Resources/Maps/Misc/corvax_terminal.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2427 [Maps] Avrite update
  Resources/Maps/Shuttles/emergency_corvaxavrit.yml
  Resources/Maps/Shuttles/emergency_corvaxavrite.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2429 Revert "[Maps] Train remove"
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2430 Перевод Upstream #2426
  Resources/Locale/ru-RU/administration/commands/aghost.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/babyjail-tab.ftl
  Resources/Locale/ru-RU/corvax/paper/books-lore.ftl
  Resources/Locale/ru-RU/health-examinable/health-examinable-carbon.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/particle-accelerator/components/ui/particle-accelerator-control-menu.ftl
  Resources/Locale/ru-RU/portal/swap-teleporter.ftl
  Resources/Locale/ru-RU/prayers/prayers.ftl
  Resources/Locale/ru-RU/replays/replays.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/crit.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/neck/pins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/arabianlamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/piping/atmospherics/special.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: No C#, Changes: Localization

#2431 Fix health examinable & bloodstream locale
  Resources/Locale/ru-RU/bloodstream/bloodstream.ftl
  Resources/Locale/ru-RU/health-examinable/health-examinable-carbon.ftl
  Resources/Locale/ru-RU/health-examinable/health-examinable-silicon.ftl
  Resources/Locale/ru-RU/robust-toolbox/_engine_lib.ftl
Labels: No C#, Changes: Localization

#2432 Change lobby art
  Resources/Textures/Corvax/LobbyScreens/clownspider.png
Labels: No C#, Status: Needs Review

#2411 New lobby screen (silly island)
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/silly-island.png
  Resources/Textures/Corvax/LobbyScreens/silly-island.png.yml
Labels: No C#, Status: Needs Review

#2438 [Maps] Frame update
  Resources/Maps/corvax_frame.yml
  Resources/Prototypes/Corvax/Maps/frame.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2437 [Art] Fix pavement vertical sprite
  Resources/Textures/Decals/Overlays/greyscale.rsi/pavement_vertical.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/pavement_vertical_checker_a.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/pavement_vertical_checker_b.png
  Resources/Textures/Tiles/dark_pavement_vertical.png
  Resources/Textures/Tiles/steel_pavement_vertical.png
  Resources/Textures/Tiles/white_pavement_vertical.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2440 [Maps] Mappool change
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2441 [Maps] Increase Astra minPlayers
  Resources/Prototypes/Corvax/Maps/astra.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2442 Add Solaris's pin in loadout
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#, Status: Needs Review
