Repository space-syndicate/space-station-14, pull requests merged in 2024-02, with the labels that each got.

#1826 Resprite brick&riveted walls
  Resources/Textures/Structures/Walls/brick.rsi/brick0.png
  Resources/Textures/Structures/Walls/brick.rsi/brick1.png
  Resources/Textures/Structures/Walls/brick.rsi/brick2.png
  Resources/Textures/Structures/Walls/brick.rsi/brick3.png
  Resources/Textures/Structures/Walls/brick.rsi/brick4.png
  Resources/Textures/Structures/Walls/brick.rsi/brick5.png
  Resources/Textures/Structures/Walls/brick.rsi/brick6.png
  Resources/Textures/Structures/Walls/brick.rsi/brick7.png
  Resources/Textures/Structures/Walls/brick.rsi/full.png
  Resources/Textures/Structures/Walls/brick.rsi/meta.json
  Resources/Textures/Structures/Walls/riveted.rsi/full.png
  Resources/Textures/Structures/Walls/riveted.rsi/meta.json
  Resources/Textures/Structures/Walls/riveted.rsi/riveted0.png
  Resources/Textures/Structures/Walls/riveted.rsi/riveted1.png
  Resources/Textures/Structures/Walls/riveted.rsi/riveted2.png
  Resources/Textures/Structures/Walls/riveted.rsi/riveted3.png
  Resources/Textures/Structures/Walls/riveted.rsi/riveted4.png
  Resources/Textures/Structures/Walls/riveted.rsi/riveted5.png
  Resources/Textures/Structures/Walls/riveted.rsi/riveted6.png
  Resources/Textures/Structures/Walls/riveted.rsi/riveted7.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1719 Resprite science magboots
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/icon-on.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/on-equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/on-inhand-right.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1833 Правки перевода
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1832 Принтер документов. Дубль 2.
  Resources/Locale/en-US/corvax/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Corvax/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/flatpacks.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Lathes/misc.yml
  Resources/Prototypes/Corvax/Reagents/Materials/materials.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/categories.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
  Resources/Prototypes/Corvax/Stack/other_stacks.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/building.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/idle.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/panel.png
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1842 mini update Maus
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1843 Перевод Upstream #1839
  Resources/Locale/ru-RU/actions/actions/wagging.ftl
  Resources/Locale/ru-RU/corvax/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/paper/document.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/materials/sheets/other.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/flatpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/printer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/donkpocket.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/assembly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/base_assembly.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1844 Перевод "Buzz" в "Жужжит" для Ниан
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review

#1851 Revert "Shotgun slug shell rename"
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/shotgun.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1838 Правки перевода
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1848 Удаление ДАМа на Maus
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1854 Update Maus
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1859 Fix printer documents
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/paper/document.ftl
  Resources/Prototypes/Corvax/Catalog/Fills/Paper/document.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1857 Маленький Фикс Мауса
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1852 [Map] Ishimura
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/corvax_ishimura.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
Labels: Status: Needs Review, Changes: Map

#1855 Printer-Resprite
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/building.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/idle.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/panel.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1862 Небольшая обнова Атмоса на Maus
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1864 Outpost Update
  Resources/Maps/corvax_outpost.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1865 fix sindi shuttle airlock error state
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/panel_closed.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1872 Маленькое обновление Бррига на Maus
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1863 Corvax Retexture pack
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over2.png
  Resources/Textures/Structures/Walls/solid.rsi/rgeneric.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_construct-0.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_construct-1.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_construct-2.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_construct-3.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_construct-4.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_construct-5.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_over0.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_over1.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_over2.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_over3.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_over4.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_over5.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_over6.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/reinf_over7.png
  Resources/Textures/Structures/Walls/solid_rust.rsi/rgeneric.png
  Resources/Textures/Tiles/blue.png
  Resources/Textures/Tiles/blue_circuit.png
  Resources/Textures/Tiles/green_circuit.png
  Resources/Textures/Tiles/lime.png
  Resources/Textures/Tiles/plating_burnt.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1879 Перевод Upstream #1875 #1877
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/botany/components/plant-holder-component.ftl
  Resources/Locale/ru-RU/chat/sanitizer-replacements.ftl
  Resources/Locale/ru-RU/chemistry/components/injector-component.ftl
  Resources/Locale/ru-RU/criminal-records/criminal-records.ftl
  Resources/Locale/ru-RU/fax/fax.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/kitchen/components/microwave-component.ftl
  Resources/Locale/ru-RU/main-menu/main-menu.ftl
  Resources/Locale/ru-RU/markings/scars.ftl
  Resources/Locale/ru-RU/markings/slimeperson.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/nutrition/components/drink-component.ftl
  Resources/Locale/ru-RU/nutrition/components/openable-component.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/portal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/shadows.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/diona.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/signaller.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/kudzu.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/security/evidence-marker.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting/base_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/arcades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/cores.ftl
  Resources/Locale/ru-RU/weapons/melee/melee.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/Datasets/Names/military.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1736 Corvax drinks added
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/corvax/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Corvax/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Corvax/Recipes/Reactions/drinks.yml
  Resources/Textures/Corvax/Objects/Consumable/Drinks/alexander.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/alexander.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/badTouch.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/badTouch.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/boyarsky.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/boyarsky.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/bramble.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/bramble.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/campari.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/campari.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/daiquiri.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/daiquiri.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/darkAndStormy.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/darkAndStormy.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/espressoMartini.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/espressoMartini.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/maiTai.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/maiTai.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/moscowMule.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/moscowMule.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/negroni.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/negroni.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/oldFashioned.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/oldFashioned.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/paloma.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/paloma.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Drinks/yorsh.rsi/icon.png
  Resources/Textures/Corvax/Objects/Consumable/Drinks/yorsh.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#1882 Респрайт электрического грилля
  Resources/Textures/Structures/Machines/electric_grill.rsi/high.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/icon.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/low.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/medium.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1883 Microwave offset
  Resources/Textures/Structures/Machines/microwave.rsi/mw-o.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw0.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw_running_unlit.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw_unlit.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwb.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloody.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloody0.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloody1.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloodyo.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwo.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1884 Небольшой апдейт Maus
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1887 Перевод Upstream #1885
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/administration/bwoink.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/corvax/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/colored.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/acidifier.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/donut.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/flatpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/bench.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/stairs.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/vending-machines/vending-machine.ftl
  Resources/Locale/ru-RU/weapons/grenades/voice-trigger.ftl
  Resources/Locale/ru-RU/weapons/melee/melee.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1880 новая станция - Paper Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/emergency_corvaxpaper.yml
  Resources/Maps/corvax_paper.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
Labels: Status: Needs Review, Changes: Map

#1888 Locale fix
  Resources/Locale/ru-RU/accent/accents.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1889 Resprite stairs
  Resources/Textures/Structures/stairs.rsi/meta.json
  Resources/Textures/Structures/stairs.rsi/stairs_dark.png
  Resources/Textures/Structures/stairs.rsi/stairs_stage_dark.png
  Resources/Textures/Structures/stairs.rsi/stairs_stage_steel.png
  Resources/Textures/Structures/stairs.rsi/stairs_stage_white.png
  Resources/Textures/Structures/stairs.rsi/stairs_steel.png
  Resources/Textures/Structures/stairs.rsi/stairs_white.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1890 Resprite decal
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_n.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1876 Change science airlock color
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/opening.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1756 A lot of engi guidebooks translate
  Resources/ServerInfo/Guidebook/Engineering/AccessConfigurator.xml
  Resources/ServerInfo/Guidebook/Engineering/AirlockSecurity.xml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Engineering/PortableGenerator.xml
  Resources/ServerInfo/Guidebook/Engineering/TEG.xml
Labels: No C#, Status: Needs Review

#1823 Цель станции называется теперь просто "бумага"
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1828 Resprite mime hardsuit
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/off-equipped-HELMET-reptilian.png
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/on-equipped-HELMET-reptilian.png
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/mime.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/mime.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/mime.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/mime.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/mime.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/mime.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1896 APC Tweaks
  Resources/Textures/Structures/Power/apc.rsi/base.png
  Resources/Textures/Structures/Power/apc.rsi/broken.png
  Resources/Textures/Structures/Power/apc.rsi/frame.png
  Resources/Textures/Structures/Power/apc.rsi/lock0-locked.png
  Resources/Textures/Structures/Power/apc.rsi/lock0-unlocked.png
  Resources/Textures/Structures/Power/apc.rsi/lock1-locked.png
  Resources/Textures/Structures/Power/apc.rsi/lock1-unlocked.png
  Resources/Textures/Structures/Power/apc.rsi/panel.png
  Resources/Textures/Structures/Power/apc.rsi/static.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1895 Jug label name tweak
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
Labels: No C#, Status: Needs Review

#1894 Перевод #1893
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ratvar/ratvar.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/reagents/meta/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/ratvar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/handheld_crew_monitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/emag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/objectives/traitor.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Drinks/drinks.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1906 Fix locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1905 Update secret_weights.yml with survival
  Resources/Prototypes/Corvax/secret_weights.yml
Labels: No C#, Status: Needs Review

#1874 Fix some skirts sprite
  Resources/Textures/Clothing/Uniforms/Jumpskirt/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/scientist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/senior_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/warden.rsi/equipped-INNERCLOTHING.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1898 Resprite uniforms and winter coat mime
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatmime.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/mime.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mime.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites
