Repository space-syndicate/space-station-14, pull requests merged in 2024-08, with the labels that each got.

#2435 Wood tiles item re-translation
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/tiles.ftl
Labels: No C#, Changes: Localization

#2439 ДО-Перевод снежковой стены
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2450 [Maps] Small Paper Tweak
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2445 small locale fixes
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
Labels: No C#, Changes: Localization

#2451 Перевод Upstream #2446
  Resources/Locale/ru-RU/actions/actions/polymorph.ftl
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/administration/bwoink.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/character-appearance/components/magic-mirror-component.ftl
  Resources/Locale/ru-RU/character-info/components/character-info-component.ftl
  Resources/Locale/ru-RU/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/ru-RU/examine/examine-system.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/lathe/recipes.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/lock/locking-whitelist-component.ftl
  Resources/Locale/ru-RU/mass-media/news-ui.ftl
  Resources/Locale/ru-RU/paper/envelope.ftl
  Resources/Locale/ru-RU/particle-accelerator/components/ui/particle-accelerator-control-menu.ftl
  Resources/Locale/ru-RU/power/components/charger.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/procedural/expeditions.ftl
  Resources/Locale/ru-RU/procedural/salvage-faction.ftl
  Resources/Locale/ru-RU/reagents/meta/pyrotechnic.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/permaescape.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/pizza.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/jetpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/gates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/shelfs.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: No C#, Changes: Localization

#2452 [Maps] Terminal small bugfix
  Resources/Maps/Misc/corvax_terminal.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2458 Partially revert #2457
  Resources/ConfigPresets/Build/debug.toml
Labels: No C#, Status: Needs Review

#2453 Правильный перевод CutterMachine
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
Labels: No C#, Status: Awaiting Changes, Changes: Localization

#2391 Элегантная форма горничной в УборШкафу
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
Labels: No C#, Status: Needs Review

#2419 Update rules
  Resources/Prototypes/Corvax/Guidebook/rules.yml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/PunishmentTypes.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/Rule0.xml
Labels: No C#, Status: Needs Review

#2475 [Maps] Paper Re-design
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2474 [MAPS] Pearl fix
  Resources/Maps/corvax_pearl.yml
Labels: No C#, Changes: Map

#2479 [Maps] Paper Mega Super Big Update
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2485 Crowbar sprite fix
  Resources/Textures/Objects/Tools/crowbar.rsi/cover-icon.png
  Resources/Textures/Objects/Tools/crowbar.rsi/red-icon.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2486 Бетончик
  Resources/Locale/ru-RU/corvax/tiles/tiles.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Prototypes/Corvax/Tiles/floors.yml
Labels: No C#, Changes: Localization

#2465 [Art] Mining structures retexture
  Resources/Textures/Objects/Tiles/tile.rsi/mining.png
  Resources/Textures/Objects/Tiles/tile.rsi/miningdark.png
  Resources/Textures/Objects/Tiles/tile.rsi/mininglight.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/mining.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/mining.rsi/panel_opening.png
  Resources/Textures/Structures/Walls/mining.rsi/full.png
  Resources/Textures/Structures/Walls/mining.rsi/meta.json
  Resources/Textures/Structures/Walls/mining.rsi/mining0.png
  Resources/Textures/Structures/Walls/mining.rsi/mining1.png
  Resources/Textures/Structures/Walls/mining.rsi/mining2.png
  Resources/Textures/Structures/Walls/mining.rsi/mining3.png
  Resources/Textures/Structures/Walls/mining.rsi/mining4.png
  Resources/Textures/Structures/Walls/mining.rsi/mining5.png
  Resources/Textures/Structures/Walls/mining.rsi/mining6.png
  Resources/Textures/Structures/Walls/mining.rsi/mining7.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB0.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB1.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB2.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB3.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB4.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB5.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB6.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB7.png
  Resources/Textures/Structures/Walls/mining_diagonal.rsi/meta.json
  Resources/Textures/Structures/Walls/mining_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/mining_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/mining.rsi/full.png
  Resources/Textures/Structures/Windows/mining.rsi/meta.json
  Resources/Textures/Structures/Windows/mining.rsi/mwindow0.png
  Resources/Textures/Structures/Windows/mining.rsi/mwindow1.png
  Resources/Textures/Structures/Windows/mining.rsi/mwindow2.png
  Resources/Textures/Structures/Windows/mining.rsi/mwindow3.png
  Resources/Textures/Structures/Windows/mining.rsi/mwindow4.png
  Resources/Textures/Structures/Windows/mining.rsi/mwindow5.png
  Resources/Textures/Structures/Windows/mining.rsi/mwindow6.png
  Resources/Textures/Structures/Windows/mining.rsi/mwindow7.png
  Resources/Textures/Structures/Windows/mining_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/mining_diagonal.rsi/state1.png
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/elevator_shaft.png
  Resources/Textures/Tiles/mining_floor.png
  Resources/Textures/Tiles/mining_floor_dark.png
  Resources/Textures/Tiles/mining_floor_light.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2487 [Art] Chemistry airlock resprite
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/welded.png
Labels: No C#, Changes: Sprites

#2491 [Maps] Avrite roles & min players
  Resources/Prototypes/Corvax/Maps/avrite.yml
Labels: No C#, Changes: Map

#2495 [Maps] Minor mining shuttle update
  Resources/Maps/Shuttles/corvax_mining.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2496 [Maps] Maus major update
  Resources/Maps/corvax_maus.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2493 Maybe fix mindshield icon
  Resources/Prototypes/StatusIcon/security.yml
Labels: No C#

#2494 Give IAA age requirement
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: No C#, Status: Needs Review

#2489 Fix locale
  Resources/Locale/ru-RU/administration/ui/admin-menu-window.ftl
Labels: No C#, Changes: Localization

#2490 Translate Upstream #2481
  Resources/Locale/ru-RU/accent/russian.ftl
  Resources/Locale/ru-RU/actions/actions/disarm-action.ftl
  Resources/Locale/ru-RU/administration/commands/set-outfit-command.ftl
  Resources/Locale/ru-RU/administration/ui/actions.ftl
  Resources/Locale/ru-RU/administration/ui/player-panel.ftl
  Resources/Locale/ru-RU/administration/ui/silicon-law-ui.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/object-tab.ftl
  Resources/Locale/ru-RU/advertisements/vending/atmosdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/chefdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/chemdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/donut.ftl
  Resources/Locale/ru-RU/advertisements/vending/hydrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/janidrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/lawdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/medidrobe.ftl
  Resources/Locale/ru-RU/atmos/gas-miner-component.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/clothing/components/cursed-mask.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/construction/conditions/min-health.ftl
  Resources/Locale/ru-RU/contraband/contraband-severity.ftl
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Locale/ru-RU/datasets/figurines.ftl
  Resources/Locale/ru-RU/execution/execution.ftl
  Resources/Locale/ru-RU/forensics/forensics.ftl
  Resources/Locale/ru-RU/geras/geras.ftl
  Resources/Locale/ru-RU/info/playerpanel.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
  Resources/Locale/ru-RU/kitchen/components/kitchen-spike-component.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/power/components/generator.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/heads.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/scrap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/crowbars.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/thief_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/mining.ftl
  Resources/Locale/ru-RU/storage/components/secret-stash-component.ftl
  Resources/Locale/ru-RU/thief/beacon.ftl
  Resources/Locale/ru-RU/tools/components/tool-openable-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2497 [Maps] Maus fix
  Resources/Maps/corvax_maus.yml
Labels: No C#, Changes: Map

#2500 [Maps] Maus fix
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2488 Concrete fix again
  Resources/Locale/ru-RU/corvax/tiles/tiles.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Prototypes/Corvax/Tiles/floors.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2505 crowbars sprites
  Resources/Textures/Objects/Tools/crowbar.rsi/cover-icon.png
  Resources/Textures/Objects/Tools/crowbar.rsi/green-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/orange-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/yellow-storage.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2502 Plastic plant
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/potted_plants.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2433 Change aghost speed
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#, Status: Needs Review

#2508 [Maps] Maus fix
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2507 Аварийные наборы у вульп
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: No C#

#2235 Цель на диск только с целью улететь
  Resources/Prototypes/Corvax/Objectives/objectiveGroups.yml
  Resources/Prototypes/Corvax/Objectives/traitorObjectives.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: No C#, Status: Needs Review

#2501 Translate Upstream #2498
  Resources/Locale/en-US/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/accent/german.ftl
  Resources/Locale/ru-RU/administration/ui/player-panel.ftl
  Resources/Locale/ru-RU/atmos/gas-analyzer-component.ftl
  Resources/Locale/ru-RU/botany/seeds.ftl
  Resources/Locale/ru-RU/clothing/components/self-unremovable-clothing-component.ftl
  Resources/Locale/ru-RU/datasets/figurines.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-allatonce.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-survival.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/plant-attributes.ftl
  Resources/Locale/ru-RU/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/ui/markings-picker.ftl
  Resources/Locale/ru-RU/reagents/meta/botany.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/salvage/spawners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/smokables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/shock_collar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/scrap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/dinkystar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/treasure.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/toilet.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: No C#, Changes: Localization

#2510 [Maps] Новая Станция ЦентКома
  Resources/Maps/Shuttles/ert_corvaxcentcomm.yml
  Resources/Maps/corvax_centcomm.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2514 [MAPS] Pearl Fix
  Resources/Maps/corvax_pearl.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2515 Add TTS rate limit
  Content.Server/Corvax/TTS/TTSSystem.RateLimit.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Resources/Locale/ru-RU/corvax/tts/tts-ui.ftl
Labels: Changes: Localization

#2516 [MAPS] Paper update
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2524 Localization of ServiceLoreBooks
  Resources/Prototypes/Corvax/Catalog/Cargo/cargo_service.yml
Labels: No C#

#2526 Fix stray pixel in barsign sprite
  Resources/Textures/Structures/Wallmounts/barsign.rsi/thewiggleroom.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2512 Translate upstream #2504 #2511
  Resources/Locale/ru-RU/abilities/goliath.ftl
  Resources/Locale/ru-RU/accessories/vox-facial-hair.ftl
  Resources/Locale/ru-RU/accessories/vox-hair.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/damage/stamina.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
  Resources/Locale/ru-RU/launcher/launcher-connecting.ftl
  Resources/Locale/ru-RU/markings/ears.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/ui/markings-picker.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/juice.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/sandbox/sandbox-manager.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/food_drinks/food_ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/food_drinks/food_meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_flasks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/donut.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/materials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/leaves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/crowbars.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/baguette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/croissant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/gates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2533 [maps] Terra Colony
  Resources/Maps/corvax_terra.yml
Labels: No C#, Changes: Map

#2536 [MAPS] Balancing Paper
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2528 Little barsign tweaks
  Resources/Locale/ru-RU/barsign/barsign-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/bar_sign.ftl
  Resources/Textures/Structures/Wallmounts/barsign.rsi/thecoderbus.png
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization
