Repository space-syndicate/space-station-14, pull requests merged in 2024-09, with the labels that each got.

#2542 Перевод Upstream #2534
  Resources/Locale/ru-RU/access/ui/door-electronics-window.ftl
  Resources/Locale/ru-RU/administration/ui/silicon-law-ui.ftl
  Resources/Locale/ru-RU/datasets/figurines.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/items/toggle.ftl
  Resources/Locale/ru-RU/job/department-desc.ftl
  Resources/Locale/ru-RU/job/department.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/paper/stamp-component.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/loadouts.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/juice.ftl
  Resources/Locale/ru-RU/research/components/blueprint.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/silicons/station-ai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/types.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/rings.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/observer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/pizza.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/blueprint.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/baguette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/croissant.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/atmospherics/vox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/xeno.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/meteor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/plastitanium.ftl
  Resources/Locale/ru-RU/weather/weather.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2545 Remove debuff (Lightweight Drunk) fou Vulp
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
Labels: No C#, Status: Needs Review

#2550 [Art] Monotiles resprite
  Resources/Textures/Decals/Overlays/greyscale.rsi/mono.png
  Resources/Textures/Tiles/dark_mono.png
  Resources/Textures/Tiles/steel_mono.png
  Resources/Textures/Tiles/white_mono.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2549 Перевод Upstream #2547
  Resources/Locale/ru-RU/components/station-anchor-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/power/components/power-charging-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/station_anchor.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2540 Disable contraband examine
  Resources/ConfigPresets/Corvax/mrp.toml
Labels: No C#, Status: Needs Review

#2551 [Maps] Mining shuttle return
  Resources/Maps/Shuttles/corvax_mining.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2541 Update intercom.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/intercom.ftl
Labels: No C#, Changes: Localization

#2552 [Maps] Silly fix
  Resources/Maps/Shuttles/mining_corvaxsilly.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
Labels: No C#, Changes: Map

#2554 [Maps] Maus update
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2520 [Maps] Новая лоупоп станция "Тушканчик"
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/corvax_tushkan.yml
  Resources/Prototypes/Corvax/Entities/Structures/Decoration/statues.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/tushkan.yml
  Resources/Textures/Corvax/Structures/Decoration/maps_statues.rsi/meta.json
  Resources/Textures/Corvax/Structures/Decoration/maps_statues.rsi/tushkan.png
Labels: Status: Needs Review, Changes: Sprites, Changes: Map

#2555 [Maps] Tushkan tweak
  Resources/Maps/corvax_tushkan.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2557 Перевод Upstream #2556
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/paper/paper-misc.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/species/species.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/paper/manuals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/space.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/soup.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/filing_cabinets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/railing.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: No C#, Changes: Localization

#2559 Upstream locale snoth desc fix
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2562 [Maps] Tushkan hotfix #1
  Resources/Maps/corvax_tushkan.yml
Labels: No C#, Changes: Map

#2561 [Maps] Maus Mini-Update
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2480 [Art] Directional fan resprite
  Resources/Textures/Structures/Piping/Atmospherics/directionalfan.rsi/icon.png
  Resources/Textures/Structures/Piping/Atmospherics/directionalfan.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2566 [Maps] удаление цели на теслу с астры
  Resources/Prototypes/Corvax/Maps/astra.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2567 Update walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2563 [Resprite] Chaplain
  Resources/Textures/Clothing/Head/Hoods/chaplain.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hoods/chaplain.rsi/icon.png
  Resources/Textures/Clothing/Head/Hoods/chaplain.rsi/meta.json
  Resources/Textures/Clothing/Head/Hoods/cult.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hoods/cult.rsi/icon.png
  Resources/Textures/Clothing/Head/Hoods/cult.rsi/meta.json
  Resources/Textures/Clothing/Head/Hoods/nun.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hoods/nun.rsi/icon.png
  Resources/Textures/Clothing/Head/Hoods/nun.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Misc/cultrobes.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Misc/cultrobes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Misc/cultrobes.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Misc/cultrobes.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Misc/nunrobe.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Misc/nunrobe.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Misc/nunrobe.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/chaplain.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/chaplain.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/chaplain.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/chaplain.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chaplain.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chaplain.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chaplain.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chaplain.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chaplain.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/chaplain.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/monastic_robe_dark.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/monastic_robe_dark.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/monastic_robe_dark.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/monastic_robe_dark.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/monastic_robe_light.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/monastic_robe_light.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/monastic_robe_light.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/monastic_robe_light.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2573 [Maps] Mappull fix
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2574 LRP rules for main
  Resources/ConfigPresets/Corvax/mrp.toml
  Resources/Prototypes/Corvax/Guidebook/rules.yml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule0.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule1.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule10.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule2.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule3.2.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule3.4.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule3.5.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule3.7.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule3.8.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule3.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule4.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule6.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule7.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule8.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LRPRule9.xml
  Resources/ServerInfo/Corvax/Guidebook/ServerRules/LrpRuleset.xml
Labels: No C#

#2570 New lobby art AI MIA
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/ai-mia.png
  Resources/Textures/Corvax/LobbyScreens/ai-mia.png.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
Labels: No C#, Status: Needs Review

#2564 ну хз бля, наверное должно починить спонсорские ушки
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Species/human.yml
Labels: No C#

#2578 [MAPS] Pearl Fix Arrivals
  Resources/Prototypes/Corvax/Maps/pearl.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2581 [Maps] Maus update
  Resources/Maps/corvax_maus.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2584 Fix #2574
  Resources/ConfigPresets/Corvax/main.toml
  Resources/ConfigPresets/Corvax/mrp.toml
Labels: No C#, Status: Needs Review

#2577 Alternative warden suit in LockerWardenFilledHardsuit
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: No C#, Status: Needs Review

#2575 Fix locale
  Resources/Locale/ru-RU/bed/cryostorage/cryogenic-storage.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/mind/components/mind-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2585 Turn off peaceful end on main
  Resources/ConfigPresets/Corvax/main.toml
Labels: No C#, Status: Needs Review

#2590 [Maps] Tushkan hotfix #2
  Resources/Prototypes/Corvax/Maps/tushkan.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2591 [Art] Human parts resprite
  Resources/Textures/Mobs/Species/Human/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/torso_m.png
Labels: No C#, Changes: Sprites

#2594 [MAPS] Paper AI
  Resources/Maps/corvax_paper.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2595 [Maps] Maus tweak
  Resources/Maps/corvax_maus.yml
Labels: No C#, Changes: Map

#2588 Перевод Upstream #2587
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/ru-RU/reagents/meta/chemicals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/salvage/spawners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/asteroid.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2586 Частичный перевод Upstream #2580, остальное в др ПРе
  Resources/Locale/ru-RU/administration/commands/add-uplink-command.ftl
  Resources/Locale/ru-RU/administration/commands/custom-vote-command.ftl
  Resources/Locale/ru-RU/atmos/atmos-alerts-console.ftl
  Resources/Locale/ru-RU/dragon/dragon.ftl
  Resources/Locale/ru-RU/forensics/fibers.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/job/department-desc.ftl
  Resources/Locale/ru-RU/job/department.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/lathe/components/lathe-component.ftl
  Resources/Locale/ru-RU/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/markings/moth.ftl
  Resources/Locale/ru-RU/mass-media/news-ui.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/station_ai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/paper/manuals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/mobs/player/station_ai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/base_clothinghands.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/colored.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/taco.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/power_electronics.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-vials.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/salvage/scanner.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/station_anchor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/cores.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/window.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/procedural/themes/vgroidinterior.ftl
  Resources/Locale/ru-RU/store/categories.ftl
  Resources/Locale/ru-RU/store/store.ftl
  Resources/Locale/ru-RU/ui/power-apc.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2605 Удаление лимита времени для доступа к стартовым ролям.
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#, Status: Needs Review

#2606 Перевод Upstream #2602
  Resources/Locale/ru-RU/accent/accents.ftl
  Resources/Locale/ru-RU/actions/ui/actionslot.ftl
  Resources/Locale/ru-RU/advertisements/vending/bruiseomat.ftl
  Resources/Locale/ru-RU/anomaly/inner_anomaly.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/forensics/fibers.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guardian/guardian.ftl
  Resources/Locale/ru-RU/markings/gauze.ftl
  Resources/Locale/ru-RU/mech/mech.ftl
  Resources/Locale/ru-RU/mind/commands/rename-command.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/replays/replays.ftl
  Resources/Locale/ru-RU/round-end/round-end-system.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hoods.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/immovable_rod.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/anomaly_injectors.ftl
  Resources/Locale/ru-RU/station-events/events/ion-storm.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/wires/components/wires-component.ftl
Labels: No C#, Changes: Localization

#2616 Remove holes in sprite
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/tail_fox_waggin.png
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/tail_wolf_waggin.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2615 [MAPS] Paper UltraSmallUpdate
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2596 Goals update
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2619 typo fix
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#2617 Добавление требуемого времени для игры на воре
  Resources/Prototypes/Roles/Antags/thief.yml
Labels: No C#, Status: Needs Review

#2609 Фикс цели на диск.
  Resources/Prototypes/Corvax/Objectives/traitorObjectives.yml
Labels: No C#, Status: Needs Review

#2624 Cormax map pool
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/train.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2625 Map pool hot
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2628 Resprite] enginnering's hardsuit helmet
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/on-equipped-HELMET.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2597 Респрайт юбки жизни
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2630 [Maps] Tushkan update #1
  Resources/Maps/corvax_tushkan.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2633 [Maps] Maus tweak
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2610 Warden Backpack
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/backpacks.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Textures/Corvax/Back/Backpacks/warden.rsi/equipped-BACKPACK.png
  Resources/Textures/Corvax/Back/Backpacks/warden.rsi/icon.png
  Resources/Textures/Corvax/Back/Backpacks/warden.rsi/inhand-left.png
  Resources/Textures/Corvax/Back/Backpacks/warden.rsi/inhand-right.png
  Resources/Textures/Corvax/Back/Backpacks/warden.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#2635 [Maps] Proto sorting
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/frame.yml
  Resources/Prototypes/Corvax/Maps/gelta.yml
  Resources/Prototypes/Corvax/Maps/glacier.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
  Resources/Prototypes/Corvax/Maps/terra.yml
  Resources/Prototypes/Corvax/Maps/tushkan.yml
Labels: No C#, Status: Needs Review, Changes: Map
