Repository space-syndicate/space-station-14, pull requests merged in 2024-01, with the labels that each got.

#1717 CentComm station update
  Resources/Maps/corvax_centcomm.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1716 Add diona to deadsquad blacklist
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#, Status: Needs Review

#1710 Правки перевода
  Resources/Locale/ru-RU/advertisements/vending/janidrobe.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/beds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/chairs.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1721 Добавление возможности есть пельмени вилкой
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/soup.yml
Labels: No C#, Status: Needs Review

#1714 Resprite janitor gloves
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/janitor.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1724 Update update-wiki.yml
  .github/workflows/update-wiki.yml
Labels: No C#, Status: Needs Review

#1723 Перевод Upstream #1712
  Resources/Locale/ru-RU/cargo/cargo-bounty-console.ftl
  Resources/Locale/ru-RU/chemistry/components/mixing-component.ftl
  Resources/Locale/ru-RU/construction/components/flatpack.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/core.ftl
  Resources/Locale/ru-RU/hand-labeler/hand-labeler.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/objectives/round-end.ftl
  Resources/Locale/ru-RU/procedural/expeditions.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/actions/types.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/dressers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/anti_anomaly_zone.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/rooms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/flora.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/folders.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/hellspawn.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/packs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/flatpack.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/parts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/antimatter_part.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/solar_parts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/handheld_crew_monitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/morgue.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/flatpacker.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/vending-machines/vending-machine.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1738 Fix locale
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1730 Implement corvax secret weight
  Resources/ConfigPresets/Corvax/common.toml
  Resources/Prototypes/Corvax/secret_weights.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#, Status: Needs Review

#1728 Outpost update
  Resources/Maps/corvax_outpost.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1707 Update play_time_trackers.yml
  Resources/Prototypes/Corvax/Roles/play_time_trackers.yml
Labels: No C#, Status: Needs Review

#1718 Shotgun slug shell rename
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/shotgun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/shotgun.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1739 resprite speech bubbles
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/moth0.png
  Resources/Textures/Effects/speech.rsi/moth1.png
  Resources/Textures/Effects/speech.rsi/moth2.png
  Resources/Textures/Effects/speech.rsi/moth3.png
  Resources/Textures/Effects/speech.rsi/slime0.png
  Resources/Textures/Effects/speech.rsi/slime1.png
  Resources/Textures/Effects/speech.rsi/slime2.png
  Resources/Textures/Effects/speech.rsi/slime3.png
  Resources/Textures/Effects/speech.rsi/spider0.png
  Resources/Textures/Effects/speech.rsi/spider1.png
  Resources/Textures/Effects/speech.rsi/spider2.png
  Resources/Textures/Effects/speech.rsi/spider3.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1754 Больше фраз для превью TTS
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
Labels: Status: Needs Review

#1753 Word-wrap a translation line to improve UI
  Resources/Locale/ru-RU/guidebook/guides.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1742 Правки перевода
  Resources/Locale/ru-RU/cable/cable-multitool-system.ftl
  Resources/Locale/ru-RU/ui/solar-control.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1759 [Maps] Lil CentComm fix
  Resources/Maps/corvax_centcomm.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1758 Update corvax_mining
  Resources/Maps/Shuttles/corvax_mining.yml
Labels: No C#, Status: Needs Review

#1755 TTS Sanitize update
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: Status: Needs Review

#1760 fix deathgasp emote
  Resources/Locale/ru-RU/emotes/emotes.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1749 Правки перевода human-hair.ftl
  Resources/Locale/ru-RU/corvax/accessories/human-hair.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1740 Recorvax things
  Resources/Audio/Machines/airlock_deny.ogg
  Resources/Audio/Machines/attributions.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Textures/Clothing/Mask/bear.rsi/equipped-MASK-digi.png
  Resources/Textures/Clothing/Mask/muzzle.rsi/equipped-MASK-digi.png
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/red-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/storage.png
  Resources/Textures/Objects/Tools/wrench.rsi/meta.json
  Resources/Textures/Objects/Tools/wrench.rsi/storage.png
  Resources/Textures/Structures/Piping/disposal.rsi/condisposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-charging.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-flush.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-charge.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-full.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-handle.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-ready.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-2.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-3.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-4.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1-5.png
  Resources/Textures/Structures/Storage/tanks.rsi/generictank-1.png
  Resources/Textures/Structures/Storage/tanks.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1590 Fix tts selector
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
Labels: Status: Needs Review

#1706 Добавлена поддержка кириллицы для бриг и сигнал таймеров
  Resources/Textures/Effects/text.rsi/meta.json
  Resources/Textures/Effects/text.rsi/а.png
  Resources/Textures/Effects/text.rsi/б.png
  Resources/Textures/Effects/text.rsi/в.png
  Resources/Textures/Effects/text.rsi/г.png
  Resources/Textures/Effects/text.rsi/д.png
  Resources/Textures/Effects/text.rsi/е.png
  Resources/Textures/Effects/text.rsi/ж.png
  Resources/Textures/Effects/text.rsi/з.png
  Resources/Textures/Effects/text.rsi/и.png
  Resources/Textures/Effects/text.rsi/й.png
  Resources/Textures/Effects/text.rsi/к.png
  Resources/Textures/Effects/text.rsi/л.png
  Resources/Textures/Effects/text.rsi/м.png
  Resources/Textures/Effects/text.rsi/н.png
  Resources/Textures/Effects/text.rsi/о.png
  Resources/Textures/Effects/text.rsi/п.png
  Resources/Textures/Effects/text.rsi/р.png
  Resources/Textures/Effects/text.rsi/с.png
  Resources/Textures/Effects/text.rsi/т.png
  Resources/Textures/Effects/text.rsi/у.png
  Resources/Textures/Effects/text.rsi/ф.png
  Resources/Textures/Effects/text.rsi/х.png
  Resources/Textures/Effects/text.rsi/ц.png
  Resources/Textures/Effects/text.rsi/ч.png
  Resources/Textures/Effects/text.rsi/ш.png
  Resources/Textures/Effects/text.rsi/щ.png
  Resources/Textures/Effects/text.rsi/ъ.png
  Resources/Textures/Effects/text.rsi/ы.png
  Resources/Textures/Effects/text.rsi/ь.png
  Resources/Textures/Effects/text.rsi/э.png
  Resources/Textures/Effects/text.rsi/ю.png
  Resources/Textures/Effects/text.rsi/я.png
  Resources/Textures/Effects/text.rsi/ё.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1766 Outpost Update
  Resources/Maps/corvax_outpost.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1765 Перевод Upstream #1764
  Resources/Locale/ru-RU/actions/actions/wagging.ftl
  Resources/Locale/ru-RU/burial/burial.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-greenshift.ftl
  Resources/Locale/ru-RU/kitchen/components/microwave-component.ftl
  Resources/Locale/ru-RU/pinpointer/station_map.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/quick-dialog/quick-dialog.ftl
  Resources/Locale/ru-RU/reagents/meta/biological.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/speech/listen-wire-action.ftl
  Resources/Locale/ru-RU/speech/speech-wire-action.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/animal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/space_ruin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/soft.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/exclamation.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/elemental.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/whistles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/boxes/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/light_rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/pistol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/rifle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speedloaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/lmgs/lmgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/mining.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/materialdoors/material_doors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/closets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/virtual/virtual_item.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tools/tool-qualities.ftl
  Resources/Locale/ru-RU/ui/navmap.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1698 Forensics guide addition
  Resources/ServerInfo/Guidebook/Security/Forensics.xml
Labels: No C#, Status: Needs Review

#1768 Правки перевода
  Resources/Locale/ru-RU/corvax/markings/cyberlibs.ftl
  Resources/Locale/ru-RU/disease/miasma.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/tanks/base_structuretanks.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1761 Defusal & cargo general guidebooks translate
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
Labels: No C#, Status: Needs Review

#1732 Nukies guidebook translate
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
Labels: No C#, Status: Needs Review

#1708 Make mindshielded not pacified at round end
  Content.Server/Corvax/PeacefulRoundEnd/PeacefulRoundEndSystem.cs
Labels: Status: Needs Review

#1747 Resprite BrickTile decals
  Resources/Textures/Decals/bricktile.rsi/dark_box.png
  Resources/Textures/Decals/bricktile.rsi/dark_corner_ne.png
  Resources/Textures/Decals/bricktile.rsi/dark_corner_nw.png
  Resources/Textures/Decals/bricktile.rsi/dark_corner_se.png
  Resources/Textures/Decals/bricktile.rsi/dark_corner_sw.png
  Resources/Textures/Decals/bricktile.rsi/dark_end_e.png
  Resources/Textures/Decals/bricktile.rsi/dark_end_n.png
  Resources/Textures/Decals/bricktile.rsi/dark_end_s.png
  Resources/Textures/Decals/bricktile.rsi/dark_end_w.png
  Resources/Textures/Decals/bricktile.rsi/dark_inner_ne.png
  Resources/Textures/Decals/bricktile.rsi/dark_inner_nw.png
  Resources/Textures/Decals/bricktile.rsi/dark_inner_se.png
  Resources/Textures/Decals/bricktile.rsi/dark_inner_sw.png
  Resources/Textures/Decals/bricktile.rsi/dark_line_e.png
  Resources/Textures/Decals/bricktile.rsi/dark_line_n.png
  Resources/Textures/Decals/bricktile.rsi/dark_line_s.png
  Resources/Textures/Decals/bricktile.rsi/dark_line_w.png
  Resources/Textures/Decals/bricktile.rsi/meta.json
  Resources/Textures/Decals/bricktile.rsi/steel_box.png
  Resources/Textures/Decals/bricktile.rsi/steel_corner_ne.png
  Resources/Textures/Decals/bricktile.rsi/steel_corner_nw.png
  Resources/Textures/Decals/bricktile.rsi/steel_corner_se.png
  Resources/Textures/Decals/bricktile.rsi/steel_corner_sw.png
  Resources/Textures/Decals/bricktile.rsi/steel_end_e.png
  Resources/Textures/Decals/bricktile.rsi/steel_end_n.png
  Resources/Textures/Decals/bricktile.rsi/steel_end_s.png
  Resources/Textures/Decals/bricktile.rsi/steel_end_w.png
  Resources/Textures/Decals/bricktile.rsi/steel_inner_ne.png
  Resources/Textures/Decals/bricktile.rsi/steel_inner_nw.png
  Resources/Textures/Decals/bricktile.rsi/steel_inner_se.png
  Resources/Textures/Decals/bricktile.rsi/steel_inner_sw.png
  Resources/Textures/Decals/bricktile.rsi/steel_line_e.png
  Resources/Textures/Decals/bricktile.rsi/steel_line_n.png
  Resources/Textures/Decals/bricktile.rsi/steel_line_s.png
  Resources/Textures/Decals/bricktile.rsi/steel_line_w.png
  Resources/Textures/Decals/bricktile.rsi/white_box.png
  Resources/Textures/Decals/bricktile.rsi/white_corner_ne.png
  Resources/Textures/Decals/bricktile.rsi/white_corner_nw.png
  Resources/Textures/Decals/bricktile.rsi/white_corner_se.png
  Resources/Textures/Decals/bricktile.rsi/white_corner_sw.png
  Resources/Textures/Decals/bricktile.rsi/white_end_e.png
  Resources/Textures/Decals/bricktile.rsi/white_end_n.png
  Resources/Textures/Decals/bricktile.rsi/white_end_s.png
  Resources/Textures/Decals/bricktile.rsi/white_end_w.png
  Resources/Textures/Decals/bricktile.rsi/white_inner_ne.png
  Resources/Textures/Decals/bricktile.rsi/white_inner_nw.png
  Resources/Textures/Decals/bricktile.rsi/white_inner_se.png
  Resources/Textures/Decals/bricktile.rsi/white_inner_sw.png
  Resources/Textures/Decals/bricktile.rsi/white_line_e.png
  Resources/Textures/Decals/bricktile.rsi/white_line_n.png
  Resources/Textures/Decals/bricktile.rsi/white_line_s.png
  Resources/Textures/Decals/bricktile.rsi/white_line_w.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1741 Corpos DeLocale
  Resources/Locale/ru-RU/game-ticking/game-rules/rule-terminator.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/terminator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/containers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/posters.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1746 Респрайт Swapper'а
  Resources/Textures/Objects/Devices/swapper.rsi/icon.png
  Resources/Textures/Objects/Devices/swapper.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/swapper.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/swapper.rsi/linked.png
  Resources/Textures/Objects/Devices/swapper.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1771 fix locale
  Resources/Locale/ru-RU/corvax/markings/vulpkanin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/body/parts/vulpkanin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/mobs/player/vulpkanin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/mobs/species/vulpkanin.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1770 return some old sprites
  Resources/Textures/Structures/Storage/suit_storage.rsi/base.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/door.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/locked.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/meta.json
  Resources/Textures/Structures/Storage/suit_storage.rsi/panel.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/unlocked.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/welded.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/base.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/broken.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/burned.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/empty.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/glow.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1778 Update silly
  Resources/Maps/corvax_silly.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1776 Перевод Upstream #1775
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/xenoarchaeology/artifact_equipment.ftl
  Resources/Locale/ru-RU/administration/commands/follow-command.ftl
  Resources/Locale/ru-RU/administration/ui/actions.ftl
  Resources/Locale/ru-RU/containers/containers.ftl
  Resources/Locale/ru-RU/execution/execution.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/prototypes/catalog/cargo/cargo-shuttle.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/round-end/cryostorage.ftl
  Resources/Locale/ru-RU/shuttles/timer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/present.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/cryopod.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/dispensers/booze.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/dispensers/chem.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/dispensers/soda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/shutter/blast_door.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/wardrobe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1774 Fix tts settings
  Content.Client/Corvax/TTS/TTSSystem.cs
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: Status: Needs Review

#1780 Outpost update
  Resources/Maps/corvax_outpost.yml
Labels: No C#, Status: Needs Review, Changes: Map

#1785 Locale fixes
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/_units.ftl
  Resources/Locale/ru-RU/access/components/id-card-component.ftl
  Resources/Locale/ru-RU/access/components/id-card-console-component.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1790 Перевод Upstream #1787
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/lathe/lathe-categories.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/medical/components/defibrillator.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/navmap-beacons/station_map.ftl
  Resources/Locale/ru-RU/reagents/meta/botany.ftl
  Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/skewer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/kudzu.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/cores.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/voting/managers/vote-manager.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1794 Сердечки у ларго при поглаживании
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/pets.yml
Labels: No C#, Status: Needs Review

#1793 Перевод Upstream #1792
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/powercells.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/magazines/grenade.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1795 Fix stray pixel on poster 22 legit
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster22_legit.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1801 Правки перевода
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/mmi.ftl
  Resources/ServerInfo/Guidebook/Science/Cyborgs.xml
Labels: No C#, Status: Needs Review, Changes: Localization

#1805 New lobby art
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/mimes-in-techs.png
  Resources/Textures/Corvax/LobbyScreens/mimes-in-techs.png.yml
Labels: No C#, Status: Needs Review

#1804 Перевод Upstream #1803
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/job/department-desc.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/resist/components/escape-inventory-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/admin_triggers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/effects/lightning.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/bench.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting/base_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/station-events/events/vent-critters.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1811 some fixes
  Resources/Locale/ru-RU/corvax/speech/speech-chatsan.ftl
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#1812 [Map] Maus
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/corvax_maus.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
Labels: Status: Needs Review, Changes: Map

#1815 Воры не пацифисты при нюке
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#, Status: Needs Review

#1816 Перевод Upstream #1809
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/advertisements/vending/ammo.ftl
  Resources/Locale/ru-RU/advertisements/vending/atmosdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/bardrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/boozeomat.ftl
  Resources/Locale/ru-RU/advertisements/vending/cargodrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/chang.ftl
  Resources/Locale/ru-RU/advertisements/vending/chefdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/chefvend.ftl
  Resources/Locale/ru-RU/advertisements/vending/chemdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/cigs.ftl
  Resources/Locale/ru-RU/advertisements/vending/clothesmate.ftl
  Resources/Locale/ru-RU/advertisements/vending/coffee.ftl
  Resources/Locale/ru-RU/advertisements/vending/cola.ftl
  Resources/Locale/ru-RU/advertisements/vending/condiments.ftl
  Resources/Locale/ru-RU/advertisements/vending/curadrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/detdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/dinnerware.ftl
  Resources/Locale/ru-RU/advertisements/vending/discount.ftl
  Resources/Locale/ru-RU/advertisements/vending/donut.ftl
  Resources/Locale/ru-RU/advertisements/vending/engidrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/games.ftl
  Resources/Locale/ru-RU/advertisements/vending/genedrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/happyhonk.ftl
  Resources/Locale/ru-RU/advertisements/vending/hydrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/janidrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/lawdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/magivend.ftl
  Resources/Locale/ru-RU/advertisements/vending/medidrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/megaseed.ftl
  Resources/Locale/ru-RU/advertisements/vending/nanomed.ftl
  Resources/Locale/ru-RU/advertisements/vending/nutrimax.ftl
  Resources/Locale/ru-RU/advertisements/vending/robodrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/scidrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/secdrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/sectech.ftl
  Resources/Locale/ru-RU/advertisements/vending/smartfridge.ftl
  Resources/Locale/ru-RU/advertisements/vending/snack.ftl
  Resources/Locale/ru-RU/advertisements/vending/sovietsoda.ftl
  Resources/Locale/ru-RU/advertisements/vending/syndiedrobe.ftl
  Resources/Locale/ru-RU/advertisements/vending/theater.ftl
  Resources/Locale/ru-RU/advertisements/vending/vendomat.ftl
  Resources/Locale/ru-RU/advertisements/vending/virodrobe.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/power/components/generator.ftl
  Resources/Locale/ru-RU/shuttles/screens.ftl
  Resources/Locale/ru-RU/shuttles/timer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/portable_generator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomaly/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
Labels: No C#, Status: Needs Review, Changes: Localization

#1819 Fix TTS Volume (AGAIN)
  Content.Client/Corvax/TTS/TTSSystem.cs
Labels: Status: Needs Review

#1822 Remove revolutionary from corvax secret weights
  Resources/Prototypes/Corvax/secret_weights.yml
Labels: No C#, Status: Needs Review

#1820 Some walls resprites/fixes
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/state0.png
  Resources/Textures/Structures/Walls/reinforced_diagonal.rsi/state1.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#1817 Правки перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/actions.ftl
Labels: No C#, Status: Needs Review, Changes: Localization
