Repository space-syndicate/space-station-14, pull requests merged in 2024-04, with the labels that each got.

#1998 Silly island next gen 4k update №2
  Resources/Maps/Shuttles/mining_corvaxsilly.yml
  Resources/Maps/corvax_silly.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2009 Перевод Upstream #2008
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/nuke.ftl
  Resources/Locale/ru-RU/administration/commands/aghost.ftl
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/chemistry/components/hypospray-component.ftl
  Resources/Locale/ru-RU/chemistry/components/scoopable-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/foldable/components/foldable-component.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/lock/lock-component.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/paper/story-generation.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/soda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/base_clothingouter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks-cartons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/nuke.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/books.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/books_author.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/cds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/diskcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/base_structureairlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/shutter/blast_door_autolink.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/nuke.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/reagent_grinder.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/janitor/drain.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/janitor/janicart.ftl
  Resources/Locale/ru-RU/storage/components/secret-stash-component.ftl
  Resources/Locale/ru-RU/store/store.ftl
  Resources/Locale/ru-RU/toilet/toilet-component.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Locale/ru-RU/ui/general.ftl
  Resources/Prototypes/Entities/Objects/Misc/books.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2012 Corvax Retexture pack 2!
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/rndcoat.rsi/icon.png
  Resources/Textures/Structures/Doors/Windoors/plasma.rsi/assembly.png
  Resources/Textures/Structures/Doors/Windoors/plasma.rsi/closed.png
  Resources/Textures/Structures/Doors/Windoors/plasma.rsi/closing.png
  Resources/Textures/Structures/Doors/Windoors/plasma.rsi/open.png
  Resources/Textures/Structures/Doors/Windoors/plasma.rsi/opening.png
  Resources/Textures/Structures/Doors/Windoors/uranium.rsi/assembly.png
  Resources/Textures/Structures/Doors/Windoors/uranium.rsi/closed.png
  Resources/Textures/Structures/Doors/Windoors/uranium.rsi/closing.png
  Resources/Textures/Structures/Doors/Windoors/uranium.rsi/open.png
  Resources/Textures/Structures/Doors/Windoors/uranium.rsi/opening.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_bitem.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmp.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmx.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_3.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_b0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_b1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_b2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_bitem.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_emagged.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_off.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_on.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/firex.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/meta.json
  Resources/Textures/Structures/Windows/directional.rsi/uranium_reinforced_window.png
  Resources/Textures/Structures/Windows/directional.rsi/uranium_window.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2011 Add plasma stack sprites
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plasma_3.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2025 ~~Новые~~ Шаттлы для Гельты
  Resources/Maps/Shuttles/cargo_gelta.yml
  Resources/Maps/Shuttles/emergency_gelta.yml
Labels: No C#, Status: Needs Review

#2023 Invert status icon side
  Resources/Prototypes/StatusEffects/health.yml
  Resources/Prototypes/StatusEffects/security.yml
  Resources/Prototypes/StatusEffects/ssd.yml
  Resources/Prototypes/StatusIcon/antag.yml
Labels: No C#, Status: Needs Review

#1978 Новая роль - Пилот Сб
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Corvax/Roles/play_time_trackers.yml
  Resources/Prototypes/Corvax/StatusEffects/job.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Pilot.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/idpilot.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization

#2032 Fix centcomm
  Resources/Maps/corvax_centcomm.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2030 New lobby music
  Resources/Audio/Corvax/Lobby/attributions.yml
  Resources/Audio/Corvax/Lobby/service.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#, Status: Needs Review

#2042 Locale tweaks
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/food.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/service.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/bread.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/handheld_mass_scanner.ftl
  Resources/Prototypes/Datasets/criminal_records.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2046 Fix station goal stamp color
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
Labels: Status: Needs Review

#2041 Maus
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2038 Изменения Paper Station
  Resources/Maps/corvax_paper.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2043 [Resprite] Some brigmedic clothing
  Resources/Textures/Clothing/Back/Backpacks/brigmedic.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/brigmedic.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/brigmedic.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/brigmedic.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/brigmedic.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/brigmedic.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/brigmedic.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/brigmedic.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/brigmedic.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/brigmedic.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/brigmedic.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/brigmedic.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/brigmedic.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/brigmedic.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/brigmedic.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/brigmedic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/brigmedic.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/brigmedic.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/brigmedic.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/brigmedic.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2048 [Maps] Rebalance min/max maps online
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/gelta.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
Labels: No C#, Status: Needs Review

#2049 Localize name identifier groups prefix
  Resources/Prototypes/name_identifier_groups.yml
Labels: No C#, Status: Needs Review

#2050 Enable worldgen
  Resources/ConfigPresets/Corvax/common.toml
Labels: No C#, Status: Needs Review

#2054 Locale banners
  Resources/Textures/Structures/Decoration/banner.rsi/banner-blue.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner-green.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner-red.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner-yellow.png
  Resources/Textures/Structures/Decoration/banner.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#2056 new year lobbyscreens removed
  Resources/Prototypes/Corvax/lobbyscreens.yml
Labels: No C#, Status: Needs Review

#2069 Revert "Enable worldgen"
  Resources/ConfigPresets/Corvax/common.toml
Labels: No C#, Status: Needs Review

#2068 Resprite some vulps customization
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/pawsocks.png
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/vulp_face.png
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/wolf_tail.png
  Resources/Textures/Corvax/Mobs/Customization/vulpkanin.rsi/wolf_tail_inner.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2062 radio keycode locale
  Resources/Prototypes/radio_channels.yml
Labels: No C#, Status: Needs Review

#2061 Знайкин не сдох, просто ленивый
  Resources/Maps/corvax_maus.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2045 Add Captain to Hidden Description whitelist.
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: No C#, Status: Needs Review

#2065 [Retexture] Inhands briefcase
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/inhand-left.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/inhand-right.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/meta.json
Labels: No C#, Status: Needs Review, Changes: Sprites

#1974 New station Pilgrim
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/emergency_pilgrim.yml
  Resources/Maps/corvax_pilgrim.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/pilgrim.yml
Labels: Status: Needs Review, Changes: Map

#2077 Pilgrim update
  Resources/Maps/corvax_pilgrim.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2082 [Maps] Corvax centcomm return
  Resources/Maps/corvax_centcomm.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#, Status: Needs Review, Changes: Map

#2080 Corvax loadouts
  Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl
  Resources/Prototypes/Corvax/Loadouts/Jobs/Security/security.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#, Status: Needs Review, Changes: Localization

#2079 Loadout IAA
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: No C#, Status: Needs Review

#2072 Респрайт ТоматовУбийц
  Resources/Textures/Mobs/Demons/tomatokiller.rsi/alive.png
  Resources/Textures/Mobs/Demons/tomatokiller.rsi/dead.png
Labels: No C#, Status: Needs Review, Changes: Sprites

#2087 Increase loadouts requirements time
  Resources/Prototypes/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
Labels: No C#, Status: Needs Review

#2085 Rename crowbar
  Resources/Locale/ru-RU/advertisements/vending/vendomat.ftl
  Resources/Locale/ru-RU/construction/conditions/machine-frame-complete.ftl
  Resources/Locale/ru-RU/construction/conditions/toilet-lid-closed.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/figurines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/tools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/firelocks/firelock.ftl
  Resources/Locale/ru-RU/tools/tool-qualities.ftl
  Resources/Locale/ru-RU/wires/wires_panel-security-levels.ftl
  Resources/Prototypes/Datasets/Names/fortunes.yml
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/ServerInfo/Guidebook/Engineering/Power.xml
  Resources/ServerInfo/Guidebook/Science/Cyborgs.xml
  Resources/ServerInfo/Intro.txt
Labels: No C#, Status: Needs Review, Changes: Localization
