Repository space-syndicate/space-station-14, pull requests merged in 2025-03, with the labels that each got.

#3024 [Maps] Outpost mini update
  Resources/Maps/Corvax/corvax_outpost.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/XL

#3029 Some tiles resprites
  Resources/Textures/Tiles/Asteroid/asteroid_plating.png
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/red_circuit.png
  Resources/Textures/Tiles/showroom.png
  Resources/Textures/Tiles/snow_plating.png
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#3025 Interface locale
  Resources/Textures/Interface/Actions/devour.rsi/icon-on.png
  Resources/Textures/Interface/Actions/devour.rsi/icon.png
  Resources/Textures/Interface/Actions/devour.rsi/meta.json
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health0.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health1.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health2.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health3.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health4.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged

#3033 Changing sprites of shuttle's floors
  Resources/Textures/Objects/Tiles/tile.rsi/shuttleblack.png
  Resources/Textures/Objects/Tiles/tile.rsi/shuttlegrey.png
  Resources/Textures/Objects/Tiles/tile.rsi/shuttleorange.png
  Resources/Textures/Objects/Tiles/tile.rsi/shuttlered.png
  Resources/Textures/Objects/Tiles/tile.rsi/shuttlewhite.png
  Resources/Textures/Tiles/shuttleblack.png
  Resources/Textures/Tiles/shuttleblue.png
  Resources/Textures/Tiles/shuttlegrey.png
  Resources/Textures/Tiles/shuttleorange.png
  Resources/Textures/Tiles/shuttlepurple.png
  Resources/Textures/Tiles/shuttlered.png
  Resources/Textures/Tiles/shuttlewhite.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged, S: Needs Review

#3037 Map pool tweaks & semi-pops
  Resources/Prototypes/Corvax/Maps/Corvax/cute.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/S

#3038 No snow 2025 Silly update.yml
  Resources/Maps/Corvax/corvax_silly.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/XL

#3043 [Maps] обновление карты CorvaxCute
  Resources/Maps/Corvax/corvax_cute.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/XL

#3045 Fix paradox clone
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#3046 Вернуть отправку целей
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
Labels: size/XS, S: Untriaged, S: Needs Review

#3050 Fixed cyrillic letters category in crayons
  Resources/Prototypes/Corvax/Decals/crayons.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review

#3051 Fix Upstream
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/aloe.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/apple.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/berries.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/blood_tomato.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/blue_tomato.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/carrot.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/chanterelle.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/chili.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/chilly.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/cotton.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/eggplant.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/fly_amanita.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/galaxythistle.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/gatfruit.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/golden_apple.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/grape.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/lemon.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/lemoon.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/lime.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/onion_red.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/orange.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/potato.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/pyrotton.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/steelcap.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/sugarcane.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/tomato.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/watermelon.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/flashbang.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/grenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/nukenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/pyrogrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/syndgrenade.rsi/meta.json
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/M

#3054 Fix "Update Wiki" workflow. Adjust actions versions up to node20
  .github/workflows/update-wiki.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#3053 New lobby music track by cobber3
  Resources/Audio/Corvax/Lobby/attributions.yml
  Resources/Audio/Corvax/Lobby/nodecision.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: No C#, size/XS, S: Needs Review, Changes: Audio

#3041 Update hiddenDescription.ftl [Locale fix]
  Resources/Locale/ru-RU/corvax/hidden-description/hiddenDescription.ftl
Labels: Changes: No C#, Changes: Localization, S: Needs Review

#3040 Правка грамматики текста ролей
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-supervisors.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/S

#3027 Adding HoS Shoulder Mantle to Uniform Printer and HoS-Loadout
  Resources/Prototypes/Corvax/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#2988 Various locale tweaks
  Resources/Locale/ru-RU/administration/ui/actions.ftl
  Resources/Locale/ru-RU/administration/ui/player-panel.ftl
  Resources/Locale/ru-RU/lobby/lobby-gui.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/dat_fukken_disk.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/plastitanium.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Glossary.xml
Labels: Changes: No C#, Changes: Localization, S: Untriaged, size/S

#3061 Frame roles fix
  Resources/Prototypes/Corvax/Maps/Corvax/frame.yml
Labels: Changes: No C#, Changes: Map, size/XS, S: Untriaged, S: Needs Review
