Repository space-syndicate/space-station-14, pull requests merged in 2025-05, with the labels that each got.

#3142 fix locale
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
Labels: Changes: No C#, Changes: Localization, size/XS, S: Needs Review

#3139 Update toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
Labels: Changes: No C#, Changes: Localization, size/XS, S: Untriaged, S: Needs Review

#3150 Retexture for glasses and beerhud
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/commandglasses.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/jamjar.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Glasses/jamjar.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/jamjar.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/jamjar.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/jamjar.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/outlawglasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/outlawglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/outlawglasses.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/outlawglasses.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Eyes/Glasses/kim.rsi/equipped-EYES.png
  Resources/Textures/Corvax/Clothing/Eyes/Glasses/kim.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Eyes/Glasses/kim.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Eyes/Glasses/kim.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Eyes/Glasses/salesman.rsi/equipped-EYES.png
  Resources/Textures/Corvax/Clothing/Eyes/Glasses/salesman.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Eyes/Glasses/salesman.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Eyes/Glasses/salesman.rsi/inhand-right.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged

#3147 перевод настенных знаков
  Resources/Textures/Structures/Wallmounts/signs.rsi/bath.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/cans_sci.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged, S: Needs Review

#3153 [Maps] Maus update
  Resources/Maps/Corvax/corvax_maus.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#3161 Fix sponsor-only markings filter
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
Labels: size/XS, S: Untriaged, S: Needs Review

#3163 Silly RTX Update
  Resources/Maps/Corvax/Shuttles/cargo_corvaxsilly.yml
  Resources/Maps/Corvax/corvax_silly.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/L

#3162 change sprite of can pack
  Resources/Textures/Objects/Misc/6pack.rsi/6pack1.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack2.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack3.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack4.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack5.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack6.png
  Resources/Textures/Objects/Misc/6pack.rsi/meta.json
  Resources/Textures/Objects/Misc/6pack.rsi/plastic-thingy.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged, S: Needs Review

#3166 [Maps] Maus fix
  Resources/Maps/Corvax/corvax_maus.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/M

#3032 Returning of sprites of some weapons
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged, S: Needs Review

#3168 Мини фикс КПК пилота
  Resources/Prototypes/Corvax/Entities/Objects/Devices/pda.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#3170 refactor: Try to fix in-game events with comments
  Content.Server/Mapping/MappingCommand.cs
Labels: size/XS, S: Untriaged

#3169 Ограничения на роли теперь в игре
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#3180 Updateipc
  Resources/Prototypes/Corvax/Damage/modifier_sets.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/ipc.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#3187 Updateipc
  Resources/Prototypes/Corvax/Damage/modifier_sets.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/ipc.yml
Labels: Changes: No C#, S: Needs Review

#3155 change lobby time 6>4 and roundend time 2>4 min
  Resources/ConfigPresets/Corvax/common.toml
Labels: Changes: No C#, S: Untriaged, S: Needs Review

#3191 Обновление КПБ v2
  Content.Server/Corvax/Ipc/IpcSystem.cs
  Resources/Prototypes/Corvax/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Corvax/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Corvax/Voice/speech_emotes.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
Labels: S: Untriaged, S: Needs Review, size/S
