Repository space-syndicate/space-station-14, pull requests merged in 2025-04, with the labels that each got.

#3062 Revert "Frame roles fix"
  Resources/Prototypes/Corvax/Maps/Corvax/frame.yml
Labels: Changes: No C#, Changes: Map, size/XS, S: Needs Review

#3064 Fix voice mask TTS
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Server/Corvax/TTS/VoiceMaskSystem.TTS.cs
  Content.Shared/Corvax/TTS/TransformSpeakerVoiceEvent.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
Labels: S: Untriaged, S: Needs Review, size/S

#3072 [Maps] CC Update
  Resources/Maps/Corvax/corvax_centcomm.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/XL

#2996 alert-levels
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, size/S

#3017 Лобби Арт "Конец"
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/end.png
  Resources/Textures/Corvax/LobbyScreens/end.png.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#3014 more space wind for echo
  Resources/ConfigPresets/Corvax/echo.toml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#3049 Space Ninja lobby art (v2)
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/cyborg-ninja.png
  Resources/Textures/Corvax/LobbyScreens/cyborg-ninja.png.yml
Labels: Changes: No C#, size/S

#2639 Atmospherics Overalls
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/suits.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/atmos_overalls.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/atmos_overalls.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/atmos_overalls.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/atmos_overalls.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/atmos_overalls.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/atmos_overalls.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/Coats/atmos_overalls.rsi/meta.json
Labels: Changes: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization, S: Needs Review, size/S

#3067 Change some bag's sprites
  Resources/Textures/Objects/Specific/Cargo/mail_bag.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Cargo/mail_bag.rsi/icon.png
  Resources/Textures/Objects/Specific/Cargo/mail_bag.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Cargo/mail_bag.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Cargo/mail_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/icon.png
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/S

#3018 Add more event time trackers
  Resources/Prototypes/Corvax/Roles/play_time_trackers.yml
Labels: Changes: No C#, S: Needs Review, size/S

#2607 Исправленная резиновая свинья WIP
  Resources/Audio/Corvax/Items/Toys/attributions.yml
  Resources/Audio/Corvax/Items/Toys/rubber_pig_1.ogg
  Resources/Audio/Corvax/Items/Toys/rubber_pig_2.ogg
  Resources/Audio/Corvax/Items/Toys/rubber_pig_3.ogg
  Resources/Audio/Corvax/Items/Toys/rubber_pig_4.ogg
  Resources/Audio/Corvax/Items/Toys/rubber_pig_5.ogg
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/fun/toys.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Corvax/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Corvax/SoundCollections/rubber_pig.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Corvax/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Corvax/Objects/Fun/toys.rsi/rubber_pig.png
Labels: Changes: No C#, Changes: Sprites, Status: Awaiting Changes, Changes: Localization, S: Needs Review, size/S, Changes: Audio

#3079 turn off grid impulse
  Resources/ConfigPresets/Corvax/echo.toml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#3080 Change MRE's & waffle's sprites
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/Baked/brownie.rsi/brownie-batch.png
  Resources/Textures/Objects/Consumable/Food/Baked/brownie.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/waffles-roffle.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/waffles-soy.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/waffles-soylent.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/waffles.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/mre-brownie-open.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/mre-brownie.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/nutribrick-open.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/nutribrick.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Needs Review

#3084 Rechange waffle's and brownie's sprites
  Resources/Textures/Objects/Consumable/Food/Baked/brownie.rsi/brownie-batch.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/waffles-roffle.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/waffles-soy.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/waffles-soylent.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/waffles.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/mre-brownie-open.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged, S: Needs Review

#3089 Update public publish workflow to .NET 9
  .github/workflows/publish-public.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3092 fix datasets
  Resources/Locale/ru-RU/datasets/corporations.ftl
  Resources/Locale/ru-RU/datasets/names/rollie.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, size/S

#3096 Обновление CODOWNERS
  .github/CODEOWNERS
Labels: Changes: No C#, size/XS, S: Needs Review

#3097 remove atmos rip tiles from echo
  Resources/ConfigPresets/Corvax/echo.toml
Labels: Changes: No C#, S: Untriaged

#3098 make station goals more gracious
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: Changes: No C#, Changes: Localization, size/XS, S: Needs Review

#3088 Brigmedic
  Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Corvax/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Corvax/Roles/play_time_trackers.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Corvax/Objects/Specific/Medical/brigmedichypo.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Objects/Specific/Medical/brigmedichypo.rsi/hypo.png
  Resources/Textures/Corvax/Objects/Specific/Medical/brigmedichypo.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Specific/Medical/brigmedichypo.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Specific/Medical/brigmedichypo.rsi/meta.json
Labels: Changes: No C#, Status: Needs Review, Changes: Sprites, Changes: Map, Priority: 4-Low, Changes: Localization, S: Needs Review, size/M

#3100 add new lobby art
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/security.png
  Resources/Textures/Corvax/LobbyScreens/security.png.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#3109 disable mob pushing
  Resources/ConfigPresets/Corvax/common.toml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#3118 Rework station goals
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Entities/Stations/base.yml
  Resources/Prototypes/Corvax/Maps/Corvax/pearl.yml
  Resources/Prototypes/Corvax/Objectives/goals.yml
Labels: Changes: No C#, Changes: Map, Changes: Localization, S: Needs Review, size/M

#3120 add next tag to servers' configs
  Resources/ConfigPresets/Corvax/echo.toml
  Resources/ConfigPresets/Corvax/nova.toml
  Resources/ConfigPresets/Corvax/solaris.toml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#3124 remove iaa age requirement
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review

#3121 make galoshes normal
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3107 Remove overloot from brigmed
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Changes: No C#, S: Untriaged

#3103 Change sprites of visual axe and shotgun in the wallmounts case
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet-filled-closed.png
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/cabinet-filled-open.png
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/fireaxe.png
  Resources/Textures/Structures/Wallmounts/fireaxe_cabinet.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-filled-closed.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-filled-open.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/shotgun.png
Labels: Changes: No C#, Changes: Sprites, size/XS

#3126 bring back hidden desc to ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/eva-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/softsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/guardian_activators.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/pai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/powersink.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chapel/bibles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/emag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/jammer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/jaws_of_life.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/bombs/spider.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/fireaxe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/bombs.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/M

#3127 resprite cburn hardsuits
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/light-overlay.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/equipped-head-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/equipped-head-vox.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/equipped-head.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/icon-flash.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/icon-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/inhand-left-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/inhand-right-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/light-overlay.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/cburncommander.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/cburncommander.rsi/equipped-OUTERCLOTHING-digi.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/cburncommander.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/cburncommander.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/cburncommander.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/cburncommander.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/cburncommander.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/cburncommander.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/cburncommander.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/S

#3137 [Maps] Centcomm update
  Resources/Maps/Corvax/Shuttles/cburn_corvaxcentcomm.yml
  Resources/Maps/Corvax/corvax_centcomm.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#3085 Fixed tourniquet translation
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
Labels: Changes: No C#, Changes: Localization, size/XS, S: Untriaged, S: Needs Review

#3102 s/синдикат/Синдикат/g
  Resources/Locale/ru-RU/advertisements/vending/syndiedrobe.ftl
  Resources/Locale/ru-RU/corvax/hidden-description/hiddenDescription.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/scarfs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/shoes/boots.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/shuttleroles/roles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/shuttleroles/spawners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/smokeables/cigarettes/cigarette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pinpointer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/banners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/tips.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/S

#3135 fix role requirements locale
  Resources/Locale/ru-RU/job/role-requirements.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/S

#3093 remove corvax centcomm puter
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Machines/Computers/computers.yml
  Resources/migration.yml
Labels: Changes: No C#, Changes: Localization, S: Needs Review, size/S

#3129 fix not removing vulp accent
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: No C#, size/XS, S: Untriaged

#3131 Make lawbounded not pacified at round end
  Content.Server/Corvax/PeacefulRoundEnd/PeacefulRoundEndSystem.cs
Labels: size/XS, S: Untriaged, S: Needs Review

#3145 update ion laws
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/M

#3143 Обновление таяр
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/tajaran.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/Corvax/Species/tajaran.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Textures/Corvax/Mobs/Customization/Tajaran/tajaran_eyes.rsi/eyes.png
  Resources/Textures/Corvax/Mobs/Customization/Tajaran/tajaran_eyes.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Customization/Tajaran/tajaran_eyes.rsi/no_eyes.png
  Resources/Textures/Corvax/Mobs/Customization/Tajaran/tajaran_head.rsi/inears.png
  Resources/Textures/Corvax/Mobs/Customization/Tajaran/tajaran_head.rsi/nose.png
  Resources/Textures/Corvax/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_fluffy.png
  Resources/Textures/Corvax/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_fluffy_wagging.png
  Resources/Textures/Corvax/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_m.png
  Resources/Textures/Corvax/Mobs/Customization/Tajaran/tajaran_tail.rsi/tail_m_wagging.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/full.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/head_f.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/head_m.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/l_arm.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/l_foot.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/l_hand.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/l_leg.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/r_arm.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/r_foot.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/r_hand.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/r_leg.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/tajaran_m.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/torso_f.png
  Resources/Textures/Corvax/Mobs/Species/Tajaran/parts.rsi/torso_m.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Needs Review, size/M

#3125 Fix license tayar
  Resources/Audio/Corvax/Effects/Tajaran/attributions.yml
Labels: Changes: No C#, S: Needs Review
