Repository space-syndicate/space-station-14, pull requests merged in 2025-02, with the labels that each got.

#2958 fix some locale and localized sprites
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/holopad/holopad.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/holopad.ftl
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_eject.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_ivanov_cooldown.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_savannah_cooldown.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/mech_view_stats.png
  Resources/Textures/Interface/Actions/actions_mecha.rsi/meta.json
  Resources/Textures/Interface/Alerts/Buckle/buckled.png
  Resources/Textures/Interface/Alerts/Handcuffed/Handcuffed.png
  Resources/Textures/Interface/Alerts/Pull/pulled.png
  Resources/Textures/Interface/Alerts/breathing.rsi/meta.json
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_tox.png
  Resources/Textures/Interface/Alerts/breathing.rsi/too_much_tox.png
  Resources/Textures/Interface/Alerts/ensnared.rsi/ensnared.png
  Resources/Textures/Interface/Alerts/ensnared.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Localization, S: Untriaged, S: Needs Review, size/S

#2960 Revert "New Year Music"
  Resources/Audio/Corvax/Lobby/NewYear/attributions.yml
  Resources/Audio/Corvax/Lobby/NewYear/carol-of-the-bells.ogg
  Resources/Audio/Corvax/Lobby/NewYear/dance-of-sugar-plum-fairy.ogg
  Resources/Audio/Corvax/Lobby/NewYear/deck-in-the-halls.ogg
  Resources/Audio/Corvax/Lobby/NewYear/jingle-bells.ogg
  Resources/Audio/Corvax/Lobby/NewYear/wish-you-a-merry-christmas.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, Changes: Audio

#2962 Revert "ru tape logo"
  Resources/Textures/Logo/logo-ru-tape.png
  Resources/manifest.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#2966 [Maps] Мелкие изменения Cute
  Resources/Maps/Corvax/corvax_cute.yml
  Resources/Prototypes/Parallaxes/cute_parallax.yml
  Resources/Textures/Parallaxes/CuteSpace.png
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/XL

#2973 Правки перевода - соус эдишн
  Resources/Locale/ru-RU/advertisements/vending/condiments.ftl
  Resources/Locale/ru-RU/kitchen/components/foodcart-component.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/condiments.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review

#2989 Configurator sprite fix
  Resources/Textures/Objects/Tools/network_configurator.rsi/mode-link.png
  Resources/Textures/Objects/Tools/network_configurator.rsi/mode-list.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Needs Review

#2990 [Maps] Новая Станция ЦентКом
  Resources/Maps/Corvax/Shuttles/ert_corvaxcentcomm.yml
  Resources/Maps/Corvax/Shuttles/passenger_corvaxcentcomm.yml
  Resources/Maps/Corvax/corvax_centcomm.yml
  Resources/Maps/Shuttles/ert_corvaxcentcomm.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/XL

#2961 Небольшие правки
  Resources/Prototypes/Corvax/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Security/security.yml
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: No C#, S: Untriaged, size/S

#2993 [Maps] Awesome musorka fix
  Resources/Maps/Corvax/corvax_awesome.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review

#2994 [Maps] CC small fix.
  Resources/Maps/Corvax/corvax_centcomm.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/L

#2995 [Maps] Terminal upd
  Resources/Maps/Corvax/Misc/corvax_terminal.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#2997 [Maps] Silly: little fixes
  Resources/Maps/Corvax/corvax_silly.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/M

#2998 [Maps] Awesome fix :3
  Resources/Maps/Corvax/corvax_awesome.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/M

#2991 [Resprite] Some grenades
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/base-0.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/base-1.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/base-2.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/base-3.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbomb.rsi/base-1.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbomb.rsi/base-2.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbomb.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbomb.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/empgrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/empgrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/empgrenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/nukenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/nukenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/nukenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/pyrogrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/pyrogrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/pyrogrenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/shrapnelgrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/shrapnelgrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/shrapnelgrenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/stingergrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/stingergrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/stingergrenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/supermattergrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/supermattergrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/supermattergrenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/syndgrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/syndgrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/syndgrenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/whiteholegrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/whiteholegrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/whiteholegrenade.rsi/primed.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Needs Review, size/S

#3002 Fix station goals
  Content.Server/Corvax/StationGoal/StationGoalCommand.cs
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Content.Shared/Fax/Components/FaxMachineComponent.cs
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-command.ftl
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Labels: Changes: Localization, S: Untriaged, S: Needs Review, size/S

#3008 Фикс спрайтов шлюзов
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#3010 Pearl minor fix
  Resources/Maps/Corvax/corvax_pearl.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review

#3013 [Art] Freezer resprite
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/freezer.png
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review
