Repository space-syndicate/space-station-14, pull requests merged in 2025-07, with the labels that each got.

#3254 round-end.ftl hotfix
  Resources/Locale/ru-RU/objectives/round-end.ftl
Labels: Changes: No C#, Changes: Localization, size/XS, S: Untriaged, S: Needs Review

#3255 fix lobby-state.ftl
  Resources/Locale/ru-RU/lobby/lobby-state.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review

#3258 give passenger maintenance access
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review

#3256 increase events time
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#3253 remove piligrim ai mia leftovers
  Resources/Prototypes/Corvax/Entities/Mobs/Player/station_ai.yml
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/ai-mia.webp
  Resources/Textures/Corvax/LobbyScreens/ai-mia.webp.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/Mobs/Silicon/Station_ai/mia.rsi/ai.png
  Resources/Textures/Corvax/Mobs/Silicon/Station_ai/mia.rsi/ai_dead.png
  Resources/Textures/Corvax/Mobs/Silicon/Station_ai/mia.rsi/ai_empty.png
  Resources/Textures/Corvax/Mobs/Silicon/Station_ai/mia.rsi/base.png
  Resources/Textures/Corvax/Mobs/Silicon/Station_ai/mia.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, size/S

#3261 [Maps] Paper OreProcessor fix
  Resources/Maps/Corvax/corvax_paper.yml
Labels: Changes: No C#, Changes: Map

#3159 set PeacefulRoundEnd to false
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Resources/ConfigPresets/Corvax/main.toml
  Resources/ConfigPresets/Corvax/wl.toml
Labels: size/XS, S: Untriaged, S: Needs Review

#3202 Изменение спрайта утилизаторского и пожарного шлюза
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/base_pressure_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/base_temperature_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/pressure_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/pressure_unlit_flat.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/temperature_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/temperature_unlit_flat.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/salvage.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/salvage.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/salvage.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/salvage.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/salvage.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/salvage.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/deny.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/frame1.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/frame2.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/frame3.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/frame4.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/locked.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/pressure_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/temperature_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/salvage.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/salvage.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/salvage.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/salvage.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/salvage.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/salvage.rsi/opening.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged

#3273 [Wiki] Pass prototype label to wiki
  Content.Server/Corvax/GuideGenerator/EntityEntry.cs
Labels: S: Untriaged, S: Needs Review, size/S

#3277 обновление Pearl island... опять
  Resources/Maps/Corvax/corvax_pearl.yml
  Resources/Prototypes/Corvax/Maps/Corvax/pearl.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/XL

#3269 group corvax loadout pins
  Resources/Prototypes/Corvax/Loadouts/Miscellaneous/trinkents.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#3290 Smugglers hotfix
  Resources/Prototypes/Corvax/Loadouts/Fun/misc_startinggear.yml
Labels: Changes: No C#, size/XS

#3296 Минорные фиксы
  Content.Client/Corvax/TTS/TTSSystem.cs
  Resources/Textures/Structures/Doors/Airlocks/Glass/xeno.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/xeno.rsi/open_unlit.png
Labels: Changes: Sprites, size/XS, S: Needs Review

#3287 [Maps] Mappool tweaks
  Resources/Prototypes/Corvax/Maps/Corvax/maus.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/S

#3299 Revert "Lobbyarts tweaks"
  Resources/Prototypes/Corvax/lobbyscreens.yml
  Resources/Textures/Corvax/LobbyScreens/attributions.yml
  Resources/Textures/Corvax/LobbyScreens/bar-life-new.webp
  Resources/Textures/Corvax/LobbyScreens/bar-life.webp
  Resources/Textures/Corvax/LobbyScreens/bar-life.webp.yml
  Resources/Textures/Corvax/LobbyScreens/deathnettle.webp
  Resources/Textures/Corvax/LobbyScreens/deathnettle.webp.yml
  Resources/Textures/Corvax/LobbyScreens/echo-team.webp
  Resources/Textures/Corvax/LobbyScreens/echo-team.webp.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-bar.webp
  Resources/Textures/Corvax/LobbyScreens/new-year-bar.webp.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-comfort.webp
  Resources/Textures/Corvax/LobbyScreens/new-year-comfort.webp.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-explosion.webp
  Resources/Textures/Corvax/LobbyScreens/new-year-explosion.webp.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-nuke.webp
  Resources/Textures/Corvax/LobbyScreens/new-year-nuke.webp.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-party.webp
  Resources/Textures/Corvax/LobbyScreens/new-year-party.webp.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-penguins.webp
  Resources/Textures/Corvax/LobbyScreens/new-year-penguins.webp.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-pine.webp
  Resources/Textures/Corvax/LobbyScreens/new-year-pine.webp.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-save.webp
  Resources/Textures/Corvax/LobbyScreens/new-year-save.webp.yml
  Resources/Textures/Corvax/LobbyScreens/new-year-sec.webp
  Resources/Textures/Corvax/LobbyScreens/new-year-sec.webp.yml
  Resources/Textures/Corvax/LobbyScreens/revenant.webp
  Resources/Textures/Corvax/LobbyScreens/revenant.webp.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/M

#3301 TTS No Srat
  Content.Server/Corvax/TTS/TTSManager.cs
Labels: S: Untriaged, S: Needs Review, size/S

#3298 Tools/ss14_ru QOL
  Tools/ss14_ru/__init__.py
  Tools/ss14_ru/clean_duplicates.py
  Tools/ss14_ru/clean_empty.py
  Tools/ss14_ru/dash_normalizer.py
  Tools/ss14_ru/file.py
  Tools/ss14_ru/fluentast.py
  Tools/ss14_ru/fluentastcomparer.py
  Tools/ss14_ru/fluentastmanager.py
  Tools/ss14_ru/fluentformatter.py
  Tools/ss14_ru/keyfinder.py
  Tools/ss14_ru/lokalise_fluent_ast_comparer_manager.py
  Tools/ss14_ru/lokalise_project.py
  Tools/ss14_ru/lokalisemodels.py
  Tools/ss14_ru/project.py
  Tools/ss14_ru/requirements.txt
  Tools/ss14_ru/translationsassembler.py
  Tools/ss14_ru/yamlextractor.py
  Tools/ss14_ru/yamlmodels.py
Labels: Changes: No C#, size/S

#3297 stealthy alert locale
  Resources/Textures/Interface/Alerts/stealthy.rsi/meta.json
  Resources/Textures/Interface/Alerts/stealthy.rsi/stealthy-off.png
  Resources/Textures/Interface/Alerts/stealthy.rsi/stealthy-on.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review

#3318 update artifact-analyzer.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review

#3317 Пилот, но получше
  Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/lockers/suit_storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/Corvax/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Security/pilot.yml
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Textures/Corvax/Clothing/Head/Hats/beret_pilot.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Corvax/Clothing/Head/Hats/beret_pilot.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/Hats/beret_pilot.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/Hats/beret_pilot.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Head/Hats/beret_pilot.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Head/Hats/beret_pilot.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/hardsuits/security-pilot.rsi/icon-flash.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/security-pilot.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/security-pilot.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/hardsuits/security-pilot.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/security-pilot.rsi/off-equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/security-pilot.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Corvax/Clothing/Head/hardsuits/security-pilot.rsi/on-equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/OuterClothing/WinterCoats/coatpilot.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Corvax/Clothing/OuterClothing/WinterCoats/coatpilot.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/WinterCoats/coatpilot.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/WinterCoats/coatpilot.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/WinterCoats/coatpilot.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/WinterCoats/coatpilot.rsi/meta.json
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/security-pilot.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/security-pilot.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/security-pilot.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/security-pilot.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/security-pilot.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/security-pilot.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/hardsuits/security-pilot.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/pilot.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/pilot.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/pilot.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/pilot.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpskirt/pilot.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/pilot.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/pilot.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/pilot.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/pilot.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/pilot.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/Uniforms/Jumpsuit/pilot.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Localization, S: Untriaged, S: Needs Review, size/M

#3322 Maps online
  Resources/Prototypes/Corvax/Maps/Corvax/glacier.yml
  Resources/Prototypes/Corvax/Maps/Corvax/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#3321 Фельдшер -> медик
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/decoys.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/S

#3327 Фикс нюкеров на аврите
  Resources/Prototypes/Corvax/Maps/Corvax/avrite.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/M

#3227 Lore species ages
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Resources/Prototypes/Corvax/Species/ipc.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
Labels: Changes: No C#, Changes: UI, S: Untriaged, size/S

#3268 change character-setup-gui-create-new-character-button-tooltip
  Resources/Locale/ru-RU/preferences/ui/character-setup-gui.ftl
Labels: Changes: No C#, Changes: Localization, size/XS

#3281 change objectives verb translation
  Resources/Locale/ru-RU/objectives/conditions/carp-rifts.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-head.ftl
  Resources/Locale/ru-RU/objectives/conditions/kill-person.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-alive.ftl
  Resources/Locale/ru-RU/objectives/conditions/other-traitor-progress.ftl
  Resources/Locale/ru-RU/objectives/conditions/spider-charge.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-research.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, size/S

#3282 Resprite t-ray-s inhands
  Resources/Textures/Objects/Tools/t-ray.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/t-ray.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/t-ray.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Needs Review, size/S

#3338 change station goal text and fix typos
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: Changes: No C#, Changes: Localization, S: Needs Review, size/S
