Repository space-syndicate/space-station-14, pull requests merged in 2025-06, with the labels that each got.

#3197 happy pride month
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_gay.png
Labels: Changes: No C#, Changes: Sprites, size/XS

#3228 Locale suffix fix: командный -> командование
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/assembly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/S

#3222 remove corvax rainbow jumpskirt
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/meta.json
  Resources/migration.yml
Labels: Changes: No C#, Changes: Sprites, Changes: Localization, S: Needs Review, size/S

#3233 CentCom update
  Resources/Maps/Corvax/corvax_centcomm.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#3224 fix stupid locale
  Resources/Locale/ru-RU/actions/actions/sleep.ftl
  Resources/Locale/ru-RU/corvax/actions/sleep.ftl
  Resources/Locale/ru-RU/corvax/ipc/ipc.ftl
Labels: Changes: No C#, Changes: Localization, size/XS, S: Untriaged, S: Needs Review

#3223 fix rubber pig
  Resources/Prototypes/Corvax/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, S: Needs Review

#3210 [Maps] Silly update 2
  Resources/Maps/Corvax/Shuttles/emergency_corvaxsilly.yml
  Resources/Maps/Corvax/corvax_silly.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/XL

#3237 silly fix
  Resources/Maps/Corvax/corvax_silly.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/S

#2455 Rename chapel
  Resources/Locale/ru-RU/datasets/names/cookie_fortune.ftl
  Resources/Locale/ru-RU/holopad/holopad.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/carpets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/holopad.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_chapel.png
Labels: Changes: No C#, Status: Needs Review, Changes: Sprites, Changes: Localization, S: Needs Review, size/S

#3247 add wizard to secret
  Resources/Prototypes/Corvax/secret_weights.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review
