Repository space-syndicate/space-station-14, pull requests merged in 2025-08, with the labels that each got.

#3319 add РПС to TTSSystem.Sanitize.cs
  Content.Server/Corvax/TTS/TTSSystem.Sanitize.cs
Labels: size/XS, S: Untriaged, S: Needs Review

#3324 Возвращение Менторских ролей
  Resources/Locale/ru-RU/corvax/job/job-description.ftl
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/markers/spawners/jobs.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Corvax/Roles/play_time_trackers.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/M

#3346 Ивентовые иконки
  Content.Client/Corvax/Events/ShowEventIconSystem.cs
  Content.Shared/Corvax/Events/EventIconComponents.cs
  Resources/Prototypes/Corvax/StatusIcon/faction.yml
  Resources/Textures/Corvax/Interface/Misc/other_icons.rsi/Event.png
  Resources/Textures/Corvax/Interface/Misc/other_icons.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, S: Needs Review, size/S

#3350 Detecrive grey resprite
  Resources/Textures/Clothing/OuterClothing/Coats/detective_grey.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective_grey.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective_grey.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective_grey.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective_grey.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective_grey.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged

#3353 upstream
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Switches/switch.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/screen.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/station_map.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/M

#3355 Изменение лодаута инструктора СБ
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#3341 increase time between events overall and fix comment typos
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#3342 Изменение экрана КПБ во время раунда
  Content.Client/Corvax/Ipc/IpcFaceMenu.cs
  Content.Client/Corvax/Ipc/IpcFaceUserInterface.cs
  Content.Server/Corvax/Ipc/IpcSystem.cs
  Content.Shared/Corvax/Ipc/IpcComponent.cs
  Content.Shared/Corvax/Ipc/IpcFaceMenuMessages.cs
  Content.Shared/Corvax/Ipc/IpcFaceProfilePrototype.cs
  Resources/Locale/en-US/corvax/ipc/ipc.ftl
  Resources/Locale/en-US/corvax/markings/ipc.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/actions/ipc.ftl
  Resources/Locale/ru-RU/corvax/ipc/ipc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/actions/ipc.ftl
  Resources/Prototypes/Corvax/Actions/ipc.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/ipc.yml
  Resources/Prototypes/Corvax/Ipc/ipc_face_profiles.yml
Labels: Changes: Localization, S: Untriaged, S: Needs Review, size/M

#3325 [Maps] Исправления руин
  Resources/Maps/Corvax/Ruins/corvax_aplink.yml
  Resources/Maps/Corvax/Ruins/corvax_hotel_trivago.yml
  Resources/Maps/Corvax/Ruins/corvax_research_station.yml
  Resources/Maps/Corvax/Ruins/corvax_ussp_asteroid.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/XL

#3369 sponsorfix
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
Labels: S: Untriaged, S: Needs Review, size/S
