Repository space-syndicate/space-station-14, pull requests merged in 2025-01, with the labels that each got.

#2892 Hardhats resprite
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/on-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/on-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Untriaged, S: Needs Review

#2899 [Maps] Pearl fix
  Resources/Maps/corvax_pearl.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review

#2900 Map pool tweak
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/awesome.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
  Resources/Prototypes/Corvax/Maps/tushkan.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/S

#2888 Add telephone tts
  Content.Server/Telephone/TelephoneSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#2901 [Maps] Outpost update
  Resources/Maps/corvax_outpost.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/L

#2905 [MAPS] Paper Tweak
  Resources/Maps/corvax_paper.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/XL

#2906 [Maps] Awesome Tweak
  Resources/Maps/Shuttles/emergency_awesome.yml
  Resources/Maps/corvax_awesome.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/L

#2902 [Maps] New map Cute Installation
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/corvax_cargocute.yml
  Resources/Maps/Shuttles/emergency_corvaxcute.yml
  Resources/Maps/corvax_cuteinstallation.yml
  Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/cuteinstallation.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/XL

#2909 [Maps] Map pool Glacier
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: Changes: No C#, Changes: Map, size/XS, S: Untriaged

#2910 [Maps] Return salvage shuttle
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#2915 [Maps] fix Cute Installation
  Resources/Maps/Shuttles/corvax_cargocute.yml
  Resources/Maps/corvax_cuteinstallation.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/M

#2916 Pearl Holopad Update
  Resources/Maps/corvax_pearl.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#2918 Sprites reverts
  Resources/Prototypes/Entities/Structures/Wallmounts/timer.yml
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_blue.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_gold.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_gray.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_orange.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_red.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_rusted.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_silver.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/meta.json
  Resources/Textures/Objects/Devices/tablets.rsi/generic.png
  Resources/Textures/Objects/Devices/tablets.rsi/meta.json
  Resources/Textures/Objects/Devices/tablets.rsi/tablet.png
  Resources/Textures/Objects/Devices/tablets.rsi/tabletsol.png
  Resources/Textures/Structures/Machines/station_map.rsi/meta.json
  Resources/Textures/Structures/Machines/station_map.rsi/station_map0.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_broken.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_frame0.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_frame1.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_frame2.png
  Resources/Textures/Structures/Wallmounts/signalscreen.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signalscreen.rsi/signalscreen.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/S

#2919 [Maps] fix Cute Installation
  Resources/Maps/corvax_cuteinstallation.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/L

#2920 [MAPS] Paper New Year Good Bye.
  Resources/Maps/corvax_paper.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/XL

#2922 [Maps] Cute Installation update #1
  Resources/Maps/Corvax/corvax_cuteinstallation.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/L

#2932 add server lobby names
  Resources/ConfigPresets/Corvax/athara.toml
  Resources/ConfigPresets/Corvax/echo.toml
  Resources/ConfigPresets/Corvax/elysium.toml
  Resources/ConfigPresets/Corvax/main.toml
  Resources/ConfigPresets/Corvax/nebula.toml
  Resources/ConfigPresets/Corvax/nova.toml
  Resources/ConfigPresets/Corvax/solaris.toml
  Resources/ConfigPresets/Corvax/wl.toml
Labels: Changes: No C#, S: Untriaged, size/S

#2937 [MAPS] Outpost update
  Resources/Maps/Corvax/corvax_outpost.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#2939 [Maps] Maus update
  Resources/Maps/Corvax/corvax_maus.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, size/XL

#2938 [Maps] Emergency Awesome fix
  Resources/Maps/Corvax/Shuttles/emergency_awesome.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/M

#2942 [Maps] Tushkan update #4
  Resources/Maps/Corvax/corvax_tushkan.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#2943 Правки перевода
  Resources/Locale/ru-RU/datasets/figurines.ftl
  Resources/Locale/ru-RU/holopad/holopad.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/holopad.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review

#2941 Правки перевода
  Resources/Locale/ru-RU/corvax/paper/books-lore.ftl
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/holopad/holopad.ftl
  Resources/Locale/ru-RU/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/permaescape.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/suit_storage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/eva-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/softsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/holopad.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Textures/Structures/Wallmounts/signs.rsi/eva.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Localization, S: Untriaged, S: Needs Review, size/M

#2925 fix locale
  Resources/Locale/ru-RU/holopad/holopad.ftl
Labels: Changes: No C#, Changes: Localization, size/XS, S: Untriaged, S: Needs Review

#2874 Fix locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/filing_cabinets.ftl
Labels: Changes: No C#, Changes: Localization, S: Needs Review, size/S

#2946 [Maps] Cute tweaks
  Resources/Maps/Corvax/corvax_cute.yml
  Resources/Prototypes/Corvax/Maps/Corvax/cute.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/M

#2944 fix locale
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/discord/watchlist-connections.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/holopad/holopad.ftl
  Resources/Locale/ru-RU/lobby/lobby-gui.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/soda.ftl
  Resources/Locale/ru-RU/robotics/mmi.ftl
  Resources/Locale/ru-RU/speech/accent-systems.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/mantles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/department/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/department/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/food_base.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review

#2949 tweak locale
  Resources/Locale/ru-RU/components/gas-pump-component.ftl
Labels: Changes: No C#, Changes: Localization, size/XS, S: Untriaged, S: Needs Review

#2903 Revert "Add Ai announcements sound"
  Resources/Audio/Corvax/Announcements/aiannounce.ogg
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, Changes: Audio

#2950 ru tape logo
  Resources/Textures/Logo/logo-ru-tape.png
  Resources/manifest.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#2953 [Maps] Maus fix
  Resources/Maps/Corvax/corvax_maus.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review

#2951 [Maps] Крупное обновление Кьют
  Resources/Maps/Corvax/Shuttles/emergency_corvaxcute.yml
  Resources/Maps/Corvax/corvax_cute.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/XL

#2957 Небольшая правка рецепта
  Resources/Prototypes/Corvax/Lathes/misc.yml
Labels: Changes: No C#, size/XS, S: Untriaged, S: Needs Review

#2959 ClearNewYearOnPearl
  Resources/Maps/Corvax/corvax_pearl.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, S: Needs Review, size/L
