Repository space-syndicate/space-station-14, pull requests merged in 2025-10, with the labels that each got.

#3329 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#3405 Upstream locale 08-31
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/changeling/changeling.ftl
  Resources/Locale/ru-RU/contraband/contraband-severity.ftl
  Resources/Locale/ru-RU/damage/radiation.ftl
  Resources/Locale/ru-RU/engineering/inflatables.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-changeling.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/kitchen/components/kitchen-spike-component.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/locks/selectable-locks.ftl
  Resources/Locale/ru-RU/reagents/meta/chemicals.ftl
  Resources/Locale/ru-RU/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/selectable-component/selectable-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/animal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/animal/bloodsucker.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/organs/arachnid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/chameleon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/ship_vs_ship.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/nuke_ops_spawners.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/mothershipcore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/folders.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/shields/shields.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/locks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/arrows.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/statuseffects/body.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/statuseffects/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/statuseffects/speech.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/shuttle.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/materialdoors/material_doors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/surveillance_camera_routers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/apc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/windows/xenoborg.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/roles/mindroles/mind_roles.ftl
  Resources/Locale/ru-RU/stack/stacks.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: Changes: No C#, Changes: Localization, S: Untriaged, size/M

#3384 Eyes slot for aghost
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/S

#3381 Переработка вкладки TTS
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/Corvax/TTS/TTSTab.xaml
  Content.Client/Corvax/TTS/TTSTab.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Resources/Locale/ru-RU/corvax/tts/tts-ui.ftl
  Resources/Locale/ru-RU/corvax/tts/tts-voices.ftl
Labels: Changes: UI, Changes: Localization, S: Untriaged, S: Needs Review, size/M

#3408 Отголоски эха
  Resources/ConfigPresets/Corvax/echo.toml
Labels: Changes: No C#, size/XS, S: Needs Review

#3402 Автоматизация бюрократии
  Content.Server/Corvax/Documents/DocumentPrinterSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Corvax/Documents/DocumentPrinterComponent.cs
  Content.Shared/Lathe/LatheComponent.cs
  Resources/Locale/en-US/corvax/paper/doc-printer-tags.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/machines/printer.ftl
  Resources/Locale/ru-RU/corvax/paper/doc-printer-tags.ftl
  Resources/Locale/ru-RU/corvax/paper/doc-printer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/printer.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
Labels: Changes: Localization, S: Untriaged, S: Needs Review, size/M

#3413 Фикс настройки перса
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI, size/XS, S: Untriaged, S: Needs Review

#3414 Починка спрайта скафандра капитана??? Как такое может быть? Корвакс. Спрайтеры. Подписаться.
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-equipped-HELMET.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Needs Review
