Repository space-syndicate/space-station-14, pull requests merged in 2025-09, with the labels that each got.

#3367 Sponsor suffix
  Content.Client/Corvax/SponsorOnlyHelpers.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Resources/Locale/ru-RU/corvax/species/species-ui.ftl
Labels: Changes: UI, Changes: Localization, S: Untriaged, S: Needs Review, size/S

#3380 SponsorUpdate
  Resources/Locale/en-US/corvax/markings/ipc.ftl
  Resources/Locale/ru-RU/corvax/markings/ipc.ftl
  Resources/Locale/ru-RU/corvax/markings/tajaran.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/ipc.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/ipc_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/tajaran.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/Corvax/Ipc/ipc_face_profiles.yml
  Resources/Prototypes/Corvax/Species/ipc.yml
  Resources/Prototypes/Corvax/Species/tajaran.yml
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
Labels: Changes: No C#, Changes: Localization, S: Untriaged, S: Needs Review, size/L

#3392 [Maps] Pen Centcom Fix
  Resources/Maps/Corvax/corvax_centcomm.yml
Labels: Changes: No C#, Changes: Map, size/XS, S: Untriaged, S: Needs Review

#3393 Revert "Content maker plush"
  Resources/Audio/Corvax/Items/Toys/attributions.yml
  Resources/Audio/Corvax/Items/Toys/yamol.ogg
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/fun/toys.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Corvax/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Corvax/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Textures/Corvax/Objects/Fun/Plushies/geoffroy.rsi/equipped-HELMET.png
  Resources/Textures/Corvax/Objects/Fun/Plushies/geoffroy.rsi/icon.png
  Resources/Textures/Corvax/Objects/Fun/Plushies/geoffroy.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Fun/Plushies/geoffroy.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Fun/Plushies/geoffroy.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, Changes: Localization, S: Untriaged, S: Needs Review, size/S, Changes: Audio
